{:index 125, :time 10991230250, :type :invoke, :process 65, :f :cas, :value [4 0]}
{:index 127, :time 11185303708, :type :invoke, :process 0, :f :read, :value nil}
{:index 129, :time 11337780417, :type :invoke, :process 69, :f :write, :value 1}
{:index 131, :time 11513157083, :type :invoke, :process 2, :f :read, :value nil}
{:index 133, :time 11685724708, :type :invoke, :process 1, :f :read, :value nil}
{:index 135, :time 11807151625, :type :invoke, :process 70, :f :cas, :value [0 4]}
{:index 136, :time 11999083500, :type :info, :process 65, :f :cas, :value [4 0], :error :net-timeout}
{:index 137, :time 11999386542, :type :invoke, :process 71, :f :cas, :value [1 3]}
{:index 138, :time 12186808500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 139, :time 12186947208, :type :invoke, :process 0, :f :read, :value nil}
{:index 140, :time 12343035417, :type :info, :process 69, :f :write, :value 1, :error :net-timeout}
{:index 141, :time 12343277458, :type :invoke, :process 75, :f :cas, :value [2 1]}
{:index 142, :time 12518551167, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 143, :time 12518682292, :type :invoke, :process 2, :f :read, :value nil}
{:index 144, :time 12686372833, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 145, :time 12686510833, :type :invoke, :process 1, :f :read, :value nil}
{:index 146, :time 12808157333, :type :info, :process 70, :f :cas, :value [0 4], :error :net-timeout}
{:index 147, :time 12838039042, :type :invoke, :process 76, :f :cas, :value [1 0]}
{:index 148, :time 13006163292, :type :info, :process 71, :f :cas, :value [1 3], :error :net-timeout}
{:index 149, :time 13006549667, :type :invoke, :process 77, :f :cas, :value [0 4]}
{:index 150, :time 13192951125, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 151, :time 13193204125, :type :invoke, :process 0, :f :read, :value nil}
{:index 152, :time 13348815958, :type :info, :process 75, :f :cas, :value [2 1], :error :net-timeout}
{:index 153, :time 13348943417, :type :invoke, :process 81, :f :cas, :value [2 1]}
{:index 154, :time 13522723542, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 155, :time 13522876583, :type :invoke, :process 2, :f :read, :value nil}
{:index 156, :time 13691953458, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 157, :time 13718374750, :type :invoke, :process 1, :f :read, :value nil}
{:index 158, :time 13842876792, :type :info, :process 76, :f :cas, :value [1 0], :error :net-timeout}
{:index 159, :time 13843048333, :type :invoke, :process 82, :f :cas, :value [4 0]}
{:index 160, :time 14009984000, :type :info, :process 77, :f :cas, :value [0 4], :error :net-timeout}
{:index 161, :time 14010094667, :type :invoke, :process 83, :f :cas, :value [2 2]}
{:index 162, :time 14199684083, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 163, :time 14199895917, :type :invoke, :process 0, :f :read, :value nil}
{:index 164, :time 14354242625, :type :info, :process 81, :f :cas, :value [2 1], :error :net-timeout}
{:index 165, :time 14354474542, :type :invoke, :process 87, :f :cas, :value [0 2]}
{:index 166, :time 14525655375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 167, :time 14547155708, :type :invoke, :process 2, :f :read, :value nil}
{:index 168, :time 14722886125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 169, :time 14723294708, :type :invoke, :process 1, :f :read, :value nil}
{:index 170, :time 14847923250, :type :info, :process 82, :f :cas, :value [4 0], :error :net-timeout}
{:index 171, :time 14877597167, :type :invoke, :process 88, :f :write, :value 2}
{:index 172, :time 15015513542, :type :info, :process 83, :f :cas, :value [2 2], :error :net-timeout}
{:index 173, :time 15015916667, :type :invoke, :process 89, :f :write, :value 1}
{:index 174, :time 15202310042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 175, :time 15202576792, :type :invoke, :process 0, :f :read, :value nil}
{:index 176, :time 15355687375, :type :info, :process 87, :f :cas, :value [0 2], :error :net-timeout}
{:index 177, :time 15355954167, :type :invoke, :process 93, :f :cas, :value [3 2]}
{:index 178, :time 15551039458, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 179, :time 15551296000, :type :invoke, :process 2, :f :read, :value nil}
{:index 180, :time 15730077042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 181, :time 15730344583, :type :invoke, :process 1, :f :read, :value nil}
{:index 182, :time 15883055833, :type :info, :process 88, :f :write, :value 2, :error :net-timeout}
{:index 183, :time 15883345208, :type :invoke, :process 94, :f :write, :value 2}
{:index 184, :time 16019895167, :type :info, :process 89, :f :write, :value 1, :error :net-timeout}
{:index 186, :time 16204026792, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 188, :time 16361740208, :type :info, :process 93, :f :cas, :value [3 2], :error :net-timeout}
{:index 190, :time 16556614208, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 192, :time 16731944000, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 194, :time 16887603458, :type :info, :process 94, :f :write, :value 2, :error :net-timeout}
