{:index 0, :time 8955042, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 137752458, :type :invoke, :process 3, :f :write, :value 4}
{:index 2, :time 288376583, :type :invoke, :process 2, :f :read, :value nil}
{:index 3, :time 487042958, :type :invoke, :process 1, :f :read, :value nil}
{:index 4, :time 574245583, :type :invoke, :process 4, :f :cas, :value [2 4]}
{:index 5, :time 774414000, :type :invoke, :process 5, :f :cas, :value [3 4]}
{:index 6, :time 1024640458, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 7, :time 1024872625, :type :invoke, :process 0, :f :read, :value nil}
{:index 8, :time 1142942917, :type :info, :process 3, :f :write, :value 4, :error :net-timeout}
{:index 9, :time 1229260958, :type :invoke, :process 9, :f :cas, :value [2 0]}
{:index 10, :time 1294820167, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 11, :time 1294925333, :type :invoke, :process 2, :f :read, :value nil}
{:index 12, :time 1495370042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 13, :time 1495623875, :type :invoke, :process 1, :f :read, :value nil}
{:index 14, :time 1579768750, :type :info, :process 4, :f :cas, :value [2 4], :error :net-timeout}
{:index 15, :time 1579884917, :type :invoke, :process 10, :f :cas, :value [0 0]}
{:index 16, :time 1780001500, :type :info, :process 5, :f :cas, :value [3 4], :error :net-timeout}
{:index 17, :time 1780261417, :type :invoke, :process 11, :f :cas, :value [0 0]}
{:index 18, :time 2027499833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 19, :time 2027727292, :type :invoke, :process 0, :f :read, :value nil}
{:index 20, :time 2236675792, :type :info, :process 9, :f :cas, :value [2 0], :error :net-timeout}
{:index 21, :time 2237060125, :type :invoke, :process 15, :f :cas, :value [3 4]}
{:index 22, :time 2300452750, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 23, :time 2401676333, :type :invoke, :process 2, :f :read, :value nil}
{:index 24, :time 2499430250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 25, :time 2499559958, :type :invoke, :process 1, :f :read, :value nil}
{:index 26, :time 2585274208, :type :info, :process 10, :f :cas, :value [0 0], :error :net-timeout}
{:index 27, :time 2674486875, :type :invoke, :process 16, :f :cas, :value [1 0]}
{:index 28, :time 2786166792, :type :info, :process 11, :f :cas, :value [0 0], :error :net-timeout}
{:index 29, :time 2786496000, :type :invoke, :process 17, :f :cas, :value [2 4]}
{:index 30, :time 3029760958, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 31, :time 3030094708, :type :invoke, :process 0, :f :read, :value nil}
{:index 32, :time 3242478458, :type :info, :process 15, :f :cas, :value [3 4], :error :net-timeout}
{:index 33, :time 3242857500, :type :invoke, :process 21, :f :write, :value 0}
{:index 34, :time 3407378417, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 35, :time 3407478292, :type :invoke, :process 2, :f :read, :value nil}
{:index 36, :time 3505048750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 37, :time 3598237667, :type :invoke, :process 1, :f :read, :value nil}
{:index 38, :time 3681814583, :type :info, :process 16, :f :cas, :value [1 0], :error :net-timeout}
{:index 39, :time 3747477167, :type :invoke, :process 22, :f :cas, :value [4 2]}
{:index 40, :time 3789270833, :type :info, :process 17, :f :cas, :value [2 4], :error :net-timeout}
{:index 41, :time 3789436083, :type :invoke, :process 23, :f :write, :value 0}
{:index 42, :time 4034875250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 43, :time 4035158458, :type :invoke, :process 0, :f :read, :value nil}
{:index 44, :time 4248954625, :type :info, :process 21, :f :write, :value 0, :error :net-timeout}
{:index 45, :time 4249411333, :type :invoke, :process 27, :f :cas, :value [4 3]}
{:index 46, :time 4409435875, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 47, :time 4409539250, :type :invoke, :process 2, :f :read, :value nil}
{:index 48, :time 4601045458, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 49, :time 4605314083, :type :invoke, :process 1, :f :read, :value nil}
{:index 50, :time 4752038917, :type :info, :process 22, :f :cas, :value [4 2], :error :net-timeout}
{:index 51, :time 4754155708, :type :invoke, :process 28, :f :cas, :value [4 1]}
{:index 52, :time 4791016250, :type :info, :process 23, :f :write, :value 0, :error :net-timeout}
{:index 53, :time 4939221750, :type :invoke, :process 29, :f :cas, :value [4 0]}
{:index 54, :time 5039089875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 55, :time 5039260750, :type :invoke, :process 0, :f :read, :value nil}
{:index 56, :time 5251539708, :type :info, :process 27, :f :cas, :value [4 3], :error :net-timeout}
{:index 57, :time 5251806167, :type :invoke, :process 33, :f :write, :value 1}
{:index 58, :time 5415220875, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 59, :time 5415424292, :type :invoke, :process 2, :f :read, :value nil}
{:index 60, :time 5607901292, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 61, :time 5608053250, :type :invoke, :process 1, :f :read, :value nil}
{:index 62, :time 5759207333, :type :info, :process 28, :f :cas, :value [4 1], :error :net-timeout}
{:index 63, :time 5785029750, :type :invoke, :process 34, :f :cas, :value [0 0]}
{:index 64, :time 5946130583, :type :info, :process 29, :f :cas, :value [4 0], :error :net-timeout}
{:index 66, :time 6041178125, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 68, :time 6256250542, :type :info, :process 33, :f :write, :value 1, :error :net-timeout}
{:index 70, :time 6420385708, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 72, :time 6612122167, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 74, :time 6789106708, :type :info, :process 34, :f :cas, :value [0 0], :error :net-timeout}
