{:index 605, :time 51394863542, :type :invoke, :process 305, :f :write, :value 1}
{:index 607, :time 51515774750, :type :invoke, :process 0, :f :read, :value nil}
{:index 609, :time 51713494334, :type :invoke, :process 2, :f :read, :value nil}
{:index 611, :time 51899115792, :type :invoke, :process 1, :f :read, :value nil}
{:index 613, :time 52006595750, :type :invoke, :process 309, :f :cas, :value [3 0]}
{:index 615, :time 52210521834, :type :invoke, :process 310, :f :write, :value 2}
{:index 616, :time 52396843459, :type :info, :process 305, :f :write, :value 1, :error :net-timeout}
{:index 617, :time 52396927375, :type :invoke, :process 311, :f :write, :value 3}
{:index 618, :time 52521025792, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 619, :time 52521089417, :type :invoke, :process 0, :f :read, :value nil}
{:index 620, :time 52718617750, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 621, :time 52718806334, :type :invoke, :process 2, :f :read, :value nil}
{:index 622, :time 52899491709, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 623, :time 52899610875, :type :invoke, :process 1, :f :read, :value nil}
{:index 624, :time 53009844084, :type :info, :process 309, :f :cas, :value [3 0], :error :net-timeout}
{:index 625, :time 53097273959, :type :invoke, :process 315, :f :write, :value 1}
{:index 626, :time 53210592792, :type :info, :process 310, :f :write, :value 2, :error :net-timeout}
{:index 627, :time 53210707500, :type :invoke, :process 316, :f :cas, :value [2 4]}
{:index 628, :time 53398557417, :type :info, :process 311, :f :write, :value 3, :error :net-timeout}
{:index 629, :time 53398748042, :type :invoke, :process 317, :f :cas, :value [4 2]}
{:index 630, :time 53526288500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 631, :time 53526492500, :type :invoke, :process 0, :f :read, :value nil}
{:index 632, :time 53720071292, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 633, :time 53720303750, :type :invoke, :process 2, :f :read, :value nil}
{:index 634, :time 53904837917, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 635, :time 53905025625, :type :invoke, :process 1, :f :read, :value nil}
{:index 636, :time 54100764709, :type :info, :process 315, :f :write, :value 1, :error :net-timeout}
{:index 637, :time 54100984000, :type :invoke, :process 321, :f :cas, :value [2 2]}
{:index 638, :time 54216025834, :type :info, :process 316, :f :cas, :value [2 4], :error :net-timeout}
{:index 639, :time 54216419292, :type :invoke, :process 322, :f :cas, :value [0 1]}
{:index 640, :time 54401971084, :type :info, :process 317, :f :cas, :value [4 2], :error :net-timeout}
{:index 641, :time 54402495084, :type :invoke, :process 323, :f :write, :value 0}
{:index 642, :time 54533292167, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 643, :time 54533651875, :type :invoke, :process 0, :f :read, :value nil}
{:index 644, :time 54721419125, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 645, :time 54721597417, :type :invoke, :process 2, :f :read, :value nil}
{:index 646, :time 54906889125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 647, :time 54907044334, :type :invoke, :process 1, :f :read, :value nil}
{:index 648, :time 55103856875, :type :info, :process 321, :f :cas, :value [2 2], :error :net-timeout}
{:index 649, :time 55103986167, :type :invoke, :process 327, :f :cas, :value [3 2]}
{:index 650, :time 55219278334, :type :info, :process 322, :f :cas, :value [0 1], :error :net-timeout}
{:index 651, :time 55219504667, :type :invoke, :process 328, :f :cas, :value [1 3]}
{:index 652, :time 55408704417, :type :info, :process 323, :f :write, :value 0, :error :net-timeout}
{:index 653, :time 55409037834, :type :invoke, :process 329, :f :cas, :value [1 1]}
{:index 654, :time 55535666750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 655, :time 55535860750, :type :invoke, :process 0, :f :read, :value nil}
{:index 656, :time 55727553334, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 657, :time 55727651750, :type :invoke, :process 2, :f :read, :value nil}
{:index 658, :time 55914171542, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 659, :time 55914291125, :type :invoke, :process 1, :f :read, :value nil}
{:index 660, :time 56108239417, :type :info, :process 327, :f :cas, :value [3 2], :error :net-timeout}
{:index 661, :time 56108367334, :type :invoke, :process 333, :f :cas, :value [2 3]}
{:index 662, :time 56225197750, :type :info, :process 328, :f :cas, :value [1 3], :error :net-timeout}
{:index 663, :time 56225327584, :type :invoke, :process 334, :f :write, :value 0}
{:index 664, :time 56412820000, :type :info, :process 329, :f :cas, :value [1 1], :error :net-timeout}
{:index 666, :time 56537598500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 668, :time 56732961792, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 670, :time 56919666500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 672, :time 57113933375, :type :info, :process 333, :f :cas, :value [2 3], :error :net-timeout}
{:index 674, :time 57228485292, :type :info, :process 334, :f :write, :value 0, :error :net-timeout}
