{:index 365, :time 31101380917, :type :invoke, :process 185, :f :cas, :value [4 2]}
{:index 367, :time 31232033084, :type :invoke, :process 0, :f :read, :value nil}
{:index 369, :time 31401743500, :type :invoke, :process 2, :f :read, :value nil}
{:index 371, :time 31578430667, :type :invoke, :process 1, :f :read, :value nil}
{:index 373, :time 31720824250, :type :invoke, :process 189, :f :cas, :value [1 1]}
{:index 375, :time 31941734334, :type :invoke, :process 190, :f :write, :value 1}
{:index 376, :time 32107375917, :type :info, :process 185, :f :cas, :value [4 2], :error :net-timeout}
{:index 377, :time 32120493834, :type :invoke, :process 191, :f :cas, :value [2 0]}
{:index 378, :time 32232946250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 379, :time 32325177250, :type :invoke, :process 0, :f :read, :value nil}
{:index 380, :time 32406516792, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 381, :time 32406614500, :type :invoke, :process 2, :f :read, :value nil}
{:index 382, :time 32583976792, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 383, :time 32593842667, :type :invoke, :process 1, :f :read, :value nil}
{:index 384, :time 32726712792, :type :info, :process 189, :f :cas, :value [1 1], :error :net-timeout}
{:index 385, :time 32727104500, :type :invoke, :process 195, :f :cas, :value [1 4]}
{:index 386, :time 32946245084, :type :info, :process 190, :f :write, :value 1, :error :net-timeout}
{:index 387, :time 32946422084, :type :invoke, :process 196, :f :cas, :value [0 0]}
{:index 388, :time 33125272000, :type :info, :process 191, :f :cas, :value [2 0], :error :net-timeout}
{:index 389, :time 33125395042, :type :invoke, :process 197, :f :cas, :value [3 2]}
{:index 390, :time 33330599834, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 391, :time 33330763834, :type :invoke, :process 0, :f :read, :value nil}
{:index 392, :time 33411861584, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 393, :time 33412096917, :type :invoke, :process 2, :f :read, :value nil}
{:index 394, :time 33595257209, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 395, :time 33595476792, :type :invoke, :process 1, :f :read, :value nil}
{:index 396, :time 33732029792, :type :info, :process 195, :f :cas, :value [1 4], :error :net-timeout}
{:index 397, :time 33774681500, :type :invoke, :process 201, :f :cas, :value [4 0]}
{:index 398, :time 33951412959, :type :info, :process 196, :f :cas, :value [0 0], :error :net-timeout}
{:index 399, :time 33951676292, :type :invoke, :process 202, :f :write, :value 0}
{:index 400, :time 34130388834, :type :info, :process 197, :f :cas, :value [3 2], :error :net-timeout}
{:index 401, :time 34130596459, :type :invoke, :process 203, :f :cas, :value [1 4]}
{:index 402, :time 34334818042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 403, :time 34335060250, :type :invoke, :process 0, :f :read, :value nil}
{:index 404, :time 34418219667, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 405, :time 34418488667, :type :invoke, :process 2, :f :read, :value nil}
{:index 406, :time 34596472084, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 407, :time 34596632750, :type :invoke, :process 1, :f :read, :value nil}
{:index 408, :time 34780496667, :type :info, :process 201, :f :cas, :value [4 0], :error :net-timeout}
{:index 409, :time 34780791209, :type :invoke, :process 207, :f :cas, :value [0 3]}
{:index 410, :time 34954086542, :type :info, :process 202, :f :write, :value 0, :error :net-timeout}
{:index 411, :time 34954297834, :type :invoke, :process 208, :f :cas, :value [4 2]}
{:index 412, :time 35134588125, :type :info, :process 203, :f :cas, :value [1 4], :error :net-timeout}
{:index 413, :time 35134803667, :type :invoke, :process 209, :f :write, :value 0}
{:index 414, :time 35342184250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 415, :time 35342318667, :type :invoke, :process 0, :f :read, :value nil}
{:index 416, :time 35420274375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 417, :time 35420476667, :type :invoke, :process 2, :f :read, :value nil}
{:index 418, :time 35601558125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 419, :time 35617412542, :type :invoke, :process 1, :f :read, :value nil}
{:index 420, :time 35786629334, :type :info, :process 207, :f :cas, :value [0 3], :error :net-timeout}
{:index 421, :time 35786774959, :type :invoke, :process 213, :f :cas, :value [1 2]}
{:index 422, :time 35959977750, :type :info, :process 208, :f :cas, :value [4 2], :error :net-timeout}
{:index 423, :time 35960237584, :type :invoke, :process 214, :f :cas, :value [0 1]}
{:index 424, :time 36140532292, :type :info, :process 209, :f :write, :value 0, :error :net-timeout}
{:index 426, :time 36343342500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 428, :time 36425499459, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 430, :time 36622973625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 432, :time 36792302750, :type :info, :process 213, :f :cas, :value [1 2], :error :net-timeout}
{:index 434, :time 36963041917, :type :info, :process 214, :f :cas, :value [0 1], :error :net-timeout}
