{:index 65, :time 5946340500, :type :invoke, :process 35, :f :write, :value 2}
{:index 67, :time 6042555208, :type :invoke, :process 0, :f :read, :value nil}
{:index 69, :time 6256702042, :type :invoke, :process 39, :f :cas, :value [1 2]}
{:index 71, :time 6420522125, :type :invoke, :process 2, :f :read, :value nil}
{:index 73, :time 6612381208, :type :invoke, :process 1, :f :read, :value nil}
{:index 75, :time 6789429500, :type :invoke, :process 40, :f :cas, :value [2 0]}
{:index 76, :time 6953849958, :type :info, :process 35, :f :write, :value 2, :error :net-timeout}
{:index 77, :time 6954182333, :type :invoke, :process 41, :f :write, :value 3}
{:index 78, :time 7048368125, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 79, :time 7048619000, :type :invoke, :process 0, :f :read, :value nil}
{:index 80, :time 7261268292, :type :info, :process 39, :f :cas, :value [1 2], :error :net-timeout}
{:index 81, :time 7261520750, :type :invoke, :process 45, :f :cas, :value [3 2]}
{:index 82, :time 7425622667, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 83, :time 7453859417, :type :invoke, :process 2, :f :read, :value nil}
{:index 84, :time 7615231292, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 85, :time 7615423750, :type :invoke, :process 1, :f :read, :value nil}
{:index 86, :time 7791989458, :type :info, :process 40, :f :cas, :value [2 0], :error :net-timeout}
{:index 87, :time 7792199333, :type :invoke, :process 46, :f :cas, :value [1 0]}
{:index 88, :time 7960704500, :type :info, :process 41, :f :write, :value 3, :error :net-timeout}
{:index 89, :time 7975823375, :type :invoke, :process 47, :f :cas, :value [0 2]}
{:index 90, :time 8054590458, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 91, :time 8097935292, :type :invoke, :process 0, :f :read, :value nil}
{:index 92, :time 8264079500, :type :info, :process 45, :f :cas, :value [3 2], :error :net-timeout}
{:index 93, :time 8264402917, :type :invoke, :process 51, :f :write, :value 3}
{:index 94, :time 8454913792, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 95, :time 8455013875, :type :invoke, :process 2, :f :read, :value nil}
{:index 96, :time 8619608042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 97, :time 8619673208, :type :invoke, :process 1, :f :read, :value nil}
{:index 98, :time 8796594083, :type :info, :process 46, :f :cas, :value [1 0], :error :net-timeout}
{:index 99, :time 8796845958, :type :invoke, :process 52, :f :cas, :value [1 0]}
{:index 100, :time 8981687042, :type :info, :process 47, :f :cas, :value [0 2], :error :net-timeout}
{:index 101, :time 8982142250, :type :invoke, :process 53, :f :cas, :value [4 3]}
{:index 102, :time 9104361625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 103, :time 9179361458, :type :invoke, :process 0, :f :read, :value nil}
{:index 104, :time 9269085417, :type :info, :process 51, :f :write, :value 3, :error :net-timeout}
{:index 105, :time 9332160000, :type :invoke, :process 57, :f :cas, :value [1 1]}
{:index 106, :time 9460544083, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 107, :time 9503283875, :type :invoke, :process 2, :f :read, :value nil}
{:index 108, :time 9625107042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 109, :time 9625314750, :type :invoke, :process 1, :f :read, :value nil}
{:index 110, :time 9799029333, :type :info, :process 52, :f :cas, :value [1 0], :error :net-timeout}
{:index 111, :time 9799323833, :type :invoke, :process 58, :f :cas, :value [4 0]}
{:index 112, :time 9985193292, :type :info, :process 53, :f :cas, :value [4 3], :error :net-timeout}
{:index 113, :time 9985252667, :type :invoke, :process 59, :f :write, :value 1}
{:index 114, :time 10185085667, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 115, :time 10185145875, :type :invoke, :process 0, :f :read, :value nil}
{:index 116, :time 10334584333, :type :info, :process 57, :f :cas, :value [1 1], :error :net-timeout}
{:index 117, :time 10334679667, :type :invoke, :process 63, :f :cas, :value [1 4]}
{:index 118, :time 10507850750, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 119, :time 10507933583, :type :invoke, :process 2, :f :read, :value nil}
{:index 120, :time 10630128250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 121, :time 10682075000, :type :invoke, :process 1, :f :read, :value nil}
{:index 122, :time 10803224667, :type :info, :process 58, :f :cas, :value [4 0], :error :net-timeout}
{:index 123, :time 10803542417, :type :invoke, :process 64, :f :write, :value 0}
{:index 124, :time 10991046125, :type :info, :process 59, :f :write, :value 1, :error :net-timeout}
{:index 126, :time 11185192500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 128, :time 11337566333, :type :info, :process 63, :f :cas, :value [1 4], :error :net-timeout}
{:index 130, :time 11513030375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 132, :time 11685550208, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 134, :time 11806925167, :type :info, :process 64, :f :write, :value 0, :error :net-timeout}
