{:index 1041, :time 35314503958, :type :invoke, :process 315, :f :cas, :value [3 4]}
{:index 1044, :time 35382046750, :type :invoke, :process 304, :f :cas, :value [3 2]}
{:index 1047, :time 35461263583, :type :invoke, :process 1, :f :read, :value nil}
{:index 1055, :time 36105885458, :type :invoke, :process 2, :f :read, :value nil}
{:index 1057, :time 36160168000, :type :invoke, :process 0, :f :read, :value nil}
{:index 1061, :time 36280736917, :type :invoke, :process 317, :f :write, :value 3}
{:index 1062, :time 36319355875, :type :info, :process 315, :f :cas, :value [3 4], :error :net-timeout}
{:index 1063, :time 36319488000, :type :invoke, :process 327, :f :cas, :value [1 2]}
{:index 1066, :time 36387078792, :type :info, :process 304, :f :cas, :value [3 2], :error :net-timeout}
{:index 1067, :time 36436409667, :type :invoke, :process 316, :f :cas, :value [1 0]}
{:index 1069, :time 36466274667, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1070, :time 36484671292, :type :invoke, :process 1, :f :read, :value nil}
{:index 1078, :time 37110791833, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1079, :time 37132853375, :type :invoke, :process 2, :f :read, :value nil}
{:index 1080, :time 37165114583, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1081, :time 37173835458, :type :invoke, :process 0, :f :read, :value nil}
{:index 1084, :time 37283982583, :type :info, :process 317, :f :write, :value 3, :error :net-timeout}
{:index 1085, :time 37284103125, :type :invoke, :process 329, :f :cas, :value [4 0]}
{:index 1086, :time 37320227208, :type :info, :process 327, :f :cas, :value [1 2], :error :net-timeout}
{:index 1087, :time 37339539917, :type :invoke, :process 339, :f :cas, :value [4 0]}
{:index 1090, :time 37439540667, :type :info, :process 316, :f :cas, :value [1 0], :error :net-timeout}
{:index 1091, :time 37439633542, :type :invoke, :process 328, :f :cas, :value [1 0]}
{:index 1092, :time 37489680333, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1093, :time 37489723708, :type :invoke, :process 1, :f :read, :value nil}
{:index 1102, :time 38133572208, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1103, :time 38133690958, :type :invoke, :process 2, :f :read, :value nil}
{:index 1104, :time 38178864792, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1105, :time 38178986375, :type :invoke, :process 0, :f :read, :value nil}
{:index 1108, :time 38285280750, :type :info, :process 329, :f :cas, :value [4 0], :error :net-timeout}
{:index 1109, :time 38285382042, :type :invoke, :process 341, :f :cas, :value [0 4]}
{:index 1110, :time 38344155625, :type :info, :process 339, :f :cas, :value [4 0], :error :net-timeout}
{:index 1111, :time 38344264167, :type :invoke, :process 351, :f :cas, :value [0 0]}
{:index 1114, :time 38444291708, :type :info, :process 328, :f :cas, :value [1 0], :error :net-timeout}
{:index 1115, :time 38455739125, :type :invoke, :process 340, :f :write, :value 2}
{:index 1116, :time 38494148750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1117, :time 38494220333, :type :invoke, :process 1, :f :read, :value nil}
{:index 1126, :time 39138493792, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1127, :time 39138612875, :type :invoke, :process 2, :f :read, :value nil}
{:index 1128, :time 39183968875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1129, :time 39184090333, :type :invoke, :process 0, :f :read, :value nil}
{:index 1132, :time 39286594333, :type :info, :process 341, :f :cas, :value [0 4], :error :net-timeout}
{:index 1133, :time 39286685792, :type :invoke, :process 353, :f :cas, :value [3 1]}
{:index 1134, :time 39344945917, :type :info, :process 351, :f :cas, :value [0 0], :error :net-timeout}
{:index 1135, :time 39345012833, :type :invoke, :process 363, :f :cas, :value [4 2]}
{:index 1138, :time 39460523833, :type :info, :process 340, :f :write, :value 2, :error :net-timeout}
{:index 1139, :time 39460661792, :type :invoke, :process 352, :f :cas, :value [2 4]}
{:index 1140, :time 39498994292, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1141, :time 39499098875, :type :invoke, :process 1, :f :read, :value nil}
{:index 1150, :time 40140620833, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1151, :time 40140683958, :type :invoke, :process 2, :f :read, :value nil}
{:index 1152, :time 40188967833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1153, :time 40189059917, :type :invoke, :process 0, :f :read, :value nil}
{:index 1156, :time 40291322875, :type :info, :process 353, :f :cas, :value [3 1], :error :net-timeout}
{:index 1157, :time 40291409708, :type :invoke, :process 365, :f :write, :value 0}
{:index 1158, :time 40345038417, :type :info, :process 363, :f :cas, :value [4 2], :error :net-timeout}
{:index 1162, :time 40460923875, :type :info, :process 352, :f :cas, :value [2 4], :error :net-timeout}
{:index 1164, :time 40504296167, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1174, :time 41145422125, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1176, :time 41193865000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1180, :time 41295178333, :type :info, :process 365, :f :write, :value 0, :error :net-timeout}
