{:index 491, :time 17225244000, :type :invoke, :process 167, :f :cas, :value [3 0]}
{:index 499, :time 17401257083, :type :invoke, :process 174, :f :cas, :value [2 0]}
{:index 501, :time 17439110125, :type :invoke, :process 163, :f :cas, :value [1 2]}
{:index 503, :time 17492457833, :type :invoke, :process 164, :f :write, :value 0}
{:index 509, :time 17656739000, :type :invoke, :process 165, :f :cas, :value [2 0]}
{:index 513, :time 18161225667, :type :invoke, :process 178, :f :cas, :value [2 3]}
{:index 514, :time 18230947708, :type :info, :process 167, :f :cas, :value [3 0], :error :net-timeout}
{:index 515, :time 18231106250, :type :invoke, :process 179, :f :cas, :value [2 0]}
{:index 522, :time 18403573583, :type :info, :process 174, :f :cas, :value [2 0], :error :net-timeout}
{:index 523, :time 18403669208, :type :invoke, :process 186, :f :write, :value 1}
{:index 524, :time 18444044500, :type :info, :process 163, :f :cas, :value [1 2], :error :net-timeout}
{:index 525, :time 18456708792, :type :invoke, :process 175, :f :write, :value 2}
{:index 526, :time 18495156417, :type :info, :process 164, :f :write, :value 0, :error :net-timeout}
{:index 527, :time 18512340875, :type :invoke, :process 176, :f :cas, :value [3 1]}
{:index 532, :time 18661608167, :type :info, :process 165, :f :cas, :value [2 0], :error :net-timeout}
{:index 533, :time 18709213042, :type :invoke, :process 177, :f :write, :value 0}
{:index 536, :time 19166492792, :type :info, :process 178, :f :cas, :value [2 3], :error :net-timeout}
{:index 537, :time 19166611917, :type :invoke, :process 190, :f :cas, :value [0 3]}
{:index 538, :time 19236532667, :type :info, :process 179, :f :cas, :value [2 0], :error :net-timeout}
{:index 539, :time 19236689542, :type :invoke, :process 191, :f :cas, :value [2 2]}
{:index 546, :time 19408129167, :type :info, :process 186, :f :write, :value 1, :error :net-timeout}
{:index 547, :time 19438289875, :type :invoke, :process 198, :f :write, :value 3}
{:index 548, :time 19456467208, :type :info, :process 175, :f :write, :value 2, :error :net-timeout}
{:index 549, :time 19456515500, :type :invoke, :process 187, :f :write, :value 1}
{:index 550, :time 19517383833, :type :info, :process 176, :f :cas, :value [3 1], :error :net-timeout}
{:index 556, :time 19711945625, :type :info, :process 177, :f :write, :value 0, :error :net-timeout}
{:index 560, :time 20120035375, :type :ok, :process 198, :f :write, :value 3}
{:index 566, :time 20166829750, :type :info, :process 190, :f :cas, :value [0 3], :error :net-timeout}
{:index 569, :time 20172536458, :type :ok, :process 187, :f :write, :value 1}
{:index 570, :time 20174421333, :type :fail, :process 191, :f :cas, :value [2 2], :error [:precondition-failed "expected 2 but had 1"]}
