{:index 442, :time 13369155500, :type :invoke, :process 105, :f :cas, :value [1 1]}
{:index 450, :time 13516156250, :type :invoke, :process 107, :f :write, :value 1}
{:index 452, :time 13561911292, :type :invoke, :process 114, :f :cas, :value [3 1]}
{:index 454, :time 13585164834, :type :invoke, :process 103, :f :cas, :value [3 0]}
{:index 455, :time 13628712334, :type :invoke, :process 106, :f :cas, :value [0 4]}
{:index 463, :time 14328192917, :type :invoke, :process 116, :f :cas, :value [0 1]}
{:index 464, :time 14374404000, :type :info, :process 105, :f :cas, :value [1 1], :error :net-timeout}
{:index 465, :time 14374459250, :type :invoke, :process 117, :f :cas, :value [2 1]}
{:index 471, :time 14516557917, :type :info, :process 107, :f :write, :value 1, :error :net-timeout}
{:index 473, :time 14540335875, :type :invoke, :process 119, :f :cas, :value [1 1]}
{:index 474, :time 14564656500, :type :info, :process 114, :f :cas, :value [3 1], :error :net-timeout}
{:index 475, :time 14564719750, :type :invoke, :process 126, :f :write, :value 1}
{:index 476, :time 14589610625, :type :info, :process 103, :f :cas, :value [3 0], :error :net-timeout}
{:index 477, :time 14609778709, :type :invoke, :process 115, :f :write, :value 3}
{:index 478, :time 14631800709, :type :info, :process 106, :f :cas, :value [0 4], :error :net-timeout}
{:index 479, :time 14631863375, :type :invoke, :process 118, :f :cas, :value [0 0]}
{:index 486, :time 15332910959, :type :info, :process 116, :f :cas, :value [0 1], :error :net-timeout}
{:index 487, :time 15333069875, :type :invoke, :process 128, :f :cas, :value [2 2]}
{:index 488, :time 15379081084, :type :info, :process 117, :f :cas, :value [2 1], :error :net-timeout}
{:index 489, :time 15403766542, :type :invoke, :process 129, :f :cas, :value [2 3]}
{:index 495, :time 15544964084, :type :info, :process 119, :f :cas, :value [1 1], :error :net-timeout}
{:index 496, :time 15569000375, :type :invoke, :process 131, :f :write, :value 4}
{:index 497, :time 15569243459, :type :info, :process 126, :f :write, :value 1, :error :net-timeout}
{:index 498, :time 15571722459, :type :invoke, :process 138, :f :cas, :value [4 2]}
{:index 500, :time 15613065125, :type :info, :process 115, :f :write, :value 3, :error :net-timeout}
{:index 501, :time 15636265875, :type :info, :process 118, :f :cas, :value [0 0], :error :net-timeout}
{:index 510, :time 16334466000, :type :info, :process 128, :f :cas, :value [2 2], :error :net-timeout}
{:index 512, :time 16405350542, :type :info, :process 129, :f :cas, :value [2 3], :error :net-timeout}
{:index 518, :time 16569828334, :type :info, :process 131, :f :write, :value 4, :error :net-timeout}
{:index 520, :time 16575242000, :type :info, :process 138, :f :cas, :value [4 2], :error :net-timeout}
