{:index 849, :time 52840838833, :type :invoke, :process 125, :f :cas, :value [2 1]}
{:index 851, :time 53008314583, :type :invoke, :process 0, :f :read, :value nil}
{:index 853, :time 53189998000, :type :invoke, :process 1, :f :read, :value nil}
{:index 855, :time 53371438125, :type :invoke, :process 2, :f :read, :value nil}
{:index 857, :time 53551186291, :type :invoke, :process 129, :f :cas, :value [0 1]}
{:index 859, :time 53720562125, :type :invoke, :process 130, :f :cas, :value [3 0]}
{:index 860, :time 53843526291, :type :info, :process 125, :f :cas, :value [2 1], :error :net-timeout}
{:index 861, :time 53843637625, :type :invoke, :process 131, :f :write, :value 2}
{:index 862, :time 54009256750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 863, :time 54009327833, :type :invoke, :process 0, :f :read, :value nil}
{:index 864, :time 54196110125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 865, :time 54196279333, :type :invoke, :process 1, :f :read, :value nil}
{:index 866, :time 54376428583, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 867, :time 54376575708, :type :invoke, :process 2, :f :read, :value nil}
{:index 868, :time 54556162416, :type :info, :process 129, :f :cas, :value [0 1], :error :net-timeout}
{:index 869, :time 54556277500, :type :invoke, :process 135, :f :write, :value 2}
{:index 870, :time 54723794166, :type :info, :process 130, :f :cas, :value [3 0], :error :net-timeout}
{:index 871, :time 54743312791, :type :invoke, :process 136, :f :cas, :value [0 1]}
{:index 872, :time 54848720875, :type :info, :process 131, :f :write, :value 2, :error :net-timeout}
{:index 873, :time 54907865083, :type :invoke, :process 137, :f :cas, :value [2 1]}
{:index 874, :time 55014058000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 875, :time 55071579875, :type :invoke, :process 0, :f :read, :value nil}
{:index 876, :time 55201216583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 877, :time 55201311750, :type :invoke, :process 1, :f :read, :value nil}
{:index 878, :time 55380593250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 879, :time 55380727125, :type :invoke, :process 2, :f :read, :value nil}
{:index 880, :time 55561469000, :type :info, :process 135, :f :write, :value 2, :error :net-timeout}
{:index 881, :time 55567386166, :type :invoke, :process 141, :f :write, :value 0}
{:index 882, :time 55749074375, :type :info, :process 136, :f :cas, :value [0 1], :error :net-timeout}
{:index 883, :time 55749427583, :type :invoke, :process 142, :f :write, :value 4}
{:index 884, :time 55912920083, :type :info, :process 137, :f :cas, :value [2 1], :error :net-timeout}
{:index 885, :time 55913080208, :type :invoke, :process 143, :f :cas, :value [4 1]}
{:index 886, :time 56077606708, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 887, :time 56077798833, :type :invoke, :process 0, :f :read, :value nil}
{:index 888, :time 56206300916, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 889, :time 56206407708, :type :invoke, :process 1, :f :read, :value nil}
{:index 890, :time 56385944958, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 891, :time 56386018708, :type :invoke, :process 2, :f :read, :value nil}
{:index 892, :time 56571259000, :type :info, :process 141, :f :write, :value 0, :error :net-timeout}
{:index 893, :time 56571427333, :type :invoke, :process 147, :f :cas, :value [3 2]}
{:index 894, :time 56754939750, :type :info, :process 142, :f :write, :value 4, :error :net-timeout}
{:index 895, :time 56755164291, :type :invoke, :process 148, :f :write, :value 4}
{:index 896, :time 56913963375, :type :info, :process 143, :f :cas, :value [4 1], :error :net-timeout}
{:index 897, :time 56914160833, :type :invoke, :process 149, :f :cas, :value [0 4]}
{:index 898, :time 57083061375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 899, :time 57099024000, :type :invoke, :process 0, :f :read, :value nil}
{:index 900, :time 57211855500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 901, :time 57212023208, :type :invoke, :process 1, :f :read, :value nil}
{:index 902, :time 57391127041, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 903, :time 57391331958, :type :invoke, :process 2, :f :read, :value nil}
{:index 904, :time 57577100416, :type :info, :process 147, :f :cas, :value [3 2], :error :net-timeout}
{:index 905, :time 57577340791, :type :invoke, :process 153, :f :cas, :value [2 0]}
{:index 906, :time 57757210458, :type :info, :process 148, :f :write, :value 4, :error :net-timeout}
{:index 907, :time 57765369458, :type :invoke, :process 154, :f :cas, :value [2 4]}
{:index 908, :time 57918695958, :type :info, :process 149, :f :cas, :value [0 4], :error :net-timeout}
{:index 910, :time 58105623666, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 912, :time 58216380333, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 914, :time 58392876291, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 916, :time 58581817458, :type :info, :process 153, :f :cas, :value [2 0], :error :net-timeout}
{:index 918, :time 58767147583, :type :info, :process 154, :f :cas, :value [2 4], :error :net-timeout}
