{:index 185, :time 16020173917, :type :invoke, :process 95, :f :cas, :value [3 0]}
{:index 187, :time 16204369542, :type :invoke, :process 0, :f :read, :value nil}
{:index 189, :time 16361818500, :type :invoke, :process 99, :f :cas, :value [3 0]}
{:index 191, :time 16556671125, :type :invoke, :process 2, :f :read, :value nil}
{:index 193, :time 16732089250, :type :invoke, :process 1, :f :read, :value nil}
{:index 195, :time 16910803583, :type :invoke, :process 100, :f :cas, :value [4 3]}
{:index 196, :time 17027732792, :type :info, :process 95, :f :cas, :value [3 0], :error :net-timeout}
{:index 197, :time 17027821458, :type :invoke, :process 101, :f :cas, :value [0 1]}
{:index 198, :time 17209512833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 199, :time 17209595208, :type :invoke, :process 0, :f :read, :value nil}
{:index 200, :time 17363332125, :type :info, :process 99, :f :cas, :value [3 0], :error :net-timeout}
{:index 201, :time 17363413667, :type :invoke, :process 105, :f :cas, :value [3 4]}
{:index 202, :time 17557688000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 203, :time 17557833833, :type :invoke, :process 2, :f :read, :value nil}
{:index 204, :time 17736065750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 205, :time 17736402167, :type :invoke, :process 1, :f :read, :value nil}
{:index 206, :time 17913071833, :type :info, :process 100, :f :cas, :value [4 3], :error :net-timeout}
{:index 207, :time 17913182417, :type :invoke, :process 106, :f :cas, :value [2 4]}
{:index 208, :time 18028617208, :type :info, :process 101, :f :cas, :value [0 1], :error :net-timeout}
{:index 209, :time 18028684375, :type :invoke, :process 107, :f :cas, :value [3 1]}
{:index 210, :time 18213100917, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 211, :time 18213335042, :type :invoke, :process 0, :f :read, :value nil}
{:index 212, :time 18364315542, :type :info, :process 105, :f :cas, :value [3 4], :error :net-timeout}
{:index 213, :time 18364639250, :type :invoke, :process 111, :f :cas, :value [2 3]}
{:index 214, :time 18560571583, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 215, :time 18560972125, :type :invoke, :process 2, :f :read, :value nil}
{:index 216, :time 18744596958, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 217, :time 18744874292, :type :invoke, :process 1, :f :read, :value nil}
{:index 218, :time 18917898208, :type :info, :process 106, :f :cas, :value [2 4], :error :net-timeout}
{:index 219, :time 18918047208, :type :invoke, :process 112, :f :cas, :value [3 4]}
{:index 220, :time 19031739250, :type :info, :process 107, :f :cas, :value [3 1], :error :net-timeout}
{:index 221, :time 19077207917, :type :invoke, :process 113, :f :write, :value 1}
{:index 222, :time 19218687958, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 223, :time 19218780083, :type :invoke, :process 0, :f :read, :value nil}
{:index 224, :time 19369642750, :type :info, :process 111, :f :cas, :value [2 3], :error :net-timeout}
{:index 225, :time 19369760292, :type :invoke, :process 117, :f :cas, :value [2 3]}
{:index 226, :time 19565020667, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 227, :time 19565123208, :type :invoke, :process 2, :f :read, :value nil}
{:index 228, :time 19750291208, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 229, :time 19750444333, :type :invoke, :process 1, :f :read, :value nil}
{:index 230, :time 19923400667, :type :info, :process 112, :f :cas, :value [3 4], :error :net-timeout}
{:index 231, :time 19927791417, :type :invoke, :process 118, :f :cas, :value [4 4]}
{:index 232, :time 20082999542, :type :info, :process 113, :f :write, :value 1, :error :net-timeout}
{:index 233, :time 20125582500, :type :invoke, :process 119, :f :write, :value 1}
{:index 234, :time 20224470667, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 235, :time 20226095750, :type :invoke, :process 0, :f :read, :value nil}
{:index 236, :time 20374996500, :type :info, :process 117, :f :cas, :value [2 3], :error :net-timeout}
{:index 237, :time 20375164500, :type :invoke, :process 123, :f :cas, :value [1 1]}
{:index 238, :time 20570066000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 239, :time 20570211375, :type :invoke, :process 2, :f :read, :value nil}
{:index 240, :time 20755212500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 241, :time 20755358958, :type :invoke, :process 1, :f :read, :value nil}
{:index 242, :time 20933115750, :type :info, :process 118, :f :cas, :value [4 4], :error :net-timeout}
{:index 243, :time 20933384958, :type :invoke, :process 124, :f :cas, :value [4 4]}
{:index 244, :time 21128063708, :type :info, :process 119, :f :write, :value 1, :error :net-timeout}
{:index 246, :time 21231683458, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 248, :time 21377417042, :type :info, :process 123, :f :cas, :value [1 1], :error :net-timeout}
{:index 250, :time 21573608792, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 252, :time 21756236167, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 254, :time 21935671000, :type :info, :process 124, :f :cas, :value [4 4], :error :net-timeout}
