{:index 3, :time 75814292, :type :invoke, :process 3, :f :cas, :value [3 3]}
{:index 5, :time 133486542, :type :invoke, :process 5, :f :write, :value 2}
{:index 6, :time 166819042, :type :invoke, :process 0, :f :read, :value nil}
{:index 7, :time 196650542, :type :invoke, :process 4, :f :cas, :value [0 4]}
{:index 9, :time 307110625, :type :invoke, :process 1, :f :read, :value nil}
{:index 10, :time 370696084, :type :invoke, :process 2, :f :read, :value nil}
{:index 16, :time 1079162125, :type :info, :process 3, :f :cas, :value [3 3], :error :net-timeout}
{:index 17, :time 1085459542, :type :invoke, :process 15, :f :cas, :value [2 2]}
{:index 20, :time 1134452709, :type :info, :process 5, :f :write, :value 2, :error :net-timeout}
{:index 21, :time 1167895417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 22, :time 1185619792, :type :invoke, :process 0, :f :read, :value nil}
{:index 24, :time 1201239792, :type :info, :process 4, :f :cas, :value [0 4], :error :net-timeout}
{:index 25, :time 1256499584, :type :invoke, :process 16, :f :write, :value 3}
{:index 27, :time 1283425500, :type :invoke, :process 17, :f :cas, :value [1 1]}
{:index 29, :time 1314432709, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 31, :time 1376128709, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 32, :time 1397379667, :type :invoke, :process 1, :f :read, :value nil}
{:index 34, :time 1406769875, :type :invoke, :process 2, :f :read, :value nil}
{:index 38, :time 2091502375, :type :info, :process 15, :f :cas, :value [2 2], :error :net-timeout}
{:index 39, :time 2091698750, :type :invoke, :process 27, :f :cas, :value [0 4]}
{:index 42, :time 2190825125, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 43, :time 2191026875, :type :invoke, :process 0, :f :read, :value nil}
{:index 46, :time 2259095125, :type :info, :process 16, :f :write, :value 3, :error :net-timeout}
{:index 47, :time 2259322959, :type :invoke, :process 28, :f :cas, :value [4 2]}
{:index 48, :time 2289342125, :type :info, :process 17, :f :cas, :value [1 1], :error :net-timeout}
{:index 49, :time 2304749834, :type :invoke, :process 29, :f :cas, :value [1 3]}
{:index 54, :time 2402169625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 55, :time 2402343917, :type :invoke, :process 1, :f :read, :value nil}
{:index 56, :time 2412179250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 59, :time 2531104750, :type :invoke, :process 2, :f :read, :value nil}
{:index 62, :time 3095053375, :type :info, :process 27, :f :cas, :value [0 4], :error :net-timeout}
{:index 63, :time 3095261459, :type :invoke, :process 39, :f :cas, :value [1 4]}
{:index 66, :time 3192498209, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 67, :time 3192641542, :type :invoke, :process 0, :f :read, :value nil}
{:index 70, :time 3261829125, :type :info, :process 28, :f :cas, :value [4 2], :error :net-timeout}
{:index 71, :time 3261980334, :type :invoke, :process 40, :f :write, :value 2}
{:index 72, :time 3311172125, :type :info, :process 29, :f :cas, :value [1 3], :error :net-timeout}
{:index 73, :time 3311234959, :type :invoke, :process 41, :f :cas, :value [4 2]}
{:index 78, :time 3407623459, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 79, :time 3436152459, :type :invoke, :process 1, :f :read, :value nil}
{:index 82, :time 3536702209, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 83, :time 3536868709, :type :invoke, :process 2, :f :read, :value nil}
{:index 86, :time 4100612625, :type :info, :process 39, :f :cas, :value [1 4], :error :net-timeout}
{:index 87, :time 4100866125, :type :invoke, :process 51, :f :cas, :value [4 0]}
{:index 90, :time 4194703959, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 91, :time 4194750750, :type :invoke, :process 0, :f :read, :value nil}
{:index 94, :time 4267505125, :type :info, :process 40, :f :write, :value 2, :error :net-timeout}
{:index 95, :time 4311383542, :type :invoke, :process 52, :f :cas, :value [1 4]}
{:index 96, :time 4315786667, :type :info, :process 41, :f :cas, :value [4 2], :error :net-timeout}
{:index 101, :time 4441528459, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 102, :time 4449565542, :type :invoke, :process 53, :f :cas, :value [3 4]}
{:index 104, :time 4508632875, :type :invoke, :process 1, :f :read, :value nil}
{:index 105, :time 4537675667, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 106, :time 4576745000, :type :invoke, :process 2, :f :read, :value nil}
{:index 110, :time 5104658292, :type :info, :process 51, :f :cas, :value [4 0], :error :net-timeout}
{:index 111, :time 5104838750, :type :invoke, :process 63, :f :cas, :value [0 0]}
{:index 112, :time 5135155834, :type :ok, :process 2, :f :read, :value 2}
{:index 113, :time 5135228625, :type :invoke, :process 2, :f :read, :value nil}
{:index 114, :time 5136889750, :type :ok, :process 0, :f :read, :value 2}
{:index 117, :time 5138478500, :type :fail, :process 52, :f :cas, :value [1 4], :error [:precondition-failed "expected 1 but had 2"]}
{:index 119, :time 5138513625, :type :fail, :process 53, :f :cas, :value [3 4], :error [:precondition-failed "expected 3 but had 2"]}
{:index 122, :time 5138552959, :type :ok, :process 1, :f :read, :value 2}
{:index 123, :time 5138787625, :type :ok, :process 2, :f :read, :value 2}
{:index 127, :time 5141271584, :type :fail, :process 63, :f :cas, :value [0 0], :error [:precondition-failed "expected 0 but had 2"]}
{:index 134, :time 5304392250, :type :invoke, :process 2, :f :read, :value nil}
{:index 135, :time 5306773709, :type :ok, :process 2, :f :read, :value 2}
{:index 142, :time 5420246125, :type :invoke, :process 0, :f :read, :value nil}
{:index 143, :time 5422315584, :type :ok, :process 0, :f :read, :value 2}
{:index 146, :time 5537884417, :type :invoke, :process 63, :f :write, :value 0}
{:index 147, :time 5540834334, :type :ok, :process 63, :f :write, :value 0}
{:index 150, :time 5590110417, :type :invoke, :process 63, :f :cas, :value [4 3]}
{:index 153, :time 5591882250, :type :fail, :process 63, :f :cas, :value [4 3], :error [:precondition-failed "expected 4 but had 0"]}
{:index 156, :time 5659032084, :type :invoke, :process 63, :f :write, :value 2}
{:index 157, :time 5661372417, :type :ok, :process 63, :f :write, :value 2}
{:index 162, :time 5785362125, :type :invoke, :process 63, :f :cas, :value [1 2]}
{:index 163, :time 5788333250, :type :fail, :process 63, :f :cas, :value [1 2], :error [:precondition-failed "expected 1 but had 2"]}
{:index 164, :time 5796876209, :type :invoke, :process 0, :f :read, :value nil}
{:index 165, :time 5799264834, :type :ok, :process 0, :f :read, :value 2}
{:index 172, :time 5906655959, :type :invoke, :process 63, :f :cas, :value [4 0]}
{:index 173, :time 5910192125, :type :fail, :process 63, :f :cas, :value [4 0], :error [:precondition-failed "expected 4 but had 2"]}
{:index 174, :time 5954913042, :type :invoke, :process 63, :f :cas, :value [1 1]}
{:index 175, :time 5958639084, :type :fail, :process 63, :f :cas, :value [1 1], :error [:precondition-failed "expected 1 but had 2"]}
{:index 176, :time 6013527750, :type :invoke, :process 0, :f :read, :value nil}
{:index 177, :time 6017602625, :type :ok, :process 0, :f :read, :value 2}
{:index 182, :time 6169934209, :type :invoke, :process 0, :f :read, :value nil}
{:index 183, :time 6175450542, :type :ok, :process 0, :f :read, :value 2}
{:index 184, :time 6205742542, :type :invoke, :process 63, :f :write, :value 2}
{:index 185, :time 6211500000, :type :ok, :process 63, :f :write, :value 2}
{:index 188, :time 6272371334, :type :invoke, :process 63, :f :write, :value 0}
{:index 189, :time 6278675250, :type :ok, :process 63, :f :write, :value 0}
{:index 194, :time 6393957792, :type :invoke, :process 0, :f :read, :value nil}
{:index 195, :time 6397924209, :type :ok, :process 0, :f :read, :value 0}
{:index 205, :time 6589580500, :type :invoke, :process 0, :f :read, :value nil}
{:index 207, :time 6593930667, :type :ok, :process 0, :f :read, :value 0}
{:index 210, :time 6623738959, :type :invoke, :process 63, :f :cas, :value [4 4]}
{:index 211, :time 6628215167, :type :fail, :process 63, :f :cas, :value [4 4], :error [:precondition-failed "expected 4 but had 0"]}
{:index 214, :time 6693110792, :type :invoke, :process 63, :f :cas, :value [1 2]}
{:index 216, :time 6696518417, :type :fail, :process 63, :f :cas, :value [1 2], :error [:precondition-failed "expected 1 but had 0"]}
{:index 226, :time 6865230459, :type :invoke, :process 0, :f :read, :value nil}
{:index 227, :time 6867991584, :type :ok, :process 0, :f :read, :value 0}
{:index 228, :time 6872240209, :type :invoke, :process 0, :f :read, :value nil}
{:index 229, :time 6874501167, :type :ok, :process 0, :f :read, :value 0}
{:index 236, :time 6912417459, :type :invoke, :process 63, :f :write, :value 1}
{:index 237, :time 6914299792, :type :ok, :process 63, :f :write, :value 1}
{:index 238, :time 6965104084, :type :invoke, :process 63, :f :cas, :value [0 3]}
{:index 239, :time 6967709167, :type :fail, :process 63, :f :cas, :value [0 3], :error [:precondition-failed "expected 0 but had 1"]}
{:index 240, :time 7027001917, :type :invoke, :process 63, :f :cas, :value [3 4]}
{:index 241, :time 7034265625, :type :fail, :process 63, :f :cas, :value [3 4], :error [:precondition-failed "expected 3 but had 1"]}
{:index 244, :time 7106923125, :type :invoke, :process 0, :f :read, :value nil}
{:index 245, :time 7112013959, :type :ok, :process 0, :f :read, :value 1}
{:index 248, :time 7177762334, :type :invoke, :process 63, :f :write, :value 4}
{:index 249, :time 7180340334, :type :ok, :process 63, :f :write, :value 4}
{:index 250, :time 7243104292, :type :invoke, :process 0, :f :read, :value nil}
{:index 251, :time 7246035959, :type :ok, :process 0, :f :read, :value 4}
{:index 254, :time 7288610959, :type :invoke, :process 63, :f :cas, :value [1 4]}
{:index 255, :time 7292464542, :type :fail, :process 63, :f :cas, :value [1 4], :error [:precondition-failed "expected 1 but had 4"]}
{:index 260, :time 7402441625, :type :invoke, :process 0, :f :read, :value nil}
{:index 261, :time 7406333250, :type :ok, :process 0, :f :read, :value 4}
{:index 276, :time 7688248625, :type :invoke, :process 63, :f :cas, :value [2 0]}
{:index 277, :time 7695446917, :type :fail, :process 63, :f :cas, :value [2 0], :error [:precondition-failed "expected 2 but had 4"]}
{:index 278, :time 7723043542, :type :invoke, :process 0, :f :read, :value nil}
{:index 279, :time 7723973917, :type :invoke, :process 1, :f :read, :value nil}
{:index 280, :time 7726870834, :type :ok, :process 1, :f :read, :value 4}
{:index 281, :time 7726917250, :type :ok, :process 0, :f :read, :value 4}
{:index 284, :time 7788871542, :type :invoke, :process 0, :f :read, :value nil}
{:index 285, :time 7793289875, :type :ok, :process 0, :f :read, :value 4}
{:index 290, :time 7890144250, :type :invoke, :process 2, :f :read, :value nil}
{:index 291, :time 7894144667, :type :ok, :process 2, :f :read, :value 4}
{:index 294, :time 7973397750, :type :invoke, :process 52, :f :cas, :value [2 0]}
{:index 295, :time 7975605084, :type :fail, :process 52, :f :cas, :value [2 0], :error [:precondition-failed "expected 2 but had 4"]}
{:index 298, :time 8028466500, :type :invoke, :process 0, :f :read, :value nil}
{:index 299, :time 8030653167, :type :ok, :process 0, :f :read, :value 4}
{:index 304, :time 8169107292, :type :invoke, :process 63, :f :write, :value 1}
{:index 305, :time 8173132417, :type :ok, :process 63, :f :write, :value 1}
{:index 306, :time 8239622125, :type :invoke, :process 63, :f :cas, :value [3 0]}
{:index 307, :time 8244946917, :type :fail, :process 63, :f :cas, :value [3 0], :error [:precondition-failed "expected 3 but had 1"]}
{:index 318, :time 8423429042, :type :invoke, :process 63, :f :cas, :value [3 0]}
{:index 319, :time 8426807667, :type :fail, :process 63, :f :cas, :value [3 0], :error [:precondition-failed "expected 3 but had 1"]}
{:index 322, :time 8557668875, :type :invoke, :process 0, :f :read, :value nil}
{:index 323, :time 8562904459, :type :ok, :process 0, :f :read, :value 1}
{:index 330, :time 8807283417, :type :invoke, :process 0, :f :read, :value nil}
{:index 331, :time 8813167500, :type :ok, :process 0, :f :read, :value 1}
{:index 334, :time 8862289750, :type :invoke, :process 0, :f :read, :value nil}
{:index 335, :time 8867288084, :type :ok, :process 0, :f :read, :value 1}
{:index 340, :time 8939687084, :type :invoke, :process 1, :f :read, :value nil}
{:index 341, :time 8943085625, :type :ok, :process 1, :f :read, :value 1}
{:index 342, :time 9006190917, :type :invoke, :process 63, :f :write, :value 0}
{:index 343, :time 9011197459, :type :ok, :process 63, :f :write, :value 0}
{:index 344, :time 9029468417, :type :invoke, :process 0, :f :read, :value nil}
{:index 345, :time 9034540042, :type :ok, :process 0, :f :read, :value 0}
{:index 346, :time 9053595125, :type :invoke, :process 52, :f :cas, :value [4 2]}
{:index 347, :time 9057200750, :type :fail, :process 52, :f :cas, :value [4 2], :error [:precondition-failed "expected 4 but had 0"]}
{:index 348, :time 9099166667, :type :invoke, :process 0, :f :read, :value nil}
{:index 349, :time 9168414500, :type :invoke, :process 1, :f :read, :value nil}
{:index 350, :time 9229384959, :type :invoke, :process 63, :f :write, :value 3}
{:index 353, :time 9316807792, :type :invoke, :process 52, :f :write, :value 3}
{:index 355, :time 9362684542, :type :invoke, :process 2, :f :read, :value nil}
{:index 357, :time 9394036625, :type :invoke, :process 53, :f :cas, :value [1 4]}
{:index 360, :time 10104433875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 361, :time 10104607292, :type :invoke, :process 0, :f :read, :value nil}
{:index 362, :time 10173462500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 363, :time 10173626417, :type :invoke, :process 1, :f :read, :value nil}
{:index 364, :time 10234502042, :type :info, :process 63, :f :write, :value 3, :error :net-timeout}
{:index 365, :time 10234722625, :type :invoke, :process 75, :f :write, :value 1}
{:index 370, :time 10321561667, :type :info, :process 52, :f :write, :value 3, :error :net-timeout}
{:index 374, :time 10364364459, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 377, :time 10398902000, :type :info, :process 53, :f :cas, :value [1 4], :error :net-timeout}
{:index 384, :time 11108057584, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 386, :time 11179174959, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 388, :time 11235234125, :type :info, :process 75, :f :write, :value 1, :error :net-timeout}
