{:index 65, :time 5876449667, :type :invoke, :process 35, :f :cas, :value [2 3]}
{:index 67, :time 6059501542, :type :invoke, :process 0, :f :read, :value nil}
{:index 69, :time 6254440209, :type :invoke, :process 2, :f :read, :value nil}
{:index 71, :time 6379443959, :type :invoke, :process 1, :f :read, :value nil}
{:index 73, :time 6535112167, :type :invoke, :process 39, :f :cas, :value [1 1]}
{:index 75, :time 6723311292, :type :invoke, :process 40, :f :write, :value 3}
{:index 76, :time 6883158625, :type :info, :process 35, :f :cas, :value [2 3], :error :net-timeout}
{:index 77, :time 6883250625, :type :invoke, :process 41, :f :write, :value 3}
{:index 78, :time 7059999417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 79, :time 7060110042, :type :invoke, :process 0, :f :read, :value nil}
{:index 80, :time 7258618375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 81, :time 7258796584, :type :invoke, :process 2, :f :read, :value nil}
{:index 82, :time 7384979750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 83, :time 7385256459, :type :invoke, :process 1, :f :read, :value nil}
{:index 84, :time 7538625709, :type :info, :process 39, :f :cas, :value [1 1], :error :net-timeout}
{:index 85, :time 7538710042, :type :invoke, :process 45, :f :cas, :value [3 4]}
{:index 86, :time 7727274750, :type :info, :process 40, :f :write, :value 3, :error :net-timeout}
{:index 87, :time 7727721875, :type :invoke, :process 46, :f :cas, :value [1 3]}
{:index 88, :time 7888404917, :type :info, :process 41, :f :write, :value 3, :error :net-timeout}
{:index 89, :time 7888639709, :type :invoke, :process 47, :f :write, :value 1}
{:index 90, :time 8060009500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 91, :time 8060085750, :type :invoke, :process 0, :f :read, :value nil}
{:index 92, :time 8260592292, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 93, :time 8260928875, :type :invoke, :process 2, :f :read, :value nil}
{:index 94, :time 8389053750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 95, :time 8389303875, :type :invoke, :process 1, :f :read, :value nil}
{:index 96, :time 8543502709, :type :info, :process 45, :f :cas, :value [3 4], :error :net-timeout}
{:index 97, :time 8543628125, :type :invoke, :process 51, :f :cas, :value [4 1]}
{:index 98, :time 8729735417, :type :info, :process 46, :f :cas, :value [1 3], :error :net-timeout}
{:index 99, :time 8730060167, :type :invoke, :process 52, :f :cas, :value [0 4]}
{:index 100, :time 8894591584, :type :info, :process 47, :f :write, :value 1, :error :net-timeout}
{:index 101, :time 8894730709, :type :invoke, :process 53, :f :cas, :value [1 1]}
{:index 102, :time 9065168000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 103, :time 9065443375, :type :invoke, :process 0, :f :read, :value nil}
{:index 104, :time 9262608250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 105, :time 9262965084, :type :invoke, :process 2, :f :read, :value nil}
{:index 106, :time 9396182792, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 107, :time 9396368292, :type :invoke, :process 1, :f :read, :value nil}
{:index 108, :time 9546445292, :type :info, :process 51, :f :cas, :value [4 1], :error :net-timeout}
{:index 109, :time 9546678959, :type :invoke, :process 57, :f :cas, :value [0 4]}
{:index 110, :time 9736591375, :type :info, :process 52, :f :cas, :value [0 4], :error :net-timeout}
{:index 111, :time 9736969834, :type :invoke, :process 58, :f :cas, :value [0 4]}
{:index 112, :time 9895677292, :type :info, :process 53, :f :cas, :value [1 1], :error :net-timeout}
{:index 113, :time 9922557292, :type :invoke, :process 59, :f :cas, :value [2 1]}
{:index 114, :time 10068118459, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 115, :time 10068383125, :type :invoke, :process 0, :f :read, :value nil}
{:index 116, :time 10267686459, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 117, :time 10267803834, :type :invoke, :process 2, :f :read, :value nil}
{:index 118, :time 10401444167, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 119, :time 10401540917, :type :invoke, :process 1, :f :read, :value nil}
{:index 120, :time 10551299792, :type :info, :process 57, :f :cas, :value [0 4], :error :net-timeout}
{:index 121, :time 10551406875, :type :invoke, :process 63, :f :cas, :value [0 2]}
{:index 122, :time 10743359709, :type :info, :process 58, :f :cas, :value [0 4], :error :net-timeout}
{:index 123, :time 10743510084, :type :invoke, :process 64, :f :write, :value 0}
{:index 124, :time 10930433792, :type :info, :process 59, :f :cas, :value [2 1], :error :net-timeout}
{:index 126, :time 11069716417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 128, :time 11273606417, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 130, :time 11407030625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 132, :time 11557087667, :type :info, :process 63, :f :cas, :value [0 2], :error :net-timeout}
{:index 134, :time 11745538500, :type :info, :process 64, :f :write, :value 0, :error :net-timeout}
