{:index 0, :time 8363958, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 111131583, :type :invoke, :process 3, :f :cas, :value [1 1]}
{:index 2, :time 266433958, :type :invoke, :process 4, :f :cas, :value [4 0]}
{:index 3, :time 268162167, :type :invoke, :process 1, :f :read, :value nil}
{:index 4, :time 335842500, :type :invoke, :process 5, :f :cas, :value [3 0]}
{:index 5, :time 339338833, :type :invoke, :process 2, :f :read, :value nil}
{:index 6, :time 1017117250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 7, :time 1017296792, :type :invoke, :process 0, :f :read, :value nil}
{:index 8, :time 1117127833, :type :info, :process 3, :f :cas, :value [1 1], :error :net-timeout}
{:index 9, :time 1117268417, :type :invoke, :process 9, :f :cas, :value [0 0]}
{:index 10, :time 1270133417, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 11, :time 1270241000, :type :invoke, :process 1, :f :read, :value nil}
{:index 12, :time 1272448375, :type :info, :process 4, :f :cas, :value [4 0], :error :net-timeout}
{:index 13, :time 1337049042, :type :info, :process 5, :f :cas, :value [3 0], :error :net-timeout}
{:index 14, :time 1342586917, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 15, :time 1444190333, :type :invoke, :process 2, :f :read, :value nil}
{:index 16, :time 1524412458, :type :invoke, :process 10, :f :write, :value 1}
{:index 17, :time 1665430500, :type :invoke, :process 11, :f :cas, :value [4 3]}
{:index 18, :time 2023243875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 19, :time 2023406875, :type :invoke, :process 0, :f :read, :value nil}
{:index 20, :time 2120544208, :type :info, :process 9, :f :cas, :value [0 0], :error :net-timeout}
{:index 21, :time 2164991167, :type :invoke, :process 15, :f :write, :value 4}
{:index 22, :time 2275885958, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 23, :time 2276089667, :type :invoke, :process 1, :f :read, :value nil}
{:index 24, :time 2446701667, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 25, :time 2446929250, :type :invoke, :process 2, :f :read, :value nil}
{:index 26, :time 2530316917, :type :info, :process 10, :f :write, :value 1, :error :net-timeout}
{:index 27, :time 2530564500, :type :invoke, :process 16, :f :write, :value 3}
{:index 28, :time 2670885958, :type :info, :process 11, :f :cas, :value [4 3], :error :net-timeout}
{:index 29, :time 2720356542, :type :invoke, :process 17, :f :write, :value 2}
{:index 30, :time 3024193042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 31, :time 3024356958, :type :invoke, :process 0, :f :read, :value nil}
{:index 32, :time 3168161500, :type :info, :process 15, :f :write, :value 4, :error :net-timeout}
{:index 33, :time 3168345458, :type :invoke, :process 21, :f :write, :value 4}
{:index 34, :time 3281937250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 35, :time 3282101958, :type :invoke, :process 1, :f :read, :value nil}
{:index 36, :time 3448752750, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 37, :time 3448909333, :type :invoke, :process 2, :f :read, :value nil}
{:index 38, :time 3534549583, :type :info, :process 16, :f :write, :value 3, :error :net-timeout}
{:index 39, :time 3534763500, :type :invoke, :process 22, :f :cas, :value [0 3]}
{:index 40, :time 3724212583, :type :info, :process 17, :f :write, :value 2, :error :net-timeout}
{:index 41, :time 3724353792, :type :invoke, :process 23, :f :write, :value 4}
{:index 42, :time 4026813000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 43, :time 4026972083, :type :invoke, :process 0, :f :read, :value nil}
{:index 44, :time 4173596500, :type :info, :process 21, :f :write, :value 4, :error :net-timeout}
{:index 45, :time 4173801042, :type :invoke, :process 27, :f :write, :value 0}
{:index 46, :time 4287455583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 47, :time 4287584750, :type :invoke, :process 1, :f :read, :value nil}
{:index 48, :time 4454359125, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 49, :time 4454514875, :type :invoke, :process 2, :f :read, :value nil}
{:index 50, :time 4540148000, :type :info, :process 22, :f :cas, :value [0 3], :error :net-timeout}
{:index 51, :time 4613991917, :type :invoke, :process 28, :f :write, :value 3}
{:index 52, :time 4729744750, :type :info, :process 23, :f :write, :value 4, :error :net-timeout}
{:index 53, :time 4729930083, :type :invoke, :process 29, :f :cas, :value [4 3]}
{:index 54, :time 5027783042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 55, :time 5027907958, :type :invoke, :process 0, :f :read, :value nil}
{:index 56, :time 5034567292, :type :ok, :process 27, :f :write, :value 0}
{:index 57, :time 5035862000, :type :ok, :process 0, :f :read, :value 0}
{:index 58, :time 5163642417, :type :invoke, :process 27, :f :cas, :value [1 3]}
{:index 59, :time 5178722125, :type :fail, :process 27, :f :cas, :value [1 3], :error [:precondition-failed "expected 1 but had 0"]}
{:index 60, :time 5284389583, :type :ok, :process 1, :f :read, :value 3}
{:index 61, :time 5285652458, :type :ok, :process 28, :f :write, :value 3}
{:index 62, :time 5351505958, :type :ok, :process 2, :f :read, :value 4}
{:index 63, :time 5351607250, :type :invoke, :process 28, :f :cas, :value [1 0]}
{:index 64, :time 5354116375, :type :ok, :process 29, :f :cas, :value [4 3]}
{:index 65, :time 5354401250, :type :fail, :process 28, :f :cas, :value [1 0], :error [:precondition-failed "expected 1 but had 4"]}
{:index 66, :time 5528222375, :type :invoke, :process 0, :f :read, :value nil}
{:index 67, :time 5533432542, :type :ok, :process 0, :f :read, :value 3}
{:index 68, :time 5661072542, :type :invoke, :process 27, :f :cas, :value [3 3]}
{:index 69, :time 5668273042, :type :ok, :process 27, :f :cas, :value [3 3]}
{:index 70, :time 5779663708, :type :invoke, :process 0, :f :read, :value nil}
{:index 71, :time 5782812625, :type :ok, :process 0, :f :read, :value 3}
{:index 72, :time 5822945417, :type :invoke, :process 1, :f :read, :value nil}
{:index 73, :time 5825690042, :type :ok, :process 1, :f :read, :value 3}
{:index 74, :time 5943139958, :type :invoke, :process 27, :f :cas, :value [1 3]}
{:index 75, :time 5949049667, :type :fail, :process 27, :f :cas, :value [1 3], :error [:precondition-failed "expected 1 but had 3"]}
{:index 76, :time 6048780375, :type :invoke, :process 0, :f :read, :value nil}
{:index 77, :time 6054897333, :type :ok, :process 0, :f :read, :value 3}
{:index 78, :time 6129777250, :type :invoke, :process 28, :f :cas, :value [0 4]}
{:index 79, :time 6134619083, :type :fail, :process 28, :f :cas, :value [0 4], :error [:precondition-failed "expected 0 but had 3"]}
{:index 80, :time 6188994583, :type :invoke, :process 0, :f :read, :value nil}
{:index 81, :time 6197791667, :type :ok, :process 0, :f :read, :value 3}
{:index 82, :time 6343205000, :type :invoke, :process 27, :f :cas, :value [4 2]}
{:index 83, :time 6349393458, :type :fail, :process 27, :f :cas, :value [4 2], :error [:precondition-failed "expected 4 but had 3"]}
{:index 84, :time 6452184958, :type :invoke, :process 27, :f :cas, :value [0 0]}
{:index 85, :time 6456655167, :type :fail, :process 27, :f :cas, :value [0 0], :error [:precondition-failed "expected 0 but had 3"]}
{:index 86, :time 6607612583, :type :invoke, :process 27, :f :write, :value 3}
{:index 87, :time 6613297208, :type :ok, :process 27, :f :write, :value 3}
{:index 88, :time 6744962625, :type :invoke, :process 27, :f :cas, :value [2 1]}
{:index 89, :time 6750834875, :type :fail, :process 27, :f :cas, :value [2 1], :error [:precondition-failed "expected 2 but had 3"]}
{:index 90, :time 6781387750, :type :invoke, :process 0, :f :read, :value nil}
{:index 91, :time 6785517750, :type :ok, :process 0, :f :read, :value 3}
{:index 92, :time 6820004250, :type :invoke, :process 28, :f :cas, :value [1 1]}
{:index 93, :time 6822873000, :type :fail, :process 28, :f :cas, :value [1 1], :error [:precondition-failed "expected 1 but had 3"]}
{:index 94, :time 6937078958, :type :invoke, :process 0, :f :read, :value nil}
{:index 95, :time 6940020833, :type :ok, :process 0, :f :read, :value 3}
{:index 96, :time 7039612708, :type :invoke, :process 0, :f :read, :value nil}
{:index 97, :time 7043668667, :type :ok, :process 0, :f :read, :value 3}
{:index 98, :time 7066015375, :type :invoke, :process 27, :f :write, :value 3}
{:index 99, :time 7069470500, :type :ok, :process 27, :f :write, :value 3}
{:index 100, :time 7184716792, :type :invoke, :process 27, :f :cas, :value [3 2]}
{:index 101, :time 7189117292, :type :ok, :process 27, :f :cas, :value [3 2]}
{:index 102, :time 7344616917, :type :invoke, :process 27, :f :cas, :value [0 0]}
{:index 103, :time 7347863750, :type :fail, :process 27, :f :cas, :value [0 0], :error [:precondition-failed "expected 0 but had 2"]}
{:index 104, :time 7394771208, :type :invoke, :process 27, :f :write, :value 4}
{:index 105, :time 7398840917, :type :ok, :process 27, :f :write, :value 4}
{:index 106, :time 7472406375, :type :invoke, :process 0, :f :read, :value nil}
{:index 107, :time 7477377958, :type :ok, :process 0, :f :read, :value 4}
{:index 108, :time 7489560875, :type :invoke, :process 0, :f :read, :value nil}
{:index 109, :time 7493950208, :type :ok, :process 0, :f :read, :value 4}
{:index 110, :time 7562376125, :type :invoke, :process 0, :f :read, :value nil}
{:index 111, :time 7565523875, :type :ok, :process 0, :f :read, :value 4}
{:index 112, :time 7627534750, :type :invoke, :process 0, :f :read, :value nil}
{:index 113, :time 7632787583, :type :ok, :process 0, :f :read, :value 4}
{:index 114, :time 7821640833, :type :invoke, :process 1, :f :read, :value nil}
{:index 115, :time 7826069417, :type :invoke, :process 27, :f :write, :value 4}
{:index 116, :time 7826410958, :type :ok, :process 1, :f :read, :value 4}
{:index 117, :time 7829587417, :type :ok, :process 27, :f :write, :value 4}
{:index 118, :time 7896196083, :type :invoke, :process 27, :f :cas, :value [4 0]}
{:index 119, :time 7902931333, :type :ok, :process 27, :f :cas, :value [4 0]}
{:index 120, :time 7919909583, :type :invoke, :process 28, :f :cas, :value [3 4]}
{:index 121, :time 7924541458, :type :fail, :process 28, :f :cas, :value [3 4], :error [:precondition-failed "expected 3 but had 0"]}
{:index 122, :time 7963718000, :type :invoke, :process 29, :f :cas, :value [1 2]}
{:index 123, :time 7966518333, :type :fail, :process 29, :f :cas, :value [1 2], :error [:precondition-failed "expected 1 but had 0"]}
{:index 124, :time 8121891125, :type :invoke, :process 0, :f :read, :value nil}
{:index 125, :time 8127322542, :type :ok, :process 0, :f :read, :value 0}
{:index 126, :time 8304880792, :type :invoke, :process 27, :f :cas, :value [1 4]}
{:index 127, :time 8430095292, :type :invoke, :process 28, :f :cas, :value [1 0]}
{:index 128, :time 8612209875, :type :invoke, :process 29, :f :cas, :value [0 0]}
{:index 129, :time 8764102000, :type :invoke, :process 0, :f :read, :value nil}
{:index 130, :time 8849369042, :type :invoke, :process 1, :f :read, :value nil}
{:index 131, :time 8907798583, :type :invoke, :process 2, :f :read, :value nil}
{:index 132, :time 9310755000, :type :info, :process 27, :f :cas, :value [1 4], :error :net-timeout}
{:index 133, :time 9310945333, :type :invoke, :process 33, :f :write, :value 0}
{:index 134, :time 9431401250, :type :info, :process 28, :f :cas, :value [1 0], :error :net-timeout}
{:index 135, :time 9431566167, :type :invoke, :process 34, :f :write, :value 3}
{:index 136, :time 9614131708, :type :info, :process 29, :f :cas, :value [0 0], :error :net-timeout}
{:index 138, :time 9765685167, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 140, :time 9855059542, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 141, :time 9912873125, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 144, :time 10311300375, :type :info, :process 33, :f :write, :value 0, :error :net-timeout}
{:index 146, :time 10436575000, :type :info, :process 34, :f :write, :value 3, :error :net-timeout}
