{:index 485, :time 41279012084, :type :invoke, :process 245, :f :write, :value 2}
{:index 487, :time 41475759250, :type :invoke, :process 0, :f :read, :value nil}
{:index 489, :time 41572443667, :type :invoke, :process 2, :f :read, :value nil}
{:index 491, :time 41758631500, :type :invoke, :process 1, :f :read, :value nil}
{:index 493, :time 41959104750, :type :invoke, :process 249, :f :cas, :value [1 0]}
{:index 495, :time 42084227417, :type :invoke, :process 250, :f :cas, :value [2 4]}
{:index 496, :time 42285698000, :type :info, :process 245, :f :write, :value 2, :error :net-timeout}
{:index 497, :time 42285793209, :type :invoke, :process 251, :f :cas, :value [0 4]}
{:index 498, :time 42479182334, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 499, :time 42479251125, :type :invoke, :process 0, :f :read, :value nil}
{:index 500, :time 42577779000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 501, :time 42665913084, :type :invoke, :process 2, :f :read, :value nil}
{:index 502, :time 42763049250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 503, :time 42763216792, :type :invoke, :process 1, :f :read, :value nil}
{:index 504, :time 42965298209, :type :info, :process 249, :f :cas, :value [1 0], :error :net-timeout}
{:index 505, :time 42965472167, :type :invoke, :process 255, :f :write, :value 3}
{:index 506, :time 43089721459, :type :info, :process 250, :f :cas, :value [2 4], :error :net-timeout}
{:index 507, :time 43089821459, :type :invoke, :process 256, :f :write, :value 0}
{:index 508, :time 43286962292, :type :info, :process 251, :f :cas, :value [0 4], :error :net-timeout}
{:index 509, :time 43287235834, :type :invoke, :process 257, :f :cas, :value [2 2]}
{:index 510, :time 43484465917, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 511, :time 43484702750, :type :invoke, :process 0, :f :read, :value nil}
{:index 512, :time 43672245792, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 513, :time 43672956167, :type :invoke, :process 2, :f :read, :value nil}
{:index 514, :time 43768173209, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 515, :time 43768415959, :type :invoke, :process 1, :f :read, :value nil}
{:index 516, :time 43970612667, :type :info, :process 255, :f :write, :value 3, :error :net-timeout}
{:index 517, :time 43970767375, :type :invoke, :process 261, :f :cas, :value [2 4]}
{:index 518, :time 44095178542, :type :info, :process 256, :f :write, :value 0, :error :net-timeout}
{:index 519, :time 44096191125, :type :invoke, :process 262, :f :cas, :value [0 3]}
{:index 520, :time 44293654542, :type :info, :process 257, :f :cas, :value [2 2], :error :net-timeout}
{:index 521, :time 44293888834, :type :invoke, :process 263, :f :cas, :value [3 0]}
{:index 522, :time 44490532334, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 523, :time 44490657459, :type :invoke, :process 0, :f :read, :value nil}
{:index 524, :time 44676146000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 525, :time 44676390417, :type :invoke, :process 2, :f :read, :value nil}
{:index 526, :time 44774491750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 527, :time 44774996125, :type :invoke, :process 1, :f :read, :value nil}
{:index 528, :time 44975998500, :type :info, :process 261, :f :cas, :value [2 4], :error :net-timeout}
{:index 529, :time 44976242375, :type :invoke, :process 267, :f :write, :value 1}
{:index 530, :time 45101573542, :type :info, :process 262, :f :cas, :value [0 3], :error :net-timeout}
{:index 531, :time 45101870709, :type :invoke, :process 268, :f :cas, :value [0 4]}
{:index 532, :time 45296226125, :type :info, :process 263, :f :cas, :value [3 0], :error :net-timeout}
{:index 533, :time 45296456917, :type :invoke, :process 269, :f :cas, :value [3 4]}
{:index 534, :time 45494616875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 535, :time 45494748125, :type :invoke, :process 0, :f :read, :value nil}
{:index 536, :time 45679496834, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 537, :time 45679672459, :type :invoke, :process 2, :f :read, :value nil}
{:index 538, :time 45780009375, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 539, :time 45844474042, :type :invoke, :process 1, :f :read, :value nil}
{:index 540, :time 45981572459, :type :info, :process 267, :f :write, :value 1, :error :net-timeout}
{:index 541, :time 45981785667, :type :invoke, :process 273, :f :cas, :value [1 3]}
{:index 542, :time 46106889417, :type :info, :process 268, :f :cas, :value [0 4], :error :net-timeout}
{:index 543, :time 46128219750, :type :invoke, :process 274, :f :cas, :value [0 2]}
{:index 544, :time 46297996709, :type :info, :process 269, :f :cas, :value [3 4], :error :net-timeout}
{:index 546, :time 46499516500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 548, :time 46685453750, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 550, :time 46848293875, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 552, :time 46983930667, :type :info, :process 273, :f :cas, :value [1 3], :error :net-timeout}
{:index 554, :time 47134611209, :type :info, :process 274, :f :cas, :value [0 2], :error :net-timeout}
