{:index 727, :time 25036035708, :type :invoke, :process 224, :f :cas, :value [0 1]}
{:index 729, :time 25100749250, :type :invoke, :process 225, :f :write, :value 2}
{:index 731, :time 25130622250, :type :invoke, :process 238, :f :cas, :value [1 3]}
{:index 733, :time 25176649792, :type :invoke, :process 227, :f :write, :value 4}
{:index 735, :time 25236958000, :type :invoke, :process 234, :f :write, :value 4}
{:index 743, :time 25478081042, :type :invoke, :process 223, :f :write, :value 0}
{:index 750, :time 26041680500, :type :info, :process 224, :f :cas, :value [0 1], :error :net-timeout}
{:index 751, :time 26041831167, :type :invoke, :process 236, :f :cas, :value [4 2]}
{:index 752, :time 26104488417, :type :info, :process 225, :f :write, :value 2, :error :net-timeout}
{:index 753, :time 26104591667, :type :invoke, :process 237, :f :cas, :value [1 3]}
{:index 754, :time 26131930542, :type :info, :process 238, :f :cas, :value [1 3], :error :net-timeout}
{:index 755, :time 26132036792, :type :invoke, :process 250, :f :cas, :value [0 3]}
{:index 756, :time 26181415000, :type :info, :process 227, :f :write, :value 4, :error :net-timeout}
{:index 757, :time 26181511792, :type :invoke, :process 239, :f :cas, :value [1 4]}
{:index 758, :time 26237409708, :type :info, :process 234, :f :write, :value 4, :error :net-timeout}
{:index 759, :time 26237529500, :type :invoke, :process 246, :f :cas, :value [2 2]}
{:index 766, :time 26482896333, :type :info, :process 223, :f :write, :value 0, :error :net-timeout}
{:index 767, :time 26483042375, :type :invoke, :process 235, :f :write, :value 3}
{:index 774, :time 27045719833, :type :info, :process 236, :f :cas, :value [4 2], :error :net-timeout}
{:index 775, :time 27045873083, :type :invoke, :process 248, :f :write, :value 2}
{:index 776, :time 27109959125, :type :info, :process 237, :f :cas, :value [1 3], :error :net-timeout}
{:index 777, :time 27110131792, :type :invoke, :process 249, :f :cas, :value [4 4]}
{:index 778, :time 27135576708, :type :info, :process 250, :f :cas, :value [0 3], :error :net-timeout}
{:index 779, :time 27135717208, :type :invoke, :process 262, :f :write, :value 1}
{:index 780, :time 27186749292, :type :info, :process 239, :f :cas, :value [1 4], :error :net-timeout}
{:index 782, :time 27238657917, :type :info, :process 246, :f :cas, :value [2 2], :error :net-timeout}
{:index 790, :time 27485457958, :type :info, :process 235, :f :write, :value 3, :error :net-timeout}
{:index 798, :time 28051026083, :type :info, :process 248, :f :write, :value 2, :error :net-timeout}
{:index 800, :time 28111921625, :type :info, :process 249, :f :cas, :value [4 4], :error :net-timeout}
{:index 802, :time 28140762667, :type :info, :process 262, :f :write, :value 1, :error :net-timeout}
