{:index 793, :time 27546374333, :type :invoke, :process 244, :f :cas, :value [0 4]}
{:index 795, :time 27607352000, :type :invoke, :process 245, :f :cas, :value [2 0]}
{:index 797, :time 27652980083, :type :invoke, :process 0, :f :read, :value nil}
{:index 809, :time 28323417167, :type :invoke, :process 1, :f :read, :value nil}
{:index 811, :time 28376184667, :type :invoke, :process 267, :f :cas, :value [2 3]}
{:index 813, :time 28429792625, :type :invoke, :process 2, :f :read, :value nil}
{:index 816, :time 28552121125, :type :info, :process 244, :f :cas, :value [0 4], :error :net-timeout}
{:index 817, :time 28554944000, :type :invoke, :process 256, :f :cas, :value [0 0]}
{:index 818, :time 28611753875, :type :info, :process 245, :f :cas, :value [2 0], :error :net-timeout}
{:index 819, :time 28611888667, :type :invoke, :process 257, :f :cas, :value [0 0]}
{:index 820, :time 28654470708, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 821, :time 28673697667, :type :invoke, :process 0, :f :read, :value nil}
{:index 832, :time 29323034917, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 833, :time 29323085750, :type :invoke, :process 1, :f :read, :value nil}
{:index 834, :time 29380598875, :type :info, :process 267, :f :cas, :value [2 3], :error :net-timeout}
{:index 835, :time 29380645250, :type :invoke, :process 279, :f :cas, :value [1 1]}
{:index 836, :time 29433222417, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 837, :time 29433253125, :type :invoke, :process 2, :f :read, :value nil}
{:index 840, :time 29559859250, :type :info, :process 256, :f :cas, :value [0 0], :error :net-timeout}
{:index 841, :time 29559943208, :type :invoke, :process 268, :f :write, :value 2}
{:index 842, :time 29616508667, :type :info, :process 257, :f :cas, :value [0 0], :error :net-timeout}
{:index 843, :time 29616593583, :type :invoke, :process 269, :f :write, :value 1}
{:index 844, :time 29678864958, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 845, :time 29678956917, :type :invoke, :process 0, :f :read, :value nil}
{:index 856, :time 30322881333, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 857, :time 30361390708, :type :invoke, :process 1, :f :read, :value nil}
{:index 858, :time 30385014000, :type :info, :process 279, :f :cas, :value [1 1], :error :net-timeout}
{:index 859, :time 30385081667, :type :invoke, :process 291, :f :cas, :value [3 3]}
{:index 860, :time 30437603625, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 861, :time 30437655083, :type :invoke, :process 2, :f :read, :value nil}
{:index 864, :time 30564805333, :type :info, :process 268, :f :write, :value 2, :error :net-timeout}
{:index 865, :time 30564959875, :type :invoke, :process 280, :f :cas, :value [3 4]}
{:index 866, :time 30620263292, :type :info, :process 269, :f :write, :value 1, :error :net-timeout}
{:index 867, :time 30629344917, :type :invoke, :process 281, :f :cas, :value [4 2]}
{:index 868, :time 30683904667, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 869, :time 30684018292, :type :invoke, :process 0, :f :read, :value nil}
{:index 880, :time 31365986167, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 881, :time 31367148958, :type :invoke, :process 1, :f :read, :value nil}
{:index 882, :time 31388981667, :type :info, :process 291, :f :cas, :value [3 3], :error :net-timeout}
{:index 883, :time 31389049125, :type :invoke, :process 303, :f :cas, :value [4 1]}
{:index 884, :time 31437639583, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 885, :time 31437706708, :type :invoke, :process 2, :f :read, :value nil}
{:index 888, :time 31568837333, :type :info, :process 280, :f :cas, :value [3 4], :error :net-timeout}
{:index 889, :time 31568956500, :type :invoke, :process 292, :f :write, :value 2}
{:index 890, :time 31631721625, :type :info, :process 281, :f :cas, :value [4 2], :error :net-timeout}
{:index 891, :time 31631829833, :type :invoke, :process 293, :f :write, :value 2}
{:index 892, :time 31687010250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 893, :time 31687133833, :type :invoke, :process 0, :f :read, :value nil}
{:index 897, :time 32077252458, :type :ok, :process 2, :f :read, :value 1}
{:index 898, :time 32078260583, :type :ok, :process 293, :f :write, :value 2}
{:index 904, :time 32116678458, :type :fail, :process 303, :f :cas, :value [4 1], :error [:precondition-failed "expected 4 but had 3"]}
{:index 905, :time 32117335458, :type :ok, :process 0, :f :read, :value 3}
{:index 909, :time 32154993000, :type :ok, :process 1, :f :read, :value 2}
{:index 911, :time 32156417833, :type :ok, :process 292, :f :write, :value 2}
{:index 914, :time 32241924833, :type :invoke, :process 303, :f :cas, :value [1 0]}
{:index 915, :time 32244323667, :type :fail, :process 303, :f :cas, :value [1 0], :error [:precondition-failed "expected 1 but had 2"]}
{:index 916, :time 32261467708, :type :invoke, :process 0, :f :read, :value nil}
{:index 917, :time 32263901875, :type :ok, :process 0, :f :read, :value 2}
{:index 918, :time 32263925458, :type :invoke, :process 292, :f :cas, :value [2 0]}
{:index 919, :time 32266213750, :type :ok, :process 292, :f :cas, :value [2 0]}
{:index 920, :time 32329153583, :type :invoke, :process 293, :f :cas, :value [3 4]}
{:index 921, :time 32331082875, :type :invoke, :process 0, :f :read, :value nil}
{:index 922, :time 32331558292, :type :fail, :process 293, :f :cas, :value [3 4], :error [:precondition-failed "expected 3 but had 0"]}
{:index 923, :time 32332573625, :type :ok, :process 0, :f :read, :value 0}
{:index 930, :time 32522791083, :type :invoke, :process 303, :f :cas, :value [2 0]}
{:index 931, :time 32527651583, :type :fail, :process 303, :f :cas, :value [2 0], :error [:precondition-failed "expected 2 but had 0"]}
{:index 932, :time 32593660875, :type :invoke, :process 0, :f :read, :value nil}
{:index 933, :time 32598835250, :type :ok, :process 0, :f :read, :value 0}
{:index 936, :time 32649741500, :type :invoke, :process 0, :f :read, :value nil}
{:index 937, :time 32652761833, :type :ok, :process 0, :f :read, :value 0}
{:index 940, :time 32743803000, :type :invoke, :process 303, :f :cas, :value [3 3]}
{:index 941, :time 32747998750, :type :fail, :process 303, :f :cas, :value [3 3], :error [:precondition-failed "expected 3 but had 0"]}
{:index 942, :time 32748072708, :type :invoke, :process 0, :f :read, :value nil}
{:index 943, :time 32750988417, :type :ok, :process 0, :f :read, :value 0}
{:index 944, :time 32797186833, :type :invoke, :process 292, :f :write, :value 2}
{:index 945, :time 32801258833, :type :ok, :process 292, :f :write, :value 2}
{:index 952, :time 32927762958, :type :invoke, :process 0, :f :read, :value nil}
{:index 953, :time 32930443958, :type :ok, :process 0, :f :read, :value 2}
{:index 954, :time 32970832542, :type :invoke, :process 0, :f :read, :value nil}
{:index 955, :time 32974250917, :type :ok, :process 0, :f :read, :value 2}
{:index 958, :time 33039139750, :type :invoke, :process 303, :f :cas, :value [1 1]}
{:index 959, :time 33042734083, :type :fail, :process 303, :f :cas, :value [1 1], :error [:precondition-failed "expected 1 but had 2"]}
{:index 962, :time 33114341417, :type :invoke, :process 0, :f :read, :value nil}
{:index 963, :time 33118272917, :type :ok, :process 0, :f :read, :value 2}
{:index 966, :time 33245742667, :type :invoke, :process 303, :f :cas, :value [1 1]}
{:index 967, :time 33249574875, :type :fail, :process 303, :f :cas, :value [1 1], :error [:precondition-failed "expected 1 but had 2"]}
{:index 968, :time 33262159625, :type :invoke, :process 303, :f :write, :value 1}
{:index 969, :time 33264587917, :type :ok, :process 303, :f :write, :value 1}
{:index 972, :time 33316864125, :type :invoke, :process 293, :f :write, :value 0}
{:index 973, :time 33319002208, :type :ok, :process 293, :f :write, :value 0}
{:index 978, :time 33467217375, :type :invoke, :process 0, :f :read, :value nil}
{:index 979, :time 33470164125, :type :ok, :process 0, :f :read, :value 0}
{:index 982, :time 33496185625, :type :invoke, :process 303, :f :cas, :value [1 4]}
{:index 985, :time 33498752167, :type :fail, :process 303, :f :cas, :value [1 4], :error [:precondition-failed "expected 1 but had 0"]}
{:index 988, :time 33606540208, :type :invoke, :process 0, :f :read, :value nil}
{:index 989, :time 33609693125, :type :ok, :process 0, :f :read, :value 0}
{:index 990, :time 33670729667, :type :invoke, :process 303, :f :cas, :value [0 2]}
{:index 991, :time 33677015583, :type :ok, :process 303, :f :cas, :value [0 2]}
{:index 996, :time 33799194417, :type :invoke, :process 0, :f :read, :value nil}
{:index 997, :time 33803836667, :type :ok, :process 0, :f :read, :value 2}
{:index 1004, :time 33915065542, :type :invoke, :process 303, :f :cas, :value [4 1]}
{:index 1005, :time 33917546833, :type :fail, :process 303, :f :cas, :value [4 1], :error [:precondition-failed "expected 4 but had 2"]}
{:index 1006, :time 33944678583, :type :invoke, :process 303, :f :write, :value 3}
{:index 1007, :time 33947044250, :type :ok, :process 303, :f :write, :value 3}
{:index 1008, :time 33955288708, :type :invoke, :process 0, :f :read, :value nil}
{:index 1009, :time 33956795208, :type :ok, :process 0, :f :read, :value 3}
{:index 1017, :time 34084483667, :type :invoke, :process 2, :f :read, :value nil}
{:index 1018, :time 34155027042, :type :invoke, :process 0, :f :read, :value nil}
{:index 1020, :time 34228136458, :type :invoke, :process 293, :f :cas, :value [0 1]}
{:index 1021, :time 34246057583, :type :invoke, :process 1, :f :read, :value nil}
{:index 1023, :time 34284450958, :type :invoke, :process 303, :f :cas, :value [4 3]}
{:index 1024, :time 34338101000, :type :invoke, :process 292, :f :cas, :value [3 2]}
{:index 1030, :time 35089285333, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1031, :time 35100794292, :type :invoke, :process 2, :f :read, :value nil}
{:index 1032, :time 35156247583, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1033, :time 35156325583, :type :invoke, :process 0, :f :read, :value nil}
{:index 1036, :time 35230569417, :type :info, :process 293, :f :cas, :value [0 1], :error :net-timeout}
{:index 1037, :time 35249955833, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1038, :time 35275776083, :type :invoke, :process 305, :f :cas, :value [1 4]}
{:index 1040, :time 35289359375, :type :info, :process 303, :f :cas, :value [4 3], :error :net-timeout}
{:index 1042, :time 35340318667, :type :info, :process 292, :f :cas, :value [3 2], :error :net-timeout}
{:index 1054, :time 36105782083, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1056, :time 36160036750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1060, :time 36280566917, :type :info, :process 305, :f :cas, :value [1 4], :error :net-timeout}
