{:index 1227, :time 38558174459, :type :invoke, :process 308, :f :write, :value 0}
{:index 1233, :time 39126851584, :type :invoke, :process 330, :f :cas, :value [4 0]}
{:index 1239, :time 39250864292, :type :invoke, :process 319, :f :cas, :value [2 4]}
{:index 1243, :time 39346798000, :type :invoke, :process 321, :f :cas, :value [3 1]}
{:index 1245, :time 39386971750, :type :invoke, :process 322, :f :cas, :value [3 4]}
{:index 1247, :time 39451623625, :type :invoke, :process 323, :f :write, :value 0}
{:index 1250, :time 39563524500, :type :info, :process 308, :f :write, :value 0, :error :net-timeout}
{:index 1251, :time 39563710709, :type :invoke, :process 320, :f :cas, :value [3 1]}
{:index 1256, :time 40131803875, :type :info, :process 330, :f :cas, :value [4 0], :error :net-timeout}
{:index 1257, :time 40131977375, :type :invoke, :process 342, :f :cas, :value [3 2]}
{:index 1262, :time 40254366959, :type :info, :process 319, :f :cas, :value [2 4], :error :net-timeout}
{:index 1263, :time 40254467834, :type :invoke, :process 331, :f :cas, :value [3 0]}
{:index 1266, :time 40351476500, :type :info, :process 321, :f :cas, :value [3 1], :error :net-timeout}
{:index 1267, :time 40360874334, :type :invoke, :process 333, :f :cas, :value [2 0]}
{:index 1268, :time 40388874584, :type :info, :process 322, :f :cas, :value [3 4], :error :net-timeout}
{:index 1269, :time 40430118709, :type :invoke, :process 334, :f :cas, :value [4 1]}
{:index 1270, :time 40456272334, :type :info, :process 323, :f :write, :value 0, :error :net-timeout}
{:index 1271, :time 40463848125, :type :invoke, :process 335, :f :cas, :value [0 2]}
{:index 1274, :time 40564250209, :type :info, :process 320, :f :cas, :value [3 1], :error :net-timeout}
{:index 1275, :time 40564302042, :type :invoke, :process 332, :f :write, :value 1}
{:index 1280, :time 41136195792, :type :info, :process 342, :f :cas, :value [3 2], :error :net-timeout}
{:index 1281, :time 41136337084, :type :invoke, :process 354, :f :cas, :value [4 0]}
{:index 1286, :time 41259199834, :type :info, :process 331, :f :cas, :value [3 0], :error :net-timeout}
{:index 1287, :time 41311137500, :type :invoke, :process 343, :f :cas, :value [1 2]}
{:index 1289, :time 41365935417, :type :info, :process 333, :f :cas, :value [2 0], :error :net-timeout}
{:index 1292, :time 41435018625, :type :info, :process 334, :f :cas, :value [4 1], :error :net-timeout}
{:index 1294, :time 41465588667, :type :info, :process 335, :f :cas, :value [0 2], :error :net-timeout}
{:index 1298, :time 41564410834, :type :info, :process 332, :f :write, :value 1, :error :net-timeout}
{:index 1304, :time 42141122542, :type :info, :process 354, :f :cas, :value [4 0], :error :net-timeout}
{:index 1310, :time 42316519042, :type :info, :process 343, :f :cas, :value [1 2], :error :net-timeout}
