{:index 371, :time 12169270208, :type :invoke, :process 107, :f :cas, :value [1 1]}
{:index 380, :time 12343578875, :type :invoke, :process 114, :f :cas, :value [0 2]}
{:index 382, :time 12360205708, :type :invoke, :process 103, :f :cas, :value [1 3]}
{:index 384, :time 12416363042, :type :invoke, :process 104, :f :cas, :value [0 4]}
{:index 389, :time 12549149417, :type :invoke, :process 105, :f :write, :value 1}
{:index 393, :time 13143857958, :type :invoke, :process 118, :f :cas, :value [4 1]}
{:index 394, :time 13170299417, :type :info, :process 107, :f :cas, :value [1 1], :error :net-timeout}
{:index 395, :time 13196219208, :type :invoke, :process 119, :f :cas, :value [3 2]}
{:index 402, :time 13347214792, :type :info, :process 114, :f :cas, :value [0 2], :error :net-timeout}
{:index 403, :time 13347291417, :type :invoke, :process 126, :f :cas, :value [0 4]}
{:index 404, :time 13364916125, :type :info, :process 103, :f :cas, :value [1 3], :error :net-timeout}
{:index 405, :time 13365046250, :type :invoke, :process 115, :f :cas, :value [3 4]}
{:index 406, :time 13417097375, :type :info, :process 104, :f :cas, :value [0 4], :error :net-timeout}
{:index 407, :time 13417166958, :type :invoke, :process 116, :f :cas, :value [2 1]}
{:index 412, :time 13553320042, :type :info, :process 105, :f :write, :value 1, :error :net-timeout}
{:index 413, :time 13564498375, :type :invoke, :process 117, :f :write, :value 1}
{:index 416, :time 14145255750, :type :info, :process 118, :f :cas, :value [4 1], :error :net-timeout}
{:index 417, :time 14145506792, :type :invoke, :process 130, :f :write, :value 4}
{:index 418, :time 14201553208, :type :info, :process 119, :f :cas, :value [3 2], :error :net-timeout}
{:index 419, :time 14213450750, :type :invoke, :process 131, :f :cas, :value [4 4]}
{:index 426, :time 14347556500, :type :info, :process 126, :f :cas, :value [0 4], :error :net-timeout}
{:index 427, :time 14368342833, :type :info, :process 115, :f :cas, :value [3 4], :error :net-timeout}
{:index 428, :time 14391902833, :type :invoke, :process 138, :f :cas, :value [2 1]}
{:index 429, :time 14395014333, :type :invoke, :process 127, :f :cas, :value [2 4]}
{:index 430, :time 14416837417, :type :info, :process 116, :f :cas, :value [2 1], :error :net-timeout}
{:index 436, :time 14569401042, :type :info, :process 117, :f :write, :value 1, :error :net-timeout}
{:index 440, :time 15149242917, :type :info, :process 130, :f :write, :value 4, :error :net-timeout}
{:index 442, :time 15219385125, :type :info, :process 131, :f :cas, :value [4 4], :error :net-timeout}
{:index 450, :time 15391969750, :type :info, :process 138, :f :cas, :value [2 1], :error :net-timeout}
{:index 452, :time 15399551208, :type :info, :process 127, :f :cas, :value [2 4], :error :net-timeout}
