{:index 545, :time 46298234959, :type :invoke, :process 275, :f :cas, :value [2 2]}
{:index 547, :time 46499675375, :type :invoke, :process 0, :f :read, :value nil}
{:index 549, :time 46685640875, :type :invoke, :process 2, :f :read, :value nil}
{:index 551, :time 46848464500, :type :invoke, :process 1, :f :read, :value nil}
{:index 553, :time 46984146917, :type :invoke, :process 279, :f :write, :value 0}
{:index 555, :time 47134992542, :type :invoke, :process 280, :f :cas, :value [3 2]}
{:index 556, :time 47304053000, :type :info, :process 275, :f :cas, :value [2 2], :error :net-timeout}
{:index 557, :time 47304177750, :type :invoke, :process 281, :f :cas, :value [4 1]}
{:index 558, :time 47501693417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 559, :time 47501754667, :type :invoke, :process 0, :f :read, :value nil}
{:index 560, :time 47691963625, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 561, :time 47692140459, :type :invoke, :process 2, :f :read, :value nil}
{:index 562, :time 47855126875, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 563, :time 47878246500, :type :invoke, :process 1, :f :read, :value nil}
{:index 564, :time 47989555834, :type :info, :process 279, :f :write, :value 0, :error :net-timeout}
{:index 565, :time 47989847750, :type :invoke, :process 285, :f :cas, :value [3 0]}
{:index 566, :time 48140568209, :type :info, :process 280, :f :cas, :value [3 2], :error :net-timeout}
{:index 567, :time 48140738292, :type :invoke, :process 286, :f :cas, :value [0 4]}
{:index 568, :time 48309467875, :type :info, :process 281, :f :cas, :value [4 1], :error :net-timeout}
{:index 569, :time 48309670625, :type :invoke, :process 287, :f :write, :value 2}
{:index 570, :time 48506783500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 571, :time 48506969667, :type :invoke, :process 0, :f :read, :value nil}
{:index 572, :time 48696805042, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 573, :time 48696914417, :type :invoke, :process 2, :f :read, :value nil}
{:index 574, :time 48882125250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 575, :time 48882223209, :type :invoke, :process 1, :f :read, :value nil}
{:index 576, :time 48995783042, :type :info, :process 285, :f :cas, :value [3 0], :error :net-timeout}
{:index 577, :time 48995921000, :type :invoke, :process 291, :f :cas, :value [3 0]}
{:index 578, :time 49145743584, :type :info, :process 286, :f :cas, :value [0 4], :error :net-timeout}
{:index 579, :time 49145916375, :type :invoke, :process 292, :f :cas, :value [2 4]}
{:index 580, :time 49318862625, :type :info, :process 287, :f :write, :value 2, :error :net-timeout}
{:index 581, :time 49319096667, :type :invoke, :process 293, :f :cas, :value [0 2]}
{:index 582, :time 49511291292, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 583, :time 49511524459, :type :invoke, :process 0, :f :read, :value nil}
{:index 584, :time 49702342625, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 585, :time 49702544084, :type :invoke, :process 2, :f :read, :value nil}
{:index 586, :time 49884707500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 587, :time 49888260084, :type :invoke, :process 1, :f :read, :value nil}
{:index 588, :time 50001524375, :type :info, :process 291, :f :cas, :value [3 0], :error :net-timeout}
{:index 589, :time 50001780375, :type :invoke, :process 297, :f :cas, :value [1 0]}
{:index 590, :time 50147435084, :type :info, :process 292, :f :cas, :value [2 4], :error :net-timeout}
{:index 591, :time 50203842959, :type :invoke, :process 298, :f :write, :value 1}
{:index 592, :time 50326400250, :type :info, :process 293, :f :cas, :value [0 2], :error :net-timeout}
{:index 593, :time 50326601209, :type :invoke, :process 299, :f :cas, :value [2 4]}
{:index 594, :time 50514991375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 595, :time 50515108875, :type :invoke, :process 0, :f :read, :value nil}
{:index 596, :time 50707947042, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 597, :time 50708045750, :type :invoke, :process 2, :f :read, :value nil}
{:index 598, :time 50893104042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 599, :time 50893220542, :type :invoke, :process 1, :f :read, :value nil}
{:index 600, :time 51004013750, :type :info, :process 297, :f :cas, :value [1 0], :error :net-timeout}
{:index 601, :time 51004238709, :type :invoke, :process 303, :f :cas, :value [1 4]}
{:index 602, :time 51209391959, :type :info, :process 298, :f :write, :value 1, :error :net-timeout}
{:index 603, :time 51209653750, :type :invoke, :process 304, :f :write, :value 0}
{:index 604, :time 51331742709, :type :info, :process 299, :f :cas, :value [2 4], :error :net-timeout}
{:index 606, :time 51515517875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 608, :time 51713294417, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 610, :time 51895191625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 612, :time 52006414084, :type :info, :process 303, :f :cas, :value [1 4], :error :net-timeout}
{:index 614, :time 52210326750, :type :info, :process 304, :f :write, :value 0, :error :net-timeout}
