{:index 1225, :time 38504766875, :type :invoke, :process 315, :f :cas, :value [2 2]}
{:index 1229, :time 38607726250, :type :invoke, :process 304, :f :cas, :value [2 1]}
{:index 1231, :time 38615143459, :type :invoke, :process 2, :f :read, :value nil}
{:index 1235, :time 39180350334, :type :invoke, :process 0, :f :read, :value nil}
{:index 1237, :time 39211115042, :type :invoke, :process 317, :f :write, :value 1}
{:index 1241, :time 39309055625, :type :invoke, :process 1, :f :read, :value nil}
{:index 1248, :time 39507897167, :type :info, :process 315, :f :cas, :value [2 2], :error :net-timeout}
{:index 1249, :time 39508058375, :type :invoke, :process 327, :f :write, :value 0}
{:index 1252, :time 39608449959, :type :info, :process 304, :f :cas, :value [2 1], :error :net-timeout}
{:index 1253, :time 39608646209, :type :invoke, :process 316, :f :write, :value 0}
{:index 1254, :time 39619963459, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1255, :time 39625589042, :type :invoke, :process 2, :f :read, :value nil}
{:index 1258, :time 40185008875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1259, :time 40185130042, :type :invoke, :process 0, :f :read, :value nil}
{:index 1260, :time 40215664959, :type :info, :process 317, :f :write, :value 1, :error :net-timeout}
{:index 1261, :time 40227201792, :type :invoke, :process 329, :f :cas, :value [1 3]}
{:index 1264, :time 40313313084, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1265, :time 40313391834, :type :invoke, :process 1, :f :read, :value nil}
{:index 1272, :time 40512927125, :type :info, :process 327, :f :write, :value 0, :error :net-timeout}
{:index 1273, :time 40513659459, :type :invoke, :process 339, :f :cas, :value [0 2]}
{:index 1276, :time 40610169334, :type :info, :process 316, :f :write, :value 0, :error :net-timeout}
{:index 1277, :time 40626674834, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1278, :time 40626976625, :type :invoke, :process 328, :f :cas, :value [0 3]}
{:index 1279, :time 40685373500, :type :invoke, :process 2, :f :read, :value nil}
{:index 1282, :time 41188943292, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1283, :time 41189042042, :type :invoke, :process 0, :f :read, :value nil}
{:index 1284, :time 41231972042, :type :info, :process 329, :f :cas, :value [1 3], :error :net-timeout}
{:index 1285, :time 41256227042, :type :invoke, :process 341, :f :cas, :value [0 3]}
{:index 1288, :time 41314480917, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1291, :time 41403730125, :type :invoke, :process 1, :f :read, :value nil}
{:index 1296, :time 41513362209, :type :info, :process 339, :f :cas, :value [0 2], :error :net-timeout}
{:index 1297, :time 41535784917, :type :invoke, :process 351, :f :cas, :value [4 1]}
{:index 1300, :time 41631443292, :type :info, :process 328, :f :cas, :value [0 3], :error :net-timeout}
{:index 1301, :time 41631533792, :type :invoke, :process 340, :f :write, :value 2}
{:index 1302, :time 41690020084, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1303, :time 41690122375, :type :invoke, :process 2, :f :read, :value nil}
{:index 1306, :time 42189674667, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1307, :time 42189730000, :type :invoke, :process 0, :f :read, :value nil}
{:index 1308, :time 42261520250, :type :info, :process 341, :f :cas, :value [0 3], :error :net-timeout}
{:index 1309, :time 42261702834, :type :invoke, :process 353, :f :cas, :value [1 1]}
{:index 1314, :time 42404186917, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1315, :time 42417131625, :type :invoke, :process 1, :f :read, :value nil}
{:index 1320, :time 42540588750, :type :info, :process 351, :f :cas, :value [4 1], :error :net-timeout}
{:index 1321, :time 42540709000, :type :invoke, :process 363, :f :cas, :value [0 3]}
{:index 1324, :time 42635408417, :type :info, :process 340, :f :write, :value 2, :error :net-timeout}
{:index 1325, :time 42660686375, :type :invoke, :process 352, :f :write, :value 1}
{:index 1326, :time 42692860042, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1327, :time 42692941750, :type :invoke, :process 2, :f :read, :value nil}
{:index 1330, :time 43166878834, :type :ok, :process 0, :f :read, :value 2}
{:index 1332, :time 43167686709, :type :fail, :process 353, :f :cas, :value [1 1], :error [:precondition-failed "expected 1 but had 2"]}
{:index 1333, :time 43168233750, :type :fail, :process 363, :f :cas, :value [0 3], :error [:precondition-failed "expected 0 but had 2"]}
{:index 1337, :time 43170406417, :type :ok, :process 2, :f :read, :value 2}
{:index 1341, :time 43216818125, :type :ok, :process 1, :f :read, :value 2}
{:index 1343, :time 43217826959, :type :ok, :process 352, :f :write, :value 1}
{:index 1344, :time 43257425542, :type :invoke, :process 0, :f :read, :value nil}
{:index 1345, :time 43258971834, :type :ok, :process 0, :f :read, :value 1}
{:index 1346, :time 43302340084, :type :invoke, :process 363, :f :write, :value 1}
{:index 1347, :time 43304178542, :type :ok, :process 363, :f :write, :value 1}
{:index 1350, :time 43335651250, :type :invoke, :process 363, :f :cas, :value [3 1]}
{:index 1351, :time 43337608042, :type :fail, :process 363, :f :cas, :value [3 1], :error [:precondition-failed "expected 3 but had 1"]}
{:index 1354, :time 43469728417, :type :invoke, :process 1, :f :read, :value nil}
{:index 1355, :time 43474024042, :type :ok, :process 1, :f :read, :value 1}
{:index 1356, :time 43493681292, :type :invoke, :process 363, :f :cas, :value [0 1]}
{:index 1357, :time 43499714542, :type :fail, :process 363, :f :cas, :value [0 1], :error [:precondition-failed "expected 0 but had 1"]}
{:index 1358, :time 43548250292, :type :invoke, :process 0, :f :read, :value nil}
{:index 1359, :time 43553541625, :type :ok, :process 0, :f :read, :value 1}
{:index 1360, :time 43569243792, :type :invoke, :process 352, :f :cas, :value [3 1]}
{:index 1361, :time 43574452000, :type :fail, :process 352, :f :cas, :value [3 1], :error [:precondition-failed "expected 3 but had 1"]}
{:index 1362, :time 43590554000, :type :invoke, :process 0, :f :read, :value nil}
{:index 1363, :time 43593502792, :type :ok, :process 0, :f :read, :value 1}
{:index 1365, :time 43608591084, :type :invoke, :process 0, :f :read, :value nil}
{:index 1367, :time 43611176250, :type :ok, :process 0, :f :read, :value 1}
{:index 1372, :time 43686767834, :type :invoke, :process 0, :f :read, :value nil}
{:index 1373, :time 43688320334, :type :ok, :process 0, :f :read, :value 1}
{:index 1374, :time 43694088000, :type :invoke, :process 363, :f :cas, :value [4 3]}
{:index 1375, :time 43695543459, :type :fail, :process 363, :f :cas, :value [4 3], :error [:precondition-failed "expected 4 but had 1"]}
{:index 1380, :time 43839367042, :type :invoke, :process 363, :f :cas, :value [4 2]}
{:index 1381, :time 43845722167, :type :fail, :process 363, :f :cas, :value [4 2], :error [:precondition-failed "expected 4 but had 1"]}
{:index 1390, :time 44010155709, :type :invoke, :process 363, :f :write, :value 1}
{:index 1391, :time 44014806459, :type :ok, :process 363, :f :write, :value 1}
{:index 1392, :time 44052985542, :type :invoke, :process 0, :f :read, :value nil}
{:index 1393, :time 44058302000, :type :ok, :process 0, :f :read, :value 1}
{:index 1394, :time 44089374250, :type :invoke, :process 363, :f :cas, :value [4 2]}
{:index 1395, :time 44094989375, :type :fail, :process 363, :f :cas, :value [4 2], :error [:precondition-failed "expected 4 but had 1"]}
{:index 1396, :time 44101714084, :type :invoke, :process 0, :f :read, :value nil}
{:index 1397, :time 44106762084, :type :ok, :process 0, :f :read, :value 1}
{:index 1402, :time 44214172875, :type :invoke, :process 363, :f :write, :value 0}
{:index 1403, :time 44215998375, :type :ok, :process 363, :f :write, :value 0}
{:index 1406, :time 44301686375, :type :invoke, :process 1, :f :read, :value nil}
{:index 1407, :time 44303785667, :type :ok, :process 1, :f :read, :value 0}
{:index 1410, :time 44358309250, :type :invoke, :process 363, :f :cas, :value [1 1]}
{:index 1411, :time 44360518209, :type :fail, :process 363, :f :cas, :value [1 1], :error [:precondition-failed "expected 1 but had 0"]}
{:index 1412, :time 44383374417, :type :invoke, :process 0, :f :read, :value nil}
{:index 1413, :time 44385359542, :type :ok, :process 0, :f :read, :value 0}
{:index 1414, :time 44427769292, :type :invoke, :process 353, :f :write, :value 0}
{:index 1415, :time 44430044792, :type :ok, :process 353, :f :write, :value 0}
{:index 1416, :time 44476290292, :type :invoke, :process 0, :f :read, :value nil}
{:index 1417, :time 44478829084, :type :ok, :process 0, :f :read, :value 0}
{:index 1418, :time 44512659250, :type :invoke, :process 363, :f :write, :value 4}
{:index 1419, :time 44515560875, :type :ok, :process 363, :f :write, :value 4}
{:index 1420, :time 44572252709, :type :invoke, :process 363, :f :cas, :value [2 3]}
{:index 1421, :time 44577111125, :type :fail, :process 363, :f :cas, :value [2 3], :error [:precondition-failed "expected 2 but had 4"]}
{:index 1422, :time 44598244459, :type :invoke, :process 363, :f :cas, :value [3 2]}
{:index 1423, :time 44603286125, :type :fail, :process 363, :f :cas, :value [3 2], :error [:precondition-failed "expected 3 but had 4"]}
{:index 1426, :time 44709317375, :type :invoke, :process 0, :f :read, :value nil}
{:index 1427, :time 44712549417, :type :ok, :process 0, :f :read, :value 4}
{:index 1428, :time 44780043334, :type :invoke, :process 363, :f :cas, :value [2 0]}
{:index 1429, :time 44785256167, :type :fail, :process 363, :f :cas, :value [2 0], :error [:precondition-failed "expected 2 but had 4"]}
{:index 1432, :time 44859179584, :type :invoke, :process 363, :f :cas, :value [0 1]}
{:index 1433, :time 44863934959, :type :fail, :process 363, :f :cas, :value [0 1], :error [:precondition-failed "expected 0 but had 4"]}
{:index 1440, :time 44970266875, :type :invoke, :process 353, :f :cas, :value [0 0]}
{:index 1441, :time 44972451417, :type :fail, :process 353, :f :cas, :value [0 0], :error [:precondition-failed "expected 0 but had 4"]}
{:index 1450, :time 45156518792, :type :invoke, :process 0, :f :read, :value nil}
{:index 1451, :time 45218966584, :type :invoke, :process 1, :f :read, :value nil}
{:index 1453, :time 45294322875, :type :invoke, :process 363, :f :cas, :value [3 1]}
{:index 1454, :time 45307825709, :type :invoke, :process 352, :f :write, :value 4}
{:index 1458, :time 45464738000, :type :invoke, :process 2, :f :read, :value nil}
{:index 1459, :time 45528318875, :type :invoke, :process 353, :f :cas, :value [0 1]}
{:index 1462, :time 46157226417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1463, :time 46157369209, :type :invoke, :process 0, :f :read, :value nil}
{:index 1464, :time 46223134542, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1465, :time 46223239584, :type :invoke, :process 1, :f :read, :value nil}
{:index 1468, :time 46299675875, :type :info, :process 363, :f :cas, :value [3 1], :error :net-timeout}
{:index 1469, :time 46299818000, :type :invoke, :process 375, :f :cas, :value [3 3]}
{:index 1470, :time 46309356375, :type :info, :process 352, :f :write, :value 4, :error :net-timeout}
{:index 1477, :time 46469429125, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1480, :time 46529080834, :type :info, :process 353, :f :cas, :value [0 1], :error :net-timeout}
{:index 1486, :time 47162450959, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1488, :time 47228072292, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1492, :time 47302411625, :type :info, :process 375, :f :cas, :value [3 3], :error :net-timeout}
