{:index 0, :time 5669959, :type :invoke, :process 6, :f :write, :value 4}
{:index 1, :time 28195709, :type :invoke, :process 7, :f :cas, :value [3 0]}
{:index 2, :time 41410417, :type :invoke, :process 8, :f :write, :value 1}
{:index 4, :time 84202750, :type :invoke, :process 9, :f :write, :value 0}
{:index 8, :time 250252417, :type :invoke, :process 10, :f :cas, :value [3 0]}
{:index 11, :time 395092542, :type :invoke, :process 11, :f :write, :value 2}
{:index 12, :time 1019169584, :type :info, :process 6, :f :write, :value 4, :error :net-timeout}
{:index 13, :time 1019470000, :type :invoke, :process 18, :f :write, :value 2}
{:index 14, :time 1033598042, :type :info, :process 7, :f :cas, :value [3 0], :error :net-timeout}
{:index 15, :time 1046913375, :type :info, :process 8, :f :write, :value 1, :error :net-timeout}
{:index 18, :time 1087712292, :type :info, :process 9, :f :write, :value 0, :error :net-timeout}
{:index 19, :time 1133447500, :type :invoke, :process 19, :f :cas, :value [3 2]}
{:index 23, :time 1195920459, :type :invoke, :process 20, :f :write, :value 1}
{:index 26, :time 1257284042, :type :info, :process 10, :f :cas, :value [3 0], :error :net-timeout}
{:index 28, :time 1306199334, :type :invoke, :process 21, :f :write, :value 2}
{:index 30, :time 1334434459, :type :invoke, :process 22, :f :cas, :value [4 1]}
{:index 33, :time 1400324625, :type :info, :process 11, :f :write, :value 2, :error :net-timeout}
{:index 35, :time 1441890375, :type :invoke, :process 23, :f :cas, :value [4 2]}
{:index 36, :time 2022734417, :type :info, :process 18, :f :write, :value 2, :error :net-timeout}
{:index 37, :time 2022968625, :type :invoke, :process 30, :f :cas, :value [4 4]}
{:index 40, :time 2138712292, :type :info, :process 19, :f :cas, :value [3 2], :error :net-timeout}
{:index 41, :time 2139619334, :type :invoke, :process 31, :f :cas, :value [2 4]}
{:index 44, :time 2200789584, :type :info, :process 20, :f :write, :value 1, :error :net-timeout}
{:index 45, :time 2203930375, :type :invoke, :process 32, :f :write, :value 2}
{:index 50, :time 2311441875, :type :info, :process 21, :f :write, :value 2, :error :net-timeout}
{:index 51, :time 2340202917, :type :info, :process 22, :f :cas, :value [4 1], :error :net-timeout}
{:index 52, :time 2344126209, :type :invoke, :process 33, :f :write, :value 1}
{:index 53, :time 2373528959, :type :invoke, :process 34, :f :cas, :value [4 0]}
{:index 57, :time 2447441084, :type :info, :process 23, :f :cas, :value [4 2], :error :net-timeout}
{:index 58, :time 2459939417, :type :invoke, :process 35, :f :write, :value 2}
{:index 60, :time 3028876625, :type :info, :process 30, :f :cas, :value [4 4], :error :net-timeout}
{:index 61, :time 3029068750, :type :invoke, :process 42, :f :cas, :value [3 3]}
{:index 64, :time 3141394459, :type :info, :process 31, :f :cas, :value [2 4], :error :net-timeout}
{:index 65, :time 3141573584, :type :invoke, :process 43, :f :write, :value 2}
{:index 68, :time 3205907750, :type :info, :process 32, :f :write, :value 2, :error :net-timeout}
{:index 74, :time 3344703625, :type :info, :process 33, :f :write, :value 1, :error :net-timeout}
{:index 76, :time 3379452792, :type :info, :process 34, :f :cas, :value [4 0], :error :net-timeout}
{:index 80, :time 3463514250, :type :info, :process 35, :f :write, :value 2, :error :net-timeout}
{:index 84, :time 4034534625, :type :info, :process 42, :f :cas, :value [3 3], :error :net-timeout}
{:index 88, :time 4146692250, :type :info, :process 43, :f :write, :value 2, :error :net-timeout}
