{:index 1545, :time 49453736584, :type :invoke, :process 403, :f :write, :value 1}
{:index 1547, :time 49491297042, :type :invoke, :process 404, :f :cas, :value [1 3]}
{:index 1549, :time 49514820417, :type :invoke, :process 405, :f :cas, :value [0 0]}
{:index 1555, :time 49684368500, :type :invoke, :process 406, :f :write, :value 4}
{:index 1557, :time 49712874792, :type :invoke, :process 407, :f :cas, :value [0 3]}
{:index 1563, :time 50299820500, :type :invoke, :process 438, :f :cas, :value [2 1]}
{:index 1568, :time 50459440959, :type :info, :process 403, :f :write, :value 1, :error :net-timeout}
{:index 1569, :time 50459589209, :type :invoke, :process 415, :f :cas, :value [3 0]}
{:index 1570, :time 50495722375, :type :info, :process 404, :f :cas, :value [1 3], :error :net-timeout}
{:index 1571, :time 50503966375, :type :invoke, :process 416, :f :cas, :value [2 0]}
{:index 1572, :time 50518582667, :type :info, :process 405, :f :cas, :value [0 0], :error :net-timeout}
{:index 1573, :time 50541524250, :type :invoke, :process 417, :f :cas, :value [3 4]}
{:index 1578, :time 50684041792, :type :info, :process 406, :f :write, :value 4, :error :net-timeout}
{:index 1579, :time 50684079792, :type :invoke, :process 418, :f :cas, :value [1 1]}
{:index 1580, :time 50716126000, :type :info, :process 407, :f :cas, :value [0 3], :error :net-timeout}
{:index 1581, :time 50716170625, :type :invoke, :process 419, :f :cas, :value [4 3]}
{:index 1586, :time 51304090500, :type :info, :process 438, :f :cas, :value [2 1], :error :net-timeout}
{:index 1587, :time 51304218667, :type :invoke, :process 450, :f :cas, :value [2 1]}
{:index 1592, :time 51462376334, :type :info, :process 415, :f :cas, :value [3 0], :error :net-timeout}
{:index 1593, :time 51462516792, :type :invoke, :process 427, :f :write, :value 2}
{:index 1594, :time 51509016375, :type :info, :process 416, :f :cas, :value [2 0], :error :net-timeout}
{:index 1595, :time 51509114417, :type :invoke, :process 428, :f :write, :value 1}
{:index 1596, :time 51546710959, :type :info, :process 417, :f :cas, :value [3 4], :error :net-timeout}
{:index 1599, :time 51623862959, :type :invoke, :process 429, :f :cas, :value [0 2]}
{:index 1602, :time 51688683667, :type :info, :process 418, :f :cas, :value [1 1], :error :net-timeout}
{:index 1603, :time 51720841584, :type :info, :process 419, :f :cas, :value [4 3], :error :net-timeout}
{:index 1610, :time 52309198667, :type :info, :process 450, :f :cas, :value [2 1], :error :net-timeout}
{:index 1616, :time 52467501167, :type :info, :process 427, :f :write, :value 2, :error :net-timeout}
{:index 1618, :time 52512717000, :type :info, :process 428, :f :write, :value 1, :error :net-timeout}
{:index 1622, :time 52627091209, :type :info, :process 429, :f :cas, :value [0 2], :error :net-timeout}
