{:index 381, :time 10467348375, :type :invoke, :process 67, :f :write, :value 1}
{:index 383, :time 10520665417, :type :invoke, :process 70, :f :cas, :value [1 2]}
{:index 391, :time 11291571084, :type :invoke, :process 80, :f :cas, :value [1 1]}
{:index 394, :time 11338670584, :type :invoke, :process 81, :f :write, :value 4}
{:index 397, :time 11393807250, :type :invoke, :process 83, :f :cas, :value [3 1]}
{:index 403, :time 11472660750, :type :info, :process 67, :f :write, :value 1, :error :net-timeout}
{:index 404, :time 11472774209, :type :invoke, :process 90, :f :write, :value 4}
{:index 405, :time 11525836209, :type :info, :process 70, :f :cas, :value [1 2], :error :net-timeout}
{:index 406, :time 11527113167, :type :invoke, :process 79, :f :cas, :value [4 3]}
{:index 407, :time 11553572042, :type :invoke, :process 82, :f :write, :value 0}
{:index 414, :time 12296743459, :type :info, :process 80, :f :cas, :value [1 1], :error :net-timeout}
{:index 415, :time 12296906542, :type :invoke, :process 92, :f :cas, :value [0 3]}
{:index 416, :time 12343894584, :type :info, :process 81, :f :write, :value 4, :error :net-timeout}
{:index 417, :time 12344041417, :type :invoke, :process 93, :f :cas, :value [0 2]}
{:index 420, :time 12399210417, :type :info, :process 83, :f :cas, :value [3 1], :error :net-timeout}
{:index 423, :time 12444133750, :type :invoke, :process 95, :f :cas, :value [0 2]}
{:index 426, :time 12477513417, :type :info, :process 90, :f :write, :value 4, :error :net-timeout}
{:index 427, :time 12482506834, :type :invoke, :process 102, :f :cas, :value [4 3]}
{:index 428, :time 12532417125, :type :info, :process 79, :f :cas, :value [4 3], :error :net-timeout}
{:index 429, :time 12545236834, :type :invoke, :process 91, :f :cas, :value [4 3]}
{:index 430, :time 12554699959, :type :info, :process 82, :f :write, :value 0, :error :net-timeout}
{:index 431, :time 12576910125, :type :invoke, :process 94, :f :cas, :value [2 2]}
{:index 438, :time 13298192792, :type :info, :process 92, :f :cas, :value [0 3], :error :net-timeout}
{:index 439, :time 13322035542, :type :invoke, :process 104, :f :cas, :value [0 3]}
{:index 440, :time 13349544750, :type :info, :process 93, :f :cas, :value [0 2], :error :net-timeout}
{:index 445, :time 13449091625, :type :info, :process 95, :f :cas, :value [0 2], :error :net-timeout}
{:index 448, :time 13487392209, :type :info, :process 102, :f :cas, :value [4 3], :error :net-timeout}
{:index 451, :time 13546668125, :type :info, :process 91, :f :cas, :value [4 3], :error :net-timeout}
{:index 453, :time 13582483625, :type :info, :process 94, :f :cas, :value [2 2], :error :net-timeout}
{:index 462, :time 14328100334, :type :info, :process 104, :f :cas, :value [0 3], :error :net-timeout}
