{:index 137, :time 9614281667, :type :invoke, :process 35, :f :cas, :value [3 3]}
{:index 139, :time 9766567458, :type :invoke, :process 0, :f :read, :value nil}
{:index 142, :time 9924350833, :type :invoke, :process 1, :f :read, :value nil}
{:index 143, :time 10111346208, :type :invoke, :process 2, :f :read, :value nil}
{:index 145, :time 10311484417, :type :invoke, :process 39, :f :cas, :value [3 4]}
{:index 147, :time 10436764375, :type :invoke, :process 40, :f :cas, :value [3 3]}
{:index 148, :time 10617459542, :type :info, :process 35, :f :cas, :value [3 3], :error :net-timeout}
{:index 149, :time 10623996708, :type :invoke, :process 41, :f :cas, :value [1 1]}
{:index 150, :time 10772218958, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 151, :time 10772360875, :type :invoke, :process 0, :f :read, :value nil}
{:index 152, :time 10928472292, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 153, :time 10928622625, :type :invoke, :process 1, :f :read, :value nil}
{:index 154, :time 11115687000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 155, :time 11115795333, :type :invoke, :process 2, :f :read, :value nil}
{:index 156, :time 11316867042, :type :info, :process 39, :f :cas, :value [3 4], :error :net-timeout}
{:index 157, :time 11317043500, :type :invoke, :process 45, :f :cas, :value [0 0]}
{:index 158, :time 11437657500, :type :info, :process 40, :f :cas, :value [3 3], :error :net-timeout}
{:index 159, :time 11437869542, :type :invoke, :process 46, :f :cas, :value [3 4]}
{:index 160, :time 11629035958, :type :info, :process 41, :f :cas, :value [1 1], :error :net-timeout}
{:index 161, :time 11629143875, :type :invoke, :process 47, :f :write, :value 1}
{:index 162, :time 11777490667, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 163, :time 11777621958, :type :invoke, :process 0, :f :read, :value nil}
{:index 164, :time 11929950125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 165, :time 11930049125, :type :invoke, :process 1, :f :read, :value nil}
{:index 166, :time 12118550417, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 167, :time 12118635042, :type :invoke, :process 2, :f :read, :value nil}
{:index 168, :time 12317737708, :type :info, :process 45, :f :cas, :value [0 0], :error :net-timeout}
{:index 169, :time 12317937000, :type :invoke, :process 51, :f :cas, :value [1 4]}
{:index 170, :time 12438764167, :type :info, :process 46, :f :cas, :value [3 4], :error :net-timeout}
{:index 171, :time 12438935667, :type :invoke, :process 52, :f :write, :value 3}
{:index 172, :time 12634253208, :type :info, :process 47, :f :write, :value 1, :error :net-timeout}
{:index 173, :time 12634481792, :type :invoke, :process 53, :f :cas, :value [3 4]}
{:index 174, :time 12777728833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 175, :time 12784162333, :type :invoke, :process 0, :f :read, :value nil}
{:index 176, :time 12935042583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 177, :time 12935241625, :type :invoke, :process 1, :f :read, :value nil}
{:index 178, :time 13123514708, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 179, :time 13123734375, :type :invoke, :process 2, :f :read, :value nil}
{:index 180, :time 13320328833, :type :info, :process 51, :f :cas, :value [1 4], :error :net-timeout}
{:index 181, :time 13320659750, :type :invoke, :process 57, :f :cas, :value [0 0]}
{:index 182, :time 13440255458, :type :info, :process 52, :f :write, :value 3, :error :net-timeout}
{:index 183, :time 13484883583, :type :invoke, :process 58, :f :write, :value 2}
{:index 184, :time 13637995125, :type :info, :process 53, :f :cas, :value [3 4], :error :net-timeout}
{:index 185, :time 13644640167, :type :invoke, :process 59, :f :cas, :value [0 1]}
{:index 186, :time 13787307833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 187, :time 13801084708, :type :invoke, :process 0, :f :read, :value nil}
{:index 188, :time 13938130250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 189, :time 13938290542, :type :invoke, :process 1, :f :read, :value nil}
{:index 190, :time 14125134042, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 191, :time 14125285417, :type :invoke, :process 2, :f :read, :value nil}
{:index 192, :time 14326095083, :type :info, :process 57, :f :cas, :value [0 0], :error :net-timeout}
{:index 193, :time 14326354333, :type :invoke, :process 63, :f :cas, :value [1 4]}
{:index 194, :time 14490205167, :type :info, :process 58, :f :write, :value 2, :error :net-timeout}
{:index 195, :time 14490368750, :type :invoke, :process 64, :f :cas, :value [0 1]}
{:index 196, :time 14647198833, :type :info, :process 59, :f :cas, :value [0 1], :error :net-timeout}
{:index 198, :time 14803858083, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 200, :time 14938873250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 202, :time 15129482375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 204, :time 15331706042, :type :info, :process 63, :f :cas, :value [1 4], :error :net-timeout}
{:index 206, :time 15495786792, :type :info, :process 64, :f :cas, :value [0 1], :error :net-timeout}
