{:index 0, :time 7482541, :type :invoke, :process 3, :f :cas, :value [4 1]}
{:index 1, :time 69773166, :type :invoke, :process 4, :f :cas, :value [3 4]}
{:index 2, :time 75311416, :type :invoke, :process 2, :f :read, :value nil}
{:index 3, :time 130640500, :type :invoke, :process 0, :f :read, :value nil}
{:index 4, :time 243166041, :type :invoke, :process 5, :f :cas, :value [3 1]}
{:index 5, :time 311549416, :type :invoke, :process 1, :f :read, :value nil}
{:index 6, :time 1025143708, :type :info, :process 3, :f :cas, :value [4 1], :error :net-timeout}
{:index 7, :time 1025312625, :type :invoke, :process 9, :f :write, :value 3}
{:index 8, :time 1074512833, :type :info, :process 4, :f :cas, :value [3 4], :error :net-timeout}
{:index 9, :time 1081037583, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 10, :time 1095453666, :type :invoke, :process 10, :f :write, :value 2}
{:index 11, :time 1136207041, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 12, :time 1153551208, :type :invoke, :process 2, :f :read, :value nil}
{:index 13, :time 1167633666, :type :invoke, :process 0, :f :read, :value nil}
{:index 14, :time 1249563791, :type :info, :process 5, :f :cas, :value [3 1], :error :net-timeout}
{:index 15, :time 1249737208, :type :invoke, :process 11, :f :cas, :value [1 2]}
{:index 16, :time 1318073708, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 17, :time 1385662750, :type :invoke, :process 1, :f :read, :value nil}
{:index 18, :time 2032450083, :type :info, :process 9, :f :write, :value 3, :error :net-timeout}
{:index 19, :time 2032582166, :type :invoke, :process 15, :f :write, :value 0}
{:index 20, :time 2100595833, :type :info, :process 10, :f :write, :value 2, :error :net-timeout}
{:index 21, :time 2144422041, :type :invoke, :process 16, :f :write, :value 1}
{:index 22, :time 2155634541, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 23, :time 2172729416, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 24, :time 2189215125, :type :invoke, :process 0, :f :read, :value nil}
{:index 25, :time 2231802250, :type :invoke, :process 2, :f :read, :value nil}
{:index 26, :time 2254632625, :type :info, :process 11, :f :cas, :value [1 2], :error :net-timeout}
{:index 27, :time 2324209125, :type :invoke, :process 17, :f :cas, :value [2 0]}
{:index 28, :time 2388120125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 29, :time 2395836833, :type :invoke, :process 1, :f :read, :value nil}
{:index 30, :time 3037916166, :type :info, :process 15, :f :write, :value 0, :error :net-timeout}
{:index 31, :time 3038039125, :type :invoke, :process 21, :f :cas, :value [4 3]}
{:index 32, :time 3149794208, :type :info, :process 16, :f :write, :value 1, :error :net-timeout}
{:index 33, :time 3174946708, :type :invoke, :process 22, :f :cas, :value [0 4]}
{:index 34, :time 3192123291, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 35, :time 3237896541, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 36, :time 3249181958, :type :invoke, :process 0, :f :read, :value nil}
{:index 37, :time 3326574250, :type :info, :process 17, :f :cas, :value [2 0], :error :net-timeout}
{:index 38, :time 3357194791, :type :invoke, :process 23, :f :cas, :value [4 1]}
{:index 39, :time 3399757500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 40, :time 3418632916, :type :invoke, :process 1, :f :read, :value nil}
{:index 41, :time 3512164458, :type :invoke, :process 2, :f :read, :value nil}
{:index 42, :time 4039591291, :type :info, :process 21, :f :cas, :value [4 3], :error :net-timeout}
{:index 43, :time 4039728416, :type :invoke, :process 27, :f :cas, :value [1 0]}
{:index 44, :time 4176551750, :type :info, :process 22, :f :cas, :value [0 4], :error :net-timeout}
{:index 45, :time 4176703708, :type :invoke, :process 28, :f :cas, :value [0 1]}
{:index 46, :time 4251538750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 47, :time 4262550583, :type :invoke, :process 0, :f :read, :value nil}
{:index 48, :time 4359059125, :type :info, :process 23, :f :cas, :value [4 1], :error :net-timeout}
{:index 49, :time 4359174375, :type :invoke, :process 29, :f :cas, :value [1 0]}
{:index 50, :time 4423893375, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 51, :time 4423960416, :type :invoke, :process 1, :f :read, :value nil}
{:index 52, :time 4518013500, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 53, :time 4518202583, :type :invoke, :process 2, :f :read, :value nil}
{:index 54, :time 5043572500, :type :info, :process 27, :f :cas, :value [1 0], :error :net-timeout}
{:index 55, :time 5043745500, :type :invoke, :process 33, :f :cas, :value [1 0]}
{:index 56, :time 5179090041, :type :info, :process 28, :f :cas, :value [0 1], :error :net-timeout}
{:index 57, :time 5246244500, :type :invoke, :process 34, :f :cas, :value [4 4]}
{:index 58, :time 5263918833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 59, :time 5293553291, :type :invoke, :process 0, :f :read, :value nil}
{:index 60, :time 5361930750, :type :info, :process 29, :f :cas, :value [1 0], :error :net-timeout}
{:index 62, :time 5428943458, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 63, :time 5524301500, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 66, :time 6049401375, :type :info, :process 33, :f :cas, :value [1 0], :error :net-timeout}
{:index 68, :time 6249362541, :type :info, :process 34, :f :cas, :value [4 4], :error :net-timeout}
{:index 70, :time 6298785500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
