{:index 67, :time 3178591375, :type :invoke, :process 44, :f :cas, :value [0 4]}
{:index 72, :time 3303032083, :type :invoke, :process 45, :f :write, :value 0}
{:index 74, :time 3368199542, :type :invoke, :process 46, :f :cas, :value [1 0]}
{:index 81, :time 3480381625, :type :invoke, :process 47, :f :cas, :value [0 2]}
{:index 85, :time 4041198667, :type :invoke, :process 54, :f :write, :value 3}
{:index 89, :time 4161568000, :type :invoke, :process 55, :f :cas, :value [1 0]}
{:index 90, :time 4182650917, :type :info, :process 44, :f :cas, :value [0 4], :error :net-timeout}
{:index 91, :time 4182767833, :type :invoke, :process 56, :f :write, :value 0}
{:index 94, :time 4308033875, :type :info, :process 45, :f :write, :value 0, :error :net-timeout}
{:index 95, :time 4308136208, :type :invoke, :process 57, :f :cas, :value [1 3]}
{:index 96, :time 4373120875, :type :info, :process 46, :f :cas, :value [1 0], :error :net-timeout}
{:index 97, :time 4373207167, :type :invoke, :process 58, :f :cas, :value [0 4]}
{:index 104, :time 4484214000, :type :info, :process 47, :f :cas, :value [0 2], :error :net-timeout}
{:index 105, :time 4487878333, :type :invoke, :process 59, :f :cas, :value [4 0]}
{:index 108, :time 5045555917, :type :info, :process 54, :f :write, :value 3, :error :net-timeout}
{:index 109, :time 5045780042, :type :invoke, :process 66, :f :write, :value 3}
{:index 112, :time 5167120208, :type :info, :process 55, :f :cas, :value [1 0], :error :net-timeout}
{:index 113, :time 5167324250, :type :invoke, :process 67, :f :cas, :value [0 3]}
{:index 114, :time 5185820458, :type :info, :process 56, :f :write, :value 0, :error :net-timeout}
{:index 115, :time 5199266875, :type :invoke, :process 68, :f :cas, :value [0 1]}
{:index 118, :time 5313188125, :type :info, :process 57, :f :cas, :value [1 3], :error :net-timeout}
{:index 119, :time 5313357458, :type :invoke, :process 69, :f :cas, :value [1 2]}
{:index 120, :time 5378445500, :type :info, :process 58, :f :cas, :value [0 4], :error :net-timeout}
{:index 121, :time 5378670417, :type :invoke, :process 70, :f :cas, :value [3 1]}
{:index 128, :time 5492557667, :type :info, :process 59, :f :cas, :value [4 0], :error :net-timeout}
{:index 132, :time 6047521583, :type :info, :process 66, :f :write, :value 3, :error :net-timeout}
{:index 136, :time 6171515667, :type :info, :process 67, :f :cas, :value [0 3], :error :net-timeout}
{:index 138, :time 6203635333, :type :info, :process 68, :f :cas, :value [0 1], :error :net-timeout}
{:index 142, :time 6318806833, :type :info, :process 69, :f :cas, :value [1 2], :error :net-timeout}
{:index 144, :time 6379615417, :type :info, :process 70, :f :cas, :value [3 1], :error :net-timeout}
