{:index 1765, :time 59344394792, :type :invoke, :process 524, :f :write, :value 2}
{:index 1771, :time 59478532417, :type :invoke, :process 513, :f :cas, :value [1 1]}
{:index 1780, :time 60349056292, :type :info, :process 524, :f :write, :value 2, :error :net-timeout}
{:index 1783, :time 60483091458, :type :info, :process 513, :f :cas, :value [1 1], :error :net-timeout}
