{:index 1483, :time 46574826375, :type :invoke, :process 370, :f :write, :value 1}
{:index 1485, :time 46625968459, :type :invoke, :process 371, :f :write, :value 3}
{:index 1491, :time 47289502667, :type :invoke, :process 402, :f :write, :value 1}
{:index 1498, :time 47430954959, :type :invoke, :process 379, :f :cas, :value [2 4]}
{:index 1499, :time 47472583917, :type :invoke, :process 380, :f :write, :value 4}
{:index 1501, :time 47503757292, :type :invoke, :process 381, :f :cas, :value [1 0]}
{:index 1505, :time 47577271292, :type :info, :process 370, :f :write, :value 1, :error :net-timeout}
{:index 1507, :time 47629151875, :type :info, :process 371, :f :write, :value 3, :error :net-timeout}
{:index 1508, :time 47629289084, :type :invoke, :process 382, :f :write, :value 4}
{:index 1509, :time 47665947584, :type :invoke, :process 383, :f :write, :value 0}
{:index 1514, :time 48290155750, :type :info, :process 402, :f :write, :value 1, :error :net-timeout}
{:index 1515, :time 48290285959, :type :invoke, :process 414, :f :write, :value 0}
{:index 1520, :time 48437412209, :type :info, :process 379, :f :cas, :value [2 4], :error :net-timeout}
{:index 1521, :time 48437523250, :type :invoke, :process 391, :f :write, :value 3}
{:index 1522, :time 48477474709, :type :info, :process 380, :f :write, :value 4, :error :net-timeout}
{:index 1523, :time 48486003834, :type :invoke, :process 392, :f :cas, :value [3 3]}
{:index 1524, :time 48509569042, :type :info, :process 381, :f :cas, :value [1 0], :error :net-timeout}
{:index 1525, :time 48509734500, :type :invoke, :process 393, :f :cas, :value [0 2]}
{:index 1530, :time 48630343417, :type :info, :process 382, :f :write, :value 4, :error :net-timeout}
{:index 1531, :time 48667970584, :type :info, :process 383, :f :write, :value 0, :error :net-timeout}
{:index 1532, :time 48681972042, :type :invoke, :process 394, :f :cas, :value [1 0]}
{:index 1533, :time 48710455209, :type :invoke, :process 395, :f :cas, :value [2 3]}
{:index 1538, :time 49294921209, :type :info, :process 414, :f :write, :value 0, :error :net-timeout}
{:index 1539, :time 49294980375, :type :invoke, :process 426, :f :cas, :value [0 3]}
{:index 1544, :time 49442557667, :type :info, :process 391, :f :write, :value 3, :error :net-timeout}
{:index 1546, :time 49491158750, :type :info, :process 392, :f :cas, :value [3 3], :error :net-timeout}
{:index 1548, :time 49514710542, :type :info, :process 393, :f :cas, :value [0 2], :error :net-timeout}
{:index 1554, :time 49684309917, :type :info, :process 394, :f :cas, :value [1 0], :error :net-timeout}
{:index 1556, :time 49712819042, :type :info, :process 395, :f :cas, :value [2 3], :error :net-timeout}
{:index 1562, :time 50299652542, :type :info, :process 426, :f :cas, :value [0 3], :error :net-timeout}
