{:index 781, :time 27186861458, :type :invoke, :process 251, :f :write, :value 3}
{:index 783, :time 27242510667, :type :invoke, :process 258, :f :write, :value 4}
{:index 791, :time 27485606542, :type :invoke, :process 247, :f :cas, :value [0 3]}
{:index 799, :time 28051177208, :type :invoke, :process 260, :f :cas, :value [4 2]}
{:index 801, :time 28112038958, :type :invoke, :process 261, :f :cas, :value [1 0]}
{:index 803, :time 28174407458, :type :invoke, :process 274, :f :write, :value 0}
{:index 804, :time 28191897917, :type :info, :process 251, :f :write, :value 3, :error :net-timeout}
{:index 805, :time 28234314500, :type :invoke, :process 263, :f :cas, :value [4 2]}
{:index 806, :time 28247239667, :type :info, :process 258, :f :write, :value 4, :error :net-timeout}
{:index 807, :time 28268997042, :type :invoke, :process 270, :f :write, :value 4}
{:index 814, :time 28490642417, :type :info, :process 247, :f :cas, :value [0 3], :error :net-timeout}
{:index 815, :time 28490774917, :type :invoke, :process 259, :f :write, :value 2}
{:index 822, :time 29056490917, :type :info, :process 260, :f :cas, :value [4 2], :error :net-timeout}
{:index 823, :time 29056643917, :type :invoke, :process 272, :f :cas, :value [1 0]}
{:index 824, :time 29114119958, :type :info, :process 261, :f :cas, :value [1 0], :error :net-timeout}
{:index 825, :time 29114225208, :type :invoke, :process 273, :f :write, :value 2}
{:index 826, :time 29174719750, :type :info, :process 274, :f :write, :value 0, :error :net-timeout}
{:index 827, :time 29174857167, :type :invoke, :process 286, :f :cas, :value [2 2]}
{:index 828, :time 29234951625, :type :info, :process 263, :f :cas, :value [4 2], :error :net-timeout}
{:index 829, :time 29235033500, :type :invoke, :process 275, :f :cas, :value [3 2]}
{:index 830, :time 29269862625, :type :info, :process 270, :f :write, :value 4, :error :net-timeout}
{:index 831, :time 29289907333, :type :invoke, :process 282, :f :cas, :value [4 1]}
{:index 838, :time 29492208458, :type :info, :process 259, :f :write, :value 2, :error :net-timeout}
{:index 839, :time 29492353458, :type :invoke, :process 271, :f :cas, :value [4 3]}
{:index 846, :time 30061792833, :type :info, :process 272, :f :cas, :value [1 0], :error :net-timeout}
{:index 848, :time 30115126000, :type :info, :process 273, :f :write, :value 2, :error :net-timeout}
{:index 850, :time 30179224667, :type :info, :process 286, :f :cas, :value [2 2], :error :net-timeout}
{:index 852, :time 30238554458, :type :info, :process 275, :f :cas, :value [3 2], :error :net-timeout}
{:index 854, :time 30294599500, :type :info, :process 282, :f :cas, :value [4 1], :error :net-timeout}
{:index 862, :time 30495013583, :type :info, :process 271, :f :cas, :value [4 3], :error :net-timeout}
