{:index 0, :time 8437000, :type :invoke, :process 6, :f :write, :value 3}
{:index 2, :time 115160125, :type :invoke, :process 7, :f :cas, :value [4 2]}
{:index 3, :time 144289542, :type :invoke, :process 8, :f :cas, :value [4 1]}
{:index 4, :time 144896458, :type :invoke, :process 9, :f :cas, :value [1 2]}
{:index 6, :time 174483667, :type :invoke, :process 10, :f :cas, :value [2 3]}
{:index 9, :time 330246792, :type :invoke, :process 11, :f :cas, :value [0 1]}
{:index 12, :time 1022561917, :type :info, :process 6, :f :write, :value 3, :error :net-timeout}
{:index 13, :time 1022877958, :type :invoke, :process 18, :f :cas, :value [1 4]}
{:index 16, :time 1121757208, :type :info, :process 7, :f :cas, :value [4 2], :error :net-timeout}
{:index 17, :time 1122019083, :type :invoke, :process 19, :f :write, :value 0}
{:index 18, :time 1150605083, :type :info, :process 9, :f :cas, :value [1 2], :error :net-timeout}
{:index 19, :time 1150833250, :type :info, :process 8, :f :cas, :value [4 1], :error :net-timeout}
{:index 21, :time 1175687083, :type :invoke, :process 20, :f :write, :value 0}
{:index 22, :time 1180184167, :type :info, :process 10, :f :cas, :value [2 3], :error :net-timeout}
{:index 24, :time 1218233833, :type :invoke, :process 21, :f :cas, :value [1 3]}
{:index 27, :time 1274100000, :type :invoke, :process 22, :f :cas, :value [2 4]}
{:index 30, :time 1336157208, :type :info, :process 11, :f :cas, :value [0 1], :error :net-timeout}
{:index 31, :time 1336283042, :type :invoke, :process 23, :f :cas, :value [3 4]}
{:index 36, :time 2029495708, :type :info, :process 18, :f :cas, :value [1 4], :error :net-timeout}
{:index 37, :time 2029682458, :type :invoke, :process 30, :f :cas, :value [4 3]}
{:index 40, :time 2127599333, :type :info, :process 19, :f :write, :value 0, :error :net-timeout}
{:index 41, :time 2127720917, :type :invoke, :process 31, :f :write, :value 1}
{:index 42, :time 2178393000, :type :info, :process 20, :f :write, :value 0, :error :net-timeout}
{:index 43, :time 2178483667, :type :invoke, :process 32, :f :cas, :value [0 2]}
{:index 45, :time 2223249542, :type :info, :process 21, :f :cas, :value [1 3], :error :net-timeout}
{:index 48, :time 2249628083, :type :invoke, :process 33, :f :cas, :value [0 0]}
{:index 49, :time 2278567292, :type :info, :process 22, :f :cas, :value [2 4], :error :net-timeout}
{:index 50, :time 2278766125, :type :invoke, :process 34, :f :cas, :value [0 2]}
{:index 53, :time 2341373958, :type :info, :process 23, :f :cas, :value [3 4], :error :net-timeout}
{:index 54, :time 2369829042, :type :invoke, :process 35, :f :cas, :value [2 2]}
{:index 60, :time 3035228583, :type :info, :process 30, :f :cas, :value [4 3], :error :net-timeout}
{:index 61, :time 3035445625, :type :invoke, :process 42, :f :cas, :value [4 1]}
{:index 64, :time 3132764167, :type :info, :process 31, :f :write, :value 1, :error :net-timeout}
{:index 65, :time 3132918792, :type :invoke, :process 43, :f :write, :value 2}
{:index 66, :time 3178458708, :type :info, :process 32, :f :cas, :value [0 2], :error :net-timeout}
{:index 70, :time 3249770458, :type :info, :process 33, :f :cas, :value [0 0], :error :net-timeout}
{:index 71, :time 3283757208, :type :info, :process 34, :f :cas, :value [0 2], :error :net-timeout}
{:index 75, :time 3374830958, :type :info, :process 35, :f :cas, :value [2 2], :error :net-timeout}
{:index 84, :time 4041006875, :type :info, :process 42, :f :cas, :value [4 1], :error :net-timeout}
{:index 88, :time 4137605375, :type :info, :process 43, :f :write, :value 2, :error :net-timeout}
