{:index 1473, :time 46364598667, :type :invoke, :process 364, :f :cas, :value [3 4]}
{:index 1479, :time 46497711375, :type :invoke, :process 2, :f :read, :value nil}
{:index 1481, :time 46555694500, :type :invoke, :process 365, :f :write, :value 2}
{:index 1487, :time 47162581292, :type :invoke, :process 0, :f :read, :value nil}
{:index 1489, :time 47228179875, :type :invoke, :process 1, :f :read, :value nil}
{:index 1493, :time 47352254667, :type :invoke, :process 387, :f :write, :value 2}
{:index 1495, :time 47369357750, :type :info, :process 364, :f :cas, :value [3 4], :error :net-timeout}
{:index 1496, :time 47398142709, :type :invoke, :process 376, :f :cas, :value [4 0]}
{:index 1502, :time 47504768709, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1503, :time 47558237834, :type :info, :process 365, :f :write, :value 2, :error :net-timeout}
{:index 1504, :time 47563462375, :type :invoke, :process 2, :f :read, :value nil}
{:index 1506, :time 47605941417, :type :invoke, :process 377, :f :cas, :value [4 1]}
{:index 1510, :time 48164860917, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1511, :time 48164990667, :type :invoke, :process 0, :f :read, :value nil}
{:index 1512, :time 48229262084, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1513, :time 48229366084, :type :invoke, :process 1, :f :read, :value nil}
{:index 1516, :time 48357409542, :type :info, :process 387, :f :write, :value 2, :error :net-timeout}
{:index 1517, :time 48357542959, :type :invoke, :process 399, :f :write, :value 3}
{:index 1518, :time 48403136750, :type :info, :process 376, :f :cas, :value [4 0], :error :net-timeout}
{:index 1519, :time 48411928917, :type :invoke, :process 388, :f :write, :value 0}
{:index 1526, :time 48565939709, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1527, :time 48566025000, :type :invoke, :process 2, :f :read, :value nil}
{:index 1528, :time 48610806667, :type :info, :process 377, :f :cas, :value [4 1], :error :net-timeout}
{:index 1529, :time 48624518500, :type :invoke, :process 389, :f :write, :value 1}
{:index 1534, :time 49169185500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1535, :time 49169262459, :type :invoke, :process 0, :f :read, :value nil}
{:index 1536, :time 49234103125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1537, :time 49234148250, :type :invoke, :process 1, :f :read, :value nil}
{:index 1540, :time 49362222917, :type :info, :process 399, :f :write, :value 3, :error :net-timeout}
{:index 1541, :time 49362332417, :type :invoke, :process 411, :f :cas, :value [2 3]}
{:index 1542, :time 49417022500, :type :info, :process 388, :f :write, :value 0, :error :net-timeout}
{:index 1543, :time 49417156000, :type :invoke, :process 400, :f :cas, :value [2 3]}
{:index 1550, :time 49569088000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1551, :time 49569134667, :type :invoke, :process 2, :f :read, :value nil}
{:index 1552, :time 49629575167, :type :info, :process 389, :f :write, :value 1, :error :net-timeout}
{:index 1553, :time 49633063834, :type :invoke, :process 401, :f :write, :value 3}
{:index 1558, :time 50171273084, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1559, :time 50171382334, :type :invoke, :process 0, :f :read, :value nil}
{:index 1560, :time 50237341875, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1561, :time 50237506667, :type :invoke, :process 1, :f :read, :value nil}
{:index 1564, :time 50362934375, :type :info, :process 411, :f :cas, :value [2 3], :error :net-timeout}
{:index 1565, :time 50363097375, :type :invoke, :process 423, :f :write, :value 0}
{:index 1566, :time 50419736292, :type :info, :process 400, :f :cas, :value [2 3], :error :net-timeout}
{:index 1567, :time 50419868084, :type :invoke, :process 412, :f :cas, :value [4 3]}
{:index 1574, :time 50573540417, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1575, :time 50573616000, :type :invoke, :process 2, :f :read, :value nil}
{:index 1576, :time 50637350834, :type :info, :process 401, :f :write, :value 3, :error :net-timeout}
{:index 1577, :time 50637393584, :type :invoke, :process 413, :f :cas, :value [4 0]}
{:index 1582, :time 51175964209, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1583, :time 51176075542, :type :invoke, :process 0, :f :read, :value nil}
{:index 1584, :time 51242459750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1585, :time 51242556000, :type :invoke, :process 1, :f :read, :value nil}
{:index 1588, :time 51366813084, :type :info, :process 423, :f :write, :value 0, :error :net-timeout}
{:index 1589, :time 51366929792, :type :invoke, :process 435, :f :write, :value 4}
{:index 1590, :time 51420038417, :type :info, :process 412, :f :cas, :value [4 3], :error :net-timeout}
{:index 1597, :time 51578428125, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 1600, :time 51642043167, :type :info, :process 413, :f :cas, :value [4 0], :error :net-timeout}
{:index 1606, :time 52176721709, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 1608, :time 52247325834, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 1612, :time 52371852125, :type :info, :process 435, :f :write, :value 4, :error :net-timeout}
