{:index 1099, :time 37604091000, :type :invoke, :process 335, :f :cas, :value [2 2]}
{:index 1101, :time 38085075833, :type :invoke, :process 354, :f :cas, :value [3 1]}
{:index 1107, :time 38227669500, :type :invoke, :process 343, :f :write, :value 0}
{:index 1113, :time 38405970208, :type :invoke, :process 356, :f :write, :value 1}
{:index 1119, :time 38528921958, :type :invoke, :process 358, :f :write, :value 1}
{:index 1121, :time 38587747667, :type :invoke, :process 345, :f :cas, :value [3 0]}
{:index 1122, :time 38608492292, :type :info, :process 335, :f :cas, :value [2 2], :error :net-timeout}
{:index 1123, :time 38640066250, :type :invoke, :process 347, :f :write, :value 3}
{:index 1124, :time 39089442833, :type :info, :process 354, :f :cas, :value [3 1], :error :net-timeout}
{:index 1125, :time 39089762583, :type :invoke, :process 366, :f :cas, :value [2 3]}
{:index 1130, :time 39231654375, :type :info, :process 343, :f :write, :value 0, :error :net-timeout}
{:index 1131, :time 39231779333, :type :invoke, :process 355, :f :write, :value 4}
{:index 1136, :time 39410526833, :type :info, :process 356, :f :write, :value 1, :error :net-timeout}
{:index 1137, :time 39410651667, :type :invoke, :process 368, :f :cas, :value [0 3]}
{:index 1142, :time 39533447250, :type :info, :process 358, :f :write, :value 1, :error :net-timeout}
{:index 1143, :time 39543785417, :type :invoke, :process 370, :f :cas, :value [3 0]}
{:index 1144, :time 39587225750, :type :info, :process 345, :f :cas, :value [3 0], :error :net-timeout}
{:index 1145, :time 39587290875, :type :invoke, :process 357, :f :cas, :value [0 0]}
{:index 1146, :time 39644991292, :type :info, :process 347, :f :write, :value 3, :error :net-timeout}
{:index 1147, :time 39645070625, :type :invoke, :process 359, :f :write, :value 1}
{:index 1148, :time 40094897042, :type :info, :process 366, :f :cas, :value [2 3], :error :net-timeout}
{:index 1149, :time 40095027708, :type :invoke, :process 378, :f :cas, :value [1 4]}
{:index 1154, :time 40236668000, :type :info, :process 355, :f :write, :value 4, :error :net-timeout}
{:index 1155, :time 40236780417, :type :invoke, :process 367, :f :cas, :value [4 0]}
{:index 1160, :time 40415521458, :type :info, :process 368, :f :cas, :value [0 3], :error :net-timeout}
{:index 1166, :time 40547609667, :type :info, :process 370, :f :cas, :value [3 0], :error :net-timeout}
{:index 1168, :time 40592018333, :type :info, :process 357, :f :cas, :value [0 0], :error :net-timeout}
{:index 1170, :time 40648291292, :type :info, :process 359, :f :write, :value 1, :error :net-timeout}
{:index 1172, :time 41099762458, :type :info, :process 378, :f :cas, :value [1 4], :error :net-timeout}
{:index 1178, :time 41241382333, :type :info, :process 367, :f :cas, :value [4 0], :error :net-timeout}
