{:index 1171, :time 36325454875, :type :invoke, :process 285, :f :cas, :value [4 4]}
{:index 1173, :time 36379111500, :type :invoke, :process 286, :f :cas, :value [3 4]}
{:index 1176, :time 36437909459, :type :invoke, :process 287, :f :write, :value 3}
{:index 1179, :time 36499983584, :type :invoke, :process 284, :f :cas, :value [1 1]}
{:index 1185, :time 37119749209, :type :invoke, :process 306, :f :write, :value 0}
{:index 1191, :time 37245815917, :type :invoke, :process 295, :f :cas, :value [2 2]}
{:index 1194, :time 37330161834, :type :info, :process 285, :f :cas, :value [4 4], :error :net-timeout}
{:index 1195, :time 37336859792, :type :invoke, :process 297, :f :cas, :value [1 2]}
{:index 1196, :time 37379996625, :type :info, :process 286, :f :cas, :value [3 4], :error :net-timeout}
{:index 1197, :time 37380082375, :type :invoke, :process 298, :f :cas, :value [2 2]}
{:index 1198, :time 37442207334, :type :info, :process 287, :f :write, :value 3, :error :net-timeout}
{:index 1199, :time 37442260334, :type :invoke, :process 299, :f :cas, :value [4 1]}
{:index 1202, :time 37503045459, :type :info, :process 284, :f :cas, :value [1 1], :error :net-timeout}
{:index 1203, :time 37553279500, :type :invoke, :process 296, :f :cas, :value [3 3]}
{:index 1208, :time 38122215667, :type :info, :process 306, :f :write, :value 0, :error :net-timeout}
{:index 1209, :time 38122267500, :type :invoke, :process 318, :f :cas, :value [0 0]}
{:index 1214, :time 38251278417, :type :info, :process 295, :f :cas, :value [2 2], :error :net-timeout}
{:index 1215, :time 38251333459, :type :invoke, :process 307, :f :cas, :value [3 3]}
{:index 1218, :time 38341723667, :type :info, :process 297, :f :cas, :value [1 2], :error :net-timeout}
{:index 1219, :time 38341849292, :type :invoke, :process 309, :f :write, :value 0}
{:index 1220, :time 38384865750, :type :info, :process 298, :f :cas, :value [2 2], :error :net-timeout}
{:index 1221, :time 38384987292, :type :invoke, :process 310, :f :cas, :value [3 3]}
{:index 1222, :time 38446933584, :type :info, :process 299, :f :cas, :value [4 1], :error :net-timeout}
{:index 1223, :time 38447055000, :type :invoke, :process 311, :f :write, :value 2}
{:index 1226, :time 38558027375, :type :info, :process 296, :f :cas, :value [3 3], :error :net-timeout}
{:index 1232, :time 39126757417, :type :info, :process 318, :f :cas, :value [0 0], :error :net-timeout}
{:index 1238, :time 39250827459, :type :info, :process 307, :f :cas, :value [3 3], :error :net-timeout}
{:index 1242, :time 39346716542, :type :info, :process 309, :f :write, :value 0, :error :net-timeout}
{:index 1244, :time 39386852709, :type :info, :process 310, :f :cas, :value [3 3], :error :net-timeout}
{:index 1246, :time 39449757584, :type :info, :process 311, :f :write, :value 2, :error :net-timeout}
