{:index 371, :time 10321645875, :type :invoke, :process 64, :f :cas, :value [4 4]}
{:index 376, :time 10393766375, :type :invoke, :process 2, :f :read, :value nil}
{:index 378, :time 10438611417, :type :invoke, :process 65, :f :cas, :value [1 2]}
{:index 385, :time 11108215417, :type :invoke, :process 0, :f :read, :value nil}
{:index 387, :time 11179341834, :type :invoke, :process 1, :f :read, :value nil}
{:index 389, :time 11240400500, :type :invoke, :process 87, :f :write, :value 0}
{:index 393, :time 11326878875, :type :info, :process 64, :f :cas, :value [4 4], :error :net-timeout}
{:index 395, :time 11362686959, :type :invoke, :process 76, :f :cas, :value [0 0]}
{:index 398, :time 11396002917, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 399, :time 11399349250, :type :invoke, :process 2, :f :read, :value nil}
{:index 400, :time 11444099542, :type :info, :process 65, :f :cas, :value [1 2], :error :net-timeout}
{:index 402, :time 11444275959, :type :invoke, :process 77, :f :write, :value 1}
{:index 408, :time 12113522542, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 409, :time 12113704000, :type :invoke, :process 0, :f :read, :value nil}
{:index 410, :time 12184386500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 411, :time 12184457125, :type :invoke, :process 1, :f :read, :value nil}
{:index 412, :time 12242912292, :type :info, :process 87, :f :write, :value 0, :error :net-timeout}
{:index 413, :time 12250569792, :type :invoke, :process 99, :f :cas, :value [0 0]}
{:index 418, :time 12365361917, :type :info, :process 76, :f :cas, :value [0 0], :error :net-timeout}
{:index 419, :time 12365481917, :type :invoke, :process 88, :f :write, :value 4}
{:index 421, :time 12399314834, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 422, :time 12399338292, :type :invoke, :process 2, :f :read, :value nil}
{:index 424, :time 12444398709, :type :info, :process 77, :f :write, :value 1, :error :net-timeout}
{:index 425, :time 12459358959, :type :invoke, :process 89, :f :cas, :value [0 0]}
{:index 432, :time 13114555584, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 433, :time 13114731209, :type :invoke, :process 0, :f :read, :value nil}
{:index 434, :time 13185638625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 435, :time 13185792167, :type :invoke, :process 1, :f :read, :value nil}
{:index 436, :time 13255183792, :type :info, :process 99, :f :cas, :value [0 0], :error :net-timeout}
{:index 437, :time 13255390834, :type :invoke, :process 111, :f :write, :value 3}
{:index 441, :time 13368976625, :type :info, :process 88, :f :write, :value 4, :error :net-timeout}
{:index 443, :time 13404295959, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 444, :time 13436418875, :type :invoke, :process 100, :f :cas, :value [1 3]}
{:index 446, :time 13450631709, :type :invoke, :process 2, :f :read, :value nil}
{:index 447, :time 13464465000, :type :info, :process 89, :f :cas, :value [0 0], :error :net-timeout}
{:index 449, :time 13502372792, :type :invoke, :process 101, :f :write, :value 3}
{:index 456, :time 14118419375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 457, :time 14118567042, :type :invoke, :process 0, :f :read, :value nil}
{:index 458, :time 14190605459, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 459, :time 14190672292, :type :invoke, :process 1, :f :read, :value nil}
{:index 460, :time 14256118167, :type :info, :process 111, :f :write, :value 3, :error :net-timeout}
{:index 461, :time 14256181125, :type :invoke, :process 123, :f :cas, :value [4 2]}
{:index 466, :time 14441942042, :type :info, :process 100, :f :cas, :value [1 3], :error :net-timeout}
{:index 467, :time 14442016000, :type :invoke, :process 112, :f :cas, :value [1 0]}
{:index 468, :time 14455474209, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 469, :time 14503091750, :type :invoke, :process 2, :f :read, :value nil}
{:index 470, :time 14504731500, :type :info, :process 101, :f :write, :value 3, :error :net-timeout}
{:index 472, :time 14526043250, :type :invoke, :process 113, :f :cas, :value [2 4]}
{:index 480, :time 15119982875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 481, :time 15120147792, :type :invoke, :process 0, :f :read, :value nil}
{:index 482, :time 15195359042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 483, :time 15195514959, :type :invoke, :process 1, :f :read, :value nil}
{:index 484, :time 15260811625, :type :info, :process 123, :f :cas, :value [4 2], :error :net-timeout}
{:index 485, :time 15260995167, :type :invoke, :process 135, :f :cas, :value [2 3]}
{:index 490, :time 15446694334, :type :info, :process 112, :f :cas, :value [1 0], :error :net-timeout}
{:index 492, :time 15504640292, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 494, :time 15528197375, :type :info, :process 113, :f :cas, :value [2 4], :error :net-timeout}
{:index 504, :time 16123792042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 506, :time 16198694834, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 508, :time 16266460625, :type :info, :process 135, :f :cas, :value [2 3], :error :net-timeout}
