{:index 61, :time 5362055958, :type :invoke, :process 35, :f :cas, :value [4 2]}
{:index 64, :time 5559920791, :type :invoke, :process 1, :f :read, :value nil}
{:index 65, :time 5724025791, :type :invoke, :process 2, :f :read, :value nil}
{:index 67, :time 6049508375, :type :invoke, :process 39, :f :write, :value 3}
{:index 69, :time 6249575958, :type :invoke, :process 40, :f :cas, :value [2 4]}
{:index 71, :time 6304193000, :type :invoke, :process 0, :f :read, :value nil}
{:index 72, :time 6365768583, :type :info, :process 35, :f :cas, :value [4 2], :error :net-timeout}
{:index 73, :time 6501638416, :type :invoke, :process 41, :f :cas, :value [4 1]}
{:index 74, :time 6562309583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 75, :time 6590759458, :type :invoke, :process 1, :f :read, :value nil}
{:index 76, :time 6729494250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 77, :time 6729622041, :type :invoke, :process 2, :f :read, :value nil}
{:index 78, :time 7050000041, :type :info, :process 39, :f :write, :value 3, :error :net-timeout}
{:index 79, :time 7050142875, :type :invoke, :process 45, :f :cas, :value [0 2]}
{:index 80, :time 7252977666, :type :info, :process 40, :f :cas, :value [2 4], :error :net-timeout}
{:index 81, :time 7253129375, :type :invoke, :process 46, :f :write, :value 2}
{:index 82, :time 7309335541, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 83, :time 7359918416, :type :invoke, :process 0, :f :read, :value nil}
{:index 84, :time 7508391333, :type :info, :process 41, :f :cas, :value [4 1], :error :net-timeout}
{:index 85, :time 7508515000, :type :invoke, :process 47, :f :cas, :value [3 3]}
{:index 86, :time 7595760875, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 87, :time 7644845333, :type :invoke, :process 1, :f :read, :value nil}
{:index 88, :time 7735160291, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 89, :time 7834165833, :type :invoke, :process 2, :f :read, :value nil}
{:index 90, :time 8052308375, :type :info, :process 45, :f :cas, :value [0 2], :error :net-timeout}
{:index 91, :time 8052457750, :type :invoke, :process 51, :f :cas, :value [2 3]}
{:index 92, :time 8257374958, :type :info, :process 46, :f :write, :value 2, :error :net-timeout}
{:index 93, :time 8257554958, :type :invoke, :process 52, :f :cas, :value [3 4]}
{:index 94, :time 8362759208, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 95, :time 8362917666, :type :invoke, :process 0, :f :read, :value nil}
{:index 96, :time 8512839250, :type :info, :process 47, :f :cas, :value [3 3], :error :net-timeout}
{:index 97, :time 8512968125, :type :invoke, :process 53, :f :write, :value 2}
{:index 98, :time 8648479500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 99, :time 8711014500, :type :invoke, :process 1, :f :read, :value nil}
{:index 100, :time 8838358791, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 101, :time 8838465291, :type :invoke, :process 2, :f :read, :value nil}
{:index 102, :time 9056119416, :type :info, :process 51, :f :cas, :value [2 3], :error :net-timeout}
{:index 103, :time 9056230416, :type :invoke, :process 57, :f :write, :value 2}
{:index 104, :time 9260559583, :type :info, :process 52, :f :cas, :value [3 4], :error :net-timeout}
{:index 105, :time 9260713791, :type :invoke, :process 58, :f :cas, :value [2 0]}
{:index 106, :time 9364106250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 107, :time 9434959750, :type :invoke, :process 0, :f :read, :value nil}
{:index 108, :time 9515902250, :type :info, :process 53, :f :write, :value 2, :error :net-timeout}
{:index 109, :time 9559618125, :type :invoke, :process 59, :f :write, :value 1}
{:index 110, :time 9711378500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 111, :time 9711480666, :type :invoke, :process 1, :f :read, :value nil}
{:index 112, :time 9843524291, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 113, :time 9913961875, :type :invoke, :process 2, :f :read, :value nil}
{:index 114, :time 10056267583, :type :info, :process 57, :f :write, :value 2, :error :net-timeout}
{:index 115, :time 10056680416, :type :invoke, :process 63, :f :cas, :value [4 4]}
{:index 116, :time 10260935708, :type :info, :process 58, :f :cas, :value [2 0], :error :net-timeout}
{:index 117, :time 10261135416, :type :invoke, :process 64, :f :cas, :value [0 2]}
{:index 118, :time 10441099458, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 119, :time 10441245125, :type :invoke, :process 0, :f :read, :value nil}
{:index 120, :time 10566056250, :type :info, :process 59, :f :write, :value 1, :error :net-timeout}
{:index 122, :time 10716945500, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 124, :time 10916512833, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 126, :time 11061687875, :type :info, :process 63, :f :cas, :value [4 4], :error :net-timeout}
{:index 128, :time 11268995583, :type :info, :process 64, :f :cas, :value [0 2], :error :net-timeout}
{:index 130, :time 11446817791, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
