{:index 502, :time 15659998167, :type :invoke, :process 130, :f :cas, :value [4 3]}
{:index 503, :time 15694976709, :type :invoke, :process 127, :f :cas, :value [1 3]}
{:index 511, :time 16334597167, :type :invoke, :process 140, :f :write, :value 1}
{:index 513, :time 16405502875, :type :invoke, :process 141, :f :cas, :value [0 3]}
{:index 519, :time 16569905959, :type :invoke, :process 143, :f :write, :value 3}
{:index 521, :time 16610836084, :type :invoke, :process 150, :f :cas, :value [1 3]}
{:index 524, :time 16659837292, :type :info, :process 130, :f :cas, :value [4 3], :error :net-timeout}
{:index 525, :time 16699368542, :type :invoke, :process 142, :f :cas, :value [0 3]}
{:index 526, :time 16699627875, :type :info, :process 127, :f :cas, :value [1 3], :error :net-timeout}
{:index 527, :time 16759691417, :type :invoke, :process 139, :f :cas, :value [0 1]}
{:index 534, :time 17339745167, :type :info, :process 140, :f :write, :value 1, :error :net-timeout}
{:index 535, :time 17339940792, :type :invoke, :process 152, :f :cas, :value [4 3]}
{:index 536, :time 17410359959, :type :info, :process 141, :f :cas, :value [0 3], :error :net-timeout}
{:index 537, :time 17410540417, :type :invoke, :process 153, :f :write, :value 3}
{:index 542, :time 17574604959, :type :info, :process 143, :f :write, :value 3, :error :net-timeout}
{:index 543, :time 17574760334, :type :invoke, :process 155, :f :write, :value 4}
{:index 544, :time 17616202584, :type :info, :process 150, :f :cas, :value [1 3], :error :net-timeout}
{:index 545, :time 17616391625, :type :invoke, :process 162, :f :cas, :value [1 0]}
{:index 548, :time 17704223500, :type :info, :process 142, :f :cas, :value [0 3], :error :net-timeout}
{:index 549, :time 17704370209, :type :invoke, :process 154, :f :cas, :value [3 1]}
{:index 550, :time 17759418042, :type :info, :process 139, :f :cas, :value [0 1], :error :net-timeout}
{:index 551, :time 17759514417, :type :invoke, :process 151, :f :cas, :value [4 1]}
{:index 558, :time 18340277375, :type :info, :process 152, :f :cas, :value [4 3], :error :net-timeout}
{:index 559, :time 18340426084, :type :invoke, :process 164, :f :cas, :value [0 3]}
{:index 560, :time 18415816375, :type :info, :process 153, :f :write, :value 3, :error :net-timeout}
{:index 561, :time 18415973750, :type :invoke, :process 165, :f :write, :value 3}
{:index 566, :time 18578335209, :type :info, :process 155, :f :write, :value 4, :error :net-timeout}
{:index 568, :time 18621501625, :type :info, :process 162, :f :cas, :value [1 0], :error :net-timeout}
{:index 572, :time 18709273209, :type :info, :process 154, :f :cas, :value [3 1], :error :net-timeout}
{:index 574, :time 18760382167, :type :info, :process 151, :f :cas, :value [4 1], :error :net-timeout}
{:index 579, :time 19128917709, :type :ok, :process 165, :f :write, :value 3}
{:index 592, :time 19275560042, :type :fail, :process 164, :f :cas, :value [0 3], :error [:precondition-failed "expected 0 but had 4"]}
