{:index 909, :time 57918805208, :type :invoke, :process 155, :f :write, :value 1}
{:index 911, :time 58105906583, :type :invoke, :process 0, :f :read, :value nil}
{:index 913, :time 58216548666, :type :invoke, :process 1, :f :read, :value nil}
{:index 915, :time 58393038416, :type :invoke, :process 2, :f :read, :value nil}
{:index 917, :time 58582022541, :type :invoke, :process 159, :f :cas, :value [0 1]}
{:index 919, :time 58767312750, :type :invoke, :process 160, :f :cas, :value [3 4]}
{:index 920, :time 58924651166, :type :info, :process 155, :f :write, :value 1, :error :net-timeout}
{:index 921, :time 58924862833, :type :invoke, :process 161, :f :write, :value 1}
{:index 922, :time 59110375250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 923, :time 59113832958, :type :invoke, :process 0, :f :read, :value nil}
{:index 924, :time 59222550750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 925, :time 59222712541, :type :invoke, :process 1, :f :read, :value nil}
{:index 926, :time 59398148375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 927, :time 59398312083, :type :invoke, :process 2, :f :read, :value nil}
{:index 928, :time 59587466208, :type :info, :process 159, :f :cas, :value [0 1], :error :net-timeout}
{:index 929, :time 59587577291, :type :invoke, :process 165, :f :cas, :value [1 3]}
{:index 930, :time 59768095750, :type :info, :process 160, :f :cas, :value [3 4], :error :net-timeout}
{:index 931, :time 59768309083, :type :invoke, :process 166, :f :cas, :value [1 3]}
{:index 932, :time 59930267500, :type :info, :process 161, :f :write, :value 1, :error :net-timeout}
{:index 933, :time 59930474458, :type :invoke, :process 167, :f :write, :value 2}
{:index 934, :time 60119020125, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 935, :time 60227562000, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 936, :time 60400916416, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 937, :time 60592976083, :type :info, :process 165, :f :cas, :value [1 3], :error :net-timeout}
{:index 938, :time 60773821541, :type :info, :process 166, :f :cas, :value [1 3], :error :net-timeout}
{:index 939, :time 60933843250, :type :info, :process 167, :f :write, :value 2, :error :net-timeout}
