{:index 668, :time 37386850291, :type :invoke, :process 34, :f :write, :value 3}
{:index 669, :time 37438587583, :type :invoke, :process 35, :f :cas, :value [4 3]}
{:index 671, :time 37940989208, :type :invoke, :process 0, :f :read, :value nil}
{:index 674, :time 38049033791, :type :invoke, :process 1, :f :read, :value nil}
{:index 675, :time 38139869583, :type :invoke, :process 2, :f :read, :value nil}
{:index 677, :time 38242358333, :type :invoke, :process 39, :f :cas, :value [4 4]}
{:index 678, :time 38393734583, :type :info, :process 34, :f :write, :value 3, :error :net-timeout}
{:index 679, :time 38393850791, :type :invoke, :process 40, :f :cas, :value [0 0]}
{:index 680, :time 38444868625, :type :info, :process 35, :f :cas, :value [4 3], :error :net-timeout}
{:index 681, :time 38444936791, :type :invoke, :process 41, :f :write, :value 4}
{:index 682, :time 38946131333, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 683, :time 38946270833, :type :invoke, :process 0, :f :read, :value nil}
{:index 684, :time 39053460208, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 685, :time 39108410416, :type :invoke, :process 1, :f :read, :value nil}
{:index 686, :time 39146031833, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 687, :time 39250018041, :type :info, :process 39, :f :cas, :value [4 4], :error :net-timeout}
{:index 688, :time 39250290916, :type :invoke, :process 2, :f :read, :value nil}
{:index 689, :time 39330130875, :type :invoke, :process 45, :f :cas, :value [3 3]}
{:index 690, :time 39399100000, :type :info, :process 40, :f :cas, :value [0 0], :error :net-timeout}
{:index 691, :time 39428069500, :type :invoke, :process 46, :f :write, :value 0}
{:index 692, :time 39449938375, :type :info, :process 41, :f :write, :value 4, :error :net-timeout}
{:index 693, :time 39605627541, :type :invoke, :process 47, :f :write, :value 2}
{:index 694, :time 39947098500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 695, :time 39947205458, :type :invoke, :process 0, :f :read, :value nil}
{:index 696, :time 40113682833, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 697, :time 40127680041, :type :invoke, :process 1, :f :read, :value nil}
{:index 698, :time 40255705083, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 699, :time 40268573416, :type :invoke, :process 2, :f :read, :value nil}
{:index 700, :time 40332191375, :type :info, :process 45, :f :cas, :value [3 3], :error :net-timeout}
{:index 701, :time 40398216958, :type :invoke, :process 51, :f :write, :value 2}
{:index 702, :time 40433722375, :type :info, :process 46, :f :write, :value 0, :error :net-timeout}
{:index 703, :time 40482294583, :type :invoke, :process 52, :f :cas, :value [4 0]}
{:index 704, :time 40606732500, :type :info, :process 47, :f :write, :value 2, :error :net-timeout}
{:index 705, :time 40645587875, :type :invoke, :process 53, :f :write, :value 2}
{:index 706, :time 40952711666, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 707, :time 40952796708, :type :invoke, :process 0, :f :read, :value nil}
{:index 708, :time 41130969833, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 709, :time 41131112125, :type :invoke, :process 1, :f :read, :value nil}
{:index 710, :time 41273888916, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 711, :time 41306491916, :type :invoke, :process 2, :f :read, :value nil}
{:index 712, :time 41399965958, :type :info, :process 51, :f :write, :value 2, :error :net-timeout}
{:index 713, :time 41402948166, :type :invoke, :process 57, :f :write, :value 0}
{:index 714, :time 41484946541, :type :info, :process 52, :f :cas, :value [4 0], :error :net-timeout}
{:index 715, :time 41485013708, :type :invoke, :process 58, :f :cas, :value [2 3]}
{:index 716, :time 41646533958, :type :info, :process 53, :f :write, :value 2, :error :net-timeout}
{:index 717, :time 41646646083, :type :invoke, :process 59, :f :cas, :value [2 0]}
{:index 718, :time 41952840458, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 719, :time 41952906000, :type :invoke, :process 0, :f :read, :value nil}
{:index 720, :time 42136096208, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 721, :time 42136160791, :type :invoke, :process 1, :f :read, :value nil}
{:index 722, :time 42310376708, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 723, :time 42310447916, :type :invoke, :process 2, :f :read, :value nil}
{:index 724, :time 42408003250, :type :info, :process 57, :f :write, :value 0, :error :net-timeout}
{:index 725, :time 42409769000, :type :invoke, :process 63, :f :cas, :value [2 0]}
{:index 726, :time 42490074708, :type :info, :process 58, :f :cas, :value [2 3], :error :net-timeout}
{:index 727, :time 42537767750, :type :invoke, :process 64, :f :write, :value 1}
{:index 728, :time 42651663000, :type :info, :process 59, :f :cas, :value [2 0], :error :net-timeout}
{:index 730, :time 42961068666, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 732, :time 43141297833, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 734, :time 43315408625, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 736, :time 43411856875, :type :info, :process 63, :f :cas, :value [2 0], :error :net-timeout}
{:index 738, :time 43540714000, :type :info, :process 64, :f :write, :value 1, :error :net-timeout}
