{:index 431, :time 14450299125, :type :invoke, :process 128, :f :write, :value 2}
{:index 437, :time 14594740250, :type :invoke, :process 129, :f :write, :value 0}
{:index 441, :time 15149396458, :type :invoke, :process 142, :f :cas, :value [0 2]}
{:index 443, :time 15219548458, :type :invoke, :process 143, :f :write, :value 3}
{:index 451, :time 15392115875, :type :invoke, :process 150, :f :cas, :value [1 1]}
{:index 453, :time 15428935625, :type :invoke, :process 139, :f :cas, :value [3 4]}
{:index 454, :time 15450568042, :type :info, :process 128, :f :write, :value 2, :error :net-timeout}
{:index 455, :time 15450958833, :type :invoke, :process 140, :f :cas, :value [0 3]}
{:index 460, :time 15599529250, :type :info, :process 129, :f :write, :value 0, :error :net-timeout}
{:index 461, :time 15608362375, :type :invoke, :process 141, :f :cas, :value [3 0]}
{:index 464, :time 16153102208, :type :info, :process 142, :f :cas, :value [0 2], :error :net-timeout}
{:index 465, :time 16153270042, :type :invoke, :process 154, :f :write, :value 1}
{:index 466, :time 16220226583, :type :info, :process 143, :f :write, :value 3, :error :net-timeout}
{:index 467, :time 16220346208, :type :invoke, :process 155, :f :cas, :value [3 4]}
{:index 474, :time 16396032625, :type :info, :process 150, :f :cas, :value [1 1], :error :net-timeout}
{:index 475, :time 16396152667, :type :invoke, :process 162, :f :cas, :value [4 0]}
{:index 476, :time 16433976875, :type :info, :process 139, :f :cas, :value [3 4], :error :net-timeout}
{:index 477, :time 16434106250, :type :invoke, :process 151, :f :write, :value 1}
{:index 478, :time 16453302083, :type :info, :process 140, :f :cas, :value [0 3], :error :net-timeout}
{:index 479, :time 16490690167, :type :invoke, :process 152, :f :cas, :value [1 0]}
{:index 484, :time 16612899875, :type :info, :process 141, :f :cas, :value [3 0], :error :net-timeout}
{:index 485, :time 16621085875, :type :invoke, :process 153, :f :cas, :value [4 1]}
{:index 488, :time 17154690292, :type :info, :process 154, :f :write, :value 1, :error :net-timeout}
{:index 489, :time 17154859042, :type :invoke, :process 166, :f :cas, :value [4 2]}
{:index 490, :time 17225066875, :type :info, :process 155, :f :cas, :value [3 4], :error :net-timeout}
{:index 498, :time 17401111250, :type :info, :process 162, :f :cas, :value [4 0], :error :net-timeout}
{:index 500, :time 17438968208, :type :info, :process 151, :f :write, :value 1, :error :net-timeout}
{:index 502, :time 17492345708, :type :info, :process 152, :f :cas, :value [1 0], :error :net-timeout}
{:index 508, :time 17621984333, :type :info, :process 153, :f :cas, :value [4 1], :error :net-timeout}
{:index 512, :time 18159112292, :type :info, :process 166, :f :cas, :value [4 2], :error :net-timeout}
