{:index 752, :time 23635256209, :type :invoke, :process 189, :f :write, :value 4}
{:index 753, :time 23686874292, :type :invoke, :process 191, :f :write, :value 2}
{:index 757, :time 24201792709, :type :invoke, :process 202, :f :cas, :value [3 3]}
{:index 769, :time 24490711375, :type :invoke, :process 210, :f :write, :value 0}
{:index 771, :time 24539832000, :type :invoke, :process 199, :f :write, :value 1}
{:index 773, :time 24573474625, :type :invoke, :process 200, :f :cas, :value [2 3]}
{:index 774, :time 24638790792, :type :info, :process 189, :f :write, :value 4, :error :net-timeout}
{:index 775, :time 24638834625, :type :invoke, :process 201, :f :cas, :value [2 0]}
{:index 776, :time 24690236792, :type :info, :process 191, :f :write, :value 2, :error :net-timeout}
{:index 777, :time 24690311417, :type :invoke, :process 203, :f :write, :value 4}
{:index 780, :time 25202028250, :type :info, :process 202, :f :cas, :value [3 3], :error :net-timeout}
{:index 781, :time 25202085125, :type :invoke, :process 214, :f :cas, :value [1 4]}
{:index 792, :time 25490625125, :type :info, :process 210, :f :write, :value 0, :error :net-timeout}
{:index 793, :time 25508081042, :type :invoke, :process 222, :f :write, :value 4}
{:index 794, :time 25543162167, :type :info, :process 199, :f :write, :value 1, :error :net-timeout}
{:index 795, :time 25555513542, :type :invoke, :process 211, :f :write, :value 1}
{:index 796, :time 25575885834, :type :info, :process 200, :f :cas, :value [2 3], :error :net-timeout}
{:index 797, :time 25594391334, :type :invoke, :process 212, :f :write, :value 0}
{:index 798, :time 25638784334, :type :info, :process 201, :f :cas, :value [2 0], :error :net-timeout}
{:index 799, :time 25638831334, :type :invoke, :process 213, :f :write, :value 2}
{:index 800, :time 25694816500, :type :info, :process 203, :f :write, :value 4, :error :net-timeout}
{:index 801, :time 25694856834, :type :invoke, :process 215, :f :write, :value 2}
{:index 804, :time 26206637167, :type :info, :process 214, :f :cas, :value [1 4], :error :net-timeout}
{:index 805, :time 26206750667, :type :invoke, :process 226, :f :write, :value 2}
{:index 816, :time 26512858084, :type :info, :process 222, :f :write, :value 4, :error :net-timeout}
{:index 817, :time 26520264959, :type :invoke, :process 234, :f :cas, :value [1 3]}
{:index 818, :time 26560545167, :type :info, :process 211, :f :write, :value 1, :error :net-timeout}
{:index 820, :time 26599057167, :type :info, :process 212, :f :write, :value 0, :error :net-timeout}
{:index 822, :time 26643418042, :type :info, :process 213, :f :write, :value 2, :error :net-timeout}
{:index 824, :time 26699438250, :type :info, :process 215, :f :write, :value 2, :error :net-timeout}
{:index 828, :time 27208763209, :type :info, :process 226, :f :write, :value 2, :error :net-timeout}
{:index 840, :time 27523177084, :type :info, :process 234, :f :cas, :value [1 3], :error :net-timeout}
