{:index 181, :time 15621562458, :type :invoke, :process 95, :f :write, :value 2}
{:index 183, :time 15785732583, :type :invoke, :process 1, :f :read, :value nil}
{:index 185, :time 15939273166, :type :invoke, :process 2, :f :read, :value nil}
{:index 187, :time 16080769333, :type :invoke, :process 99, :f :cas, :value [4 4]}
{:index 189, :time 16286963250, :type :invoke, :process 100, :f :write, :value 2}
{:index 191, :time 16468074208, :type :invoke, :process 0, :f :read, :value nil}
{:index 192, :time 16624374083, :type :info, :process 95, :f :write, :value 2, :error :net-timeout}
{:index 193, :time 16624552666, :type :invoke, :process 101, :f :cas, :value [1 0]}
{:index 194, :time 16792328625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 195, :time 16792444291, :type :invoke, :process 1, :f :read, :value nil}
{:index 196, :time 16942298000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 197, :time 16942392583, :type :invoke, :process 2, :f :read, :value nil}
{:index 198, :time 17085677416, :type :info, :process 99, :f :cas, :value [4 4], :error :net-timeout}
{:index 199, :time 17085843000, :type :invoke, :process 105, :f :cas, :value [1 0]}
{:index 200, :time 17290135291, :type :info, :process 100, :f :write, :value 2, :error :net-timeout}
{:index 201, :time 17290308541, :type :invoke, :process 106, :f :write, :value 1}
{:index 202, :time 17472187500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 203, :time 17472306708, :type :invoke, :process 0, :f :read, :value nil}
{:index 204, :time 17629723500, :type :info, :process 101, :f :cas, :value [1 0], :error :net-timeout}
{:index 205, :time 17629880166, :type :invoke, :process 107, :f :write, :value 3}
{:index 206, :time 17796050708, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 207, :time 17796169458, :type :invoke, :process 1, :f :read, :value nil}
{:index 208, :time 17944637750, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 209, :time 17944777625, :type :invoke, :process 2, :f :read, :value nil}
{:index 210, :time 18086842666, :type :info, :process 105, :f :cas, :value [1 0], :error :net-timeout}
{:index 211, :time 18086953833, :type :invoke, :process 111, :f :cas, :value [4 3]}
{:index 212, :time 18292874166, :type :info, :process 106, :f :write, :value 1, :error :net-timeout}
{:index 213, :time 18292984750, :type :invoke, :process 112, :f :cas, :value [2 3]}
{:index 214, :time 18473055750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 215, :time 18473192791, :type :invoke, :process 0, :f :read, :value nil}
{:index 216, :time 18634981208, :type :info, :process 107, :f :write, :value 3, :error :net-timeout}
{:index 217, :time 18635069458, :type :invoke, :process 113, :f :cas, :value [1 2]}
{:index 218, :time 18801636958, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 219, :time 18801908041, :type :invoke, :process 1, :f :read, :value nil}
{:index 220, :time 18945768875, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 221, :time 19002173875, :type :invoke, :process 2, :f :read, :value nil}
{:index 222, :time 19090269583, :type :info, :process 111, :f :cas, :value [4 3], :error :net-timeout}
{:index 223, :time 19138660791, :type :invoke, :process 117, :f :cas, :value [4 2]}
{:index 224, :time 19297451208, :type :info, :process 112, :f :cas, :value [2 3], :error :net-timeout}
{:index 225, :time 19297552125, :type :invoke, :process 118, :f :write, :value 1}
{:index 226, :time 19479484166, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 227, :time 19488113666, :type :invoke, :process 0, :f :read, :value nil}
{:index 228, :time 19639982583, :type :info, :process 113, :f :cas, :value [1 2], :error :net-timeout}
{:index 229, :time 19640139375, :type :invoke, :process 119, :f :cas, :value [0 2]}
{:index 230, :time 19806785583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 231, :time 19806902625, :type :invoke, :process 1, :f :read, :value nil}
{:index 232, :time 20008096666, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 233, :time 20008315333, :type :invoke, :process 2, :f :read, :value nil}
{:index 234, :time 20141431166, :type :info, :process 117, :f :cas, :value [4 2], :error :net-timeout}
{:index 235, :time 20165802125, :type :invoke, :process 123, :f :cas, :value [4 2]}
{:index 236, :time 20301655208, :type :info, :process 118, :f :write, :value 1, :error :net-timeout}
{:index 237, :time 20301756291, :type :invoke, :process 124, :f :write, :value 4}
{:index 238, :time 20489459333, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 239, :time 20489618875, :type :invoke, :process 0, :f :read, :value nil}
{:index 240, :time 20646266250, :type :info, :process 119, :f :cas, :value [0 2], :error :net-timeout}
{:index 242, :time 20812846083, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 244, :time 21009264791, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 246, :time 21167459625, :type :info, :process 123, :f :cas, :value [4 2], :error :net-timeout}
{:index 248, :time 21306532916, :type :info, :process 124, :f :write, :value 4, :error :net-timeout}
{:index 250, :time 21493815166, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
