{:index 0, :time 8584709, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 82793084, :type :invoke, :process 3, :f :cas, :value [1 0]}
{:index 2, :time 199602334, :type :invoke, :process 2, :f :read, :value nil}
{:index 3, :time 204549792, :type :invoke, :process 1, :f :read, :value nil}
{:index 4, :time 209536209, :type :invoke, :process 4, :f :write, :value 3}
{:index 5, :time 315824750, :type :invoke, :process 5, :f :write, :value 4}
{:index 6, :time 1021780000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 7, :time 1021958834, :type :invoke, :process 0, :f :read, :value nil}
{:index 8, :time 1085744917, :type :info, :process 3, :f :cas, :value [1 0], :error :net-timeout}
{:index 9, :time 1205924292, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 10, :time 1206295417, :type :invoke, :process 2, :f :read, :value nil}
{:index 11, :time 1210401417, :type :info, :process 4, :f :write, :value 3, :error :net-timeout}
{:index 12, :time 1210541875, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 13, :time 1308025250, :type :invoke, :process 1, :f :read, :value nil}
{:index 14, :time 1318259834, :type :info, :process 5, :f :write, :value 4, :error :net-timeout}
{:index 15, :time 1318528292, :type :invoke, :process 9, :f :write, :value 3}
{:index 16, :time 1480730417, :type :invoke, :process 10, :f :write, :value 2}
{:index 17, :time 1680711417, :type :invoke, :process 11, :f :cas, :value [3 4]}
{:index 18, :time 2028482625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 19, :time 2028680500, :type :invoke, :process 0, :f :read, :value nil}
{:index 20, :time 2212247459, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 21, :time 2212457917, :type :invoke, :process 2, :f :read, :value nil}
{:index 22, :time 2312790792, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 23, :time 2312977417, :type :invoke, :process 1, :f :read, :value nil}
{:index 24, :time 2323625834, :type :info, :process 9, :f :write, :value 3, :error :net-timeout}
{:index 25, :time 2484540792, :type :info, :process 10, :f :write, :value 2, :error :net-timeout}
{:index 26, :time 2484713042, :type :invoke, :process 15, :f :cas, :value [1 0]}
{:index 27, :time 2655884917, :type :invoke, :process 16, :f :cas, :value [1 0]}
{:index 28, :time 2684036584, :type :info, :process 11, :f :cas, :value [3 4], :error :net-timeout}
{:index 29, :time 2690464875, :type :invoke, :process 17, :f :cas, :value [4 3]}
{:index 30, :time 3033838584, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 31, :time 3034199292, :type :invoke, :process 0, :f :read, :value nil}
{:index 32, :time 3218918209, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 33, :time 3219145500, :type :invoke, :process 2, :f :read, :value nil}
{:index 34, :time 3318113542, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 35, :time 3318357375, :type :invoke, :process 1, :f :read, :value nil}
{:index 36, :time 3491437042, :type :info, :process 15, :f :cas, :value [1 0], :error :net-timeout}
{:index 37, :time 3518451709, :type :invoke, :process 21, :f :write, :value 2}
{:index 38, :time 3662600417, :type :info, :process 16, :f :cas, :value [1 0], :error :net-timeout}
{:index 39, :time 3662748084, :type :invoke, :process 22, :f :write, :value 2}
{:index 40, :time 3691765917, :type :info, :process 17, :f :cas, :value [4 3], :error :net-timeout}
{:index 41, :time 3691882750, :type :invoke, :process 23, :f :cas, :value [0 1]}
{:index 42, :time 4038938375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 43, :time 4039202667, :type :invoke, :process 0, :f :read, :value nil}
{:index 44, :time 4225404375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 45, :time 4225693625, :type :invoke, :process 2, :f :read, :value nil}
{:index 46, :time 4329045625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 47, :time 4367464959, :type :invoke, :process 1, :f :read, :value nil}
{:index 48, :time 4523987959, :type :info, :process 21, :f :write, :value 2, :error :net-timeout}
{:index 49, :time 4524134334, :type :invoke, :process 27, :f :cas, :value [0 3]}
{:index 50, :time 4668384625, :type :info, :process 22, :f :write, :value 2, :error :net-timeout}
{:index 51, :time 4697665042, :type :info, :process 23, :f :cas, :value [0 1], :error :net-timeout}
{:index 52, :time 4709993625, :type :invoke, :process 28, :f :cas, :value [0 4]}
{:index 53, :time 4752053125, :type :invoke, :process 29, :f :write, :value 1}
{:index 54, :time 5041926250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 55, :time 5042023125, :type :invoke, :process 0, :f :read, :value nil}
{:index 56, :time 5231608459, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 57, :time 5231826959, :type :invoke, :process 2, :f :read, :value nil}
{:index 58, :time 5374861834, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 59, :time 5375085792, :type :invoke, :process 1, :f :read, :value nil}
{:index 60, :time 5529347125, :type :info, :process 27, :f :cas, :value [0 3], :error :net-timeout}
{:index 61, :time 5529501875, :type :invoke, :process 33, :f :cas, :value [1 2]}
{:index 62, :time 5712197917, :type :info, :process 28, :f :cas, :value [0 4], :error :net-timeout}
{:index 63, :time 5712371834, :type :invoke, :process 34, :f :cas, :value [0 0]}
{:index 64, :time 5756269250, :type :info, :process 29, :f :write, :value 1, :error :net-timeout}
{:index 66, :time 6042074292, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 68, :time 6233839875, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 70, :time 6379338709, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 72, :time 6534921875, :type :info, :process 33, :f :cas, :value [1 2], :error :net-timeout}
{:index 74, :time 6723156459, :type :info, :process 34, :f :cas, :value [0 0], :error :net-timeout}
