{:index 121, :time 10599144833, :type :invoke, :process 65, :f :cas, :value [3 3]}
{:index 123, :time 10717162125, :type :invoke, :process 1, :f :read, :value nil}
{:index 125, :time 10916591125, :type :invoke, :process 2, :f :read, :value nil}
{:index 127, :time 11061792208, :type :invoke, :process 69, :f :write, :value 0}
{:index 129, :time 11269119458, :type :invoke, :process 70, :f :write, :value 0}
{:index 131, :time 11446957125, :type :invoke, :process 0, :f :read, :value nil}
{:index 132, :time 11602790750, :type :info, :process 65, :f :cas, :value [3 3], :error :net-timeout}
{:index 133, :time 11602974583, :type :invoke, :process 71, :f :write, :value 2}
{:index 134, :time 11719398416, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 135, :time 11719548083, :type :invoke, :process 1, :f :read, :value nil}
{:index 136, :time 11921701541, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 137, :time 11921881958, :type :invoke, :process 2, :f :read, :value nil}
{:index 138, :time 12066786541, :type :info, :process 69, :f :write, :value 0, :error :net-timeout}
{:index 139, :time 12067027291, :type :invoke, :process 75, :f :cas, :value [2 4]}
{:index 140, :time 12273064000, :type :info, :process 70, :f :write, :value 0, :error :net-timeout}
{:index 141, :time 12273555375, :type :invoke, :process 76, :f :cas, :value [2 4]}
{:index 142, :time 12447772208, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 143, :time 12447913583, :type :invoke, :process 0, :f :read, :value nil}
{:index 144, :time 12606681958, :type :info, :process 71, :f :write, :value 2, :error :net-timeout}
{:index 145, :time 12606843625, :type :invoke, :process 77, :f :cas, :value [4 2]}
{:index 146, :time 12722351833, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 147, :time 12722452208, :type :invoke, :process 1, :f :read, :value nil}
{:index 148, :time 12926437916, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 149, :time 12926592291, :type :invoke, :process 2, :f :read, :value nil}
{:index 150, :time 13071455708, :type :info, :process 75, :f :cas, :value [2 4], :error :net-timeout}
{:index 151, :time 13071658750, :type :invoke, :process 81, :f :write, :value 2}
{:index 152, :time 13275282125, :type :info, :process 76, :f :cas, :value [2 4], :error :net-timeout}
{:index 153, :time 13275414625, :type :invoke, :process 82, :f :cas, :value [4 1]}
{:index 154, :time 13452155833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 155, :time 13452302458, :type :invoke, :process 0, :f :read, :value nil}
{:index 156, :time 13612003000, :type :info, :process 77, :f :cas, :value [4 2], :error :net-timeout}
{:index 157, :time 13612090541, :type :invoke, :process 83, :f :cas, :value [0 4]}
{:index 158, :time 13727167916, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 159, :time 13727263291, :type :invoke, :process 1, :f :read, :value nil}
{:index 160, :time 13928389791, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 161, :time 13928543666, :type :invoke, :process 2, :f :read, :value nil}
{:index 162, :time 14074020625, :type :info, :process 81, :f :write, :value 2, :error :net-timeout}
{:index 163, :time 14074184041, :type :invoke, :process 87, :f :write, :value 0}
{:index 164, :time 14280405333, :type :info, :process 82, :f :cas, :value [4 1], :error :net-timeout}
{:index 165, :time 14280520666, :type :invoke, :process 88, :f :write, :value 1}
{:index 166, :time 14457088750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 167, :time 14457276791, :type :invoke, :process 0, :f :read, :value nil}
{:index 168, :time 14617109833, :type :info, :process 83, :f :cas, :value [0 4], :error :net-timeout}
{:index 169, :time 14617304625, :type :invoke, :process 89, :f :write, :value 1}
{:index 170, :time 14729844541, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 171, :time 14729957500, :type :invoke, :process 1, :f :read, :value nil}
{:index 172, :time 14934033375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 173, :time 14934162583, :type :invoke, :process 2, :f :read, :value nil}
{:index 174, :time 15076488083, :type :info, :process 87, :f :write, :value 0, :error :net-timeout}
{:index 175, :time 15076627916, :type :invoke, :process 93, :f :cas, :value [3 4]}
{:index 176, :time 15283240541, :type :info, :process 88, :f :write, :value 1, :error :net-timeout}
{:index 177, :time 15283352625, :type :invoke, :process 94, :f :cas, :value [2 1]}
{:index 178, :time 15462770666, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 179, :time 15462913375, :type :invoke, :process 0, :f :read, :value nil}
{:index 180, :time 15621396375, :type :info, :process 89, :f :write, :value 1, :error :net-timeout}
{:index 182, :time 15734804166, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 184, :time 15939109375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 186, :time 16080677500, :type :info, :process 93, :f :cas, :value [3 4], :error :net-timeout}
{:index 188, :time 16286820083, :type :info, :process 94, :f :cas, :value [2 1], :error :net-timeout}
{:index 190, :time 16467956083, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
