{:index 245, :time 20988984375, :type :invoke, :process 125, :f :write, :value 2}
{:index 247, :time 21167310125, :type :invoke, :process 0, :f :read, :value nil}
{:index 249, :time 21315759375, :type :invoke, :process 2, :f :read, :value nil}
{:index 251, :time 21472987500, :type :invoke, :process 1, :f :read, :value nil}
{:index 253, :time 21659210209, :type :invoke, :process 129, :f :cas, :value [0 4]}
{:index 255, :time 21841696667, :type :invoke, :process 130, :f :cas, :value [4 0]}
{:index 256, :time 21990431959, :type :info, :process 125, :f :write, :value 2, :error :net-timeout}
{:index 257, :time 21990628834, :type :invoke, :process 131, :f :write, :value 2}
{:index 258, :time 22168127667, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 259, :time 22168332459, :type :invoke, :process 0, :f :read, :value nil}
{:index 260, :time 22318697000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 261, :time 22318923667, :type :invoke, :process 2, :f :read, :value nil}
{:index 262, :time 22478362084, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 263, :time 22478461334, :type :invoke, :process 1, :f :read, :value nil}
{:index 264, :time 22665013417, :type :info, :process 129, :f :cas, :value [0 4], :error :net-timeout}
{:index 265, :time 22665108250, :type :invoke, :process 135, :f :cas, :value [3 2]}
{:index 266, :time 22846309875, :type :info, :process 130, :f :cas, :value [4 0], :error :net-timeout}
{:index 267, :time 22846583167, :type :invoke, :process 136, :f :cas, :value [4 1]}
{:index 268, :time 22995682042, :type :info, :process 131, :f :write, :value 2, :error :net-timeout}
{:index 269, :time 23049881792, :type :invoke, :process 137, :f :cas, :value [0 1]}
{:index 270, :time 23170153625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 271, :time 23174977625, :type :invoke, :process 0, :f :read, :value nil}
{:index 272, :time 23325153709, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 273, :time 23325350792, :type :invoke, :process 2, :f :read, :value nil}
{:index 274, :time 23483588625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 275, :time 23500976834, :type :invoke, :process 1, :f :read, :value nil}
{:index 276, :time 23670304875, :type :info, :process 135, :f :cas, :value [3 2], :error :net-timeout}
{:index 277, :time 23670584292, :type :invoke, :process 141, :f :write, :value 4}
{:index 278, :time 23852359875, :type :info, :process 136, :f :cas, :value [4 1], :error :net-timeout}
{:index 279, :time 23852647292, :type :invoke, :process 142, :f :cas, :value [0 1]}
{:index 280, :time 24054252042, :type :info, :process 137, :f :cas, :value [0 1], :error :net-timeout}
{:index 281, :time 24054539375, :type :invoke, :process 143, :f :cas, :value [0 2]}
{:index 282, :time 24180220750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 283, :time 24180452042, :type :invoke, :process 0, :f :read, :value nil}
{:index 284, :time 24328927042, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 285, :time 24367401750, :type :invoke, :process 2, :f :read, :value nil}
{:index 286, :time 24507114875, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 287, :time 24528289667, :type :invoke, :process 1, :f :read, :value nil}
{:index 288, :time 24676557500, :type :info, :process 141, :f :write, :value 4, :error :net-timeout}
{:index 289, :time 24695710000, :type :invoke, :process 147, :f :cas, :value [2 1]}
{:index 290, :time 24855338459, :type :info, :process 142, :f :cas, :value [0 1], :error :net-timeout}
{:index 291, :time 24881389500, :type :invoke, :process 148, :f :cas, :value [0 4]}
{:index 292, :time 25060985334, :type :info, :process 143, :f :cas, :value [0 2], :error :net-timeout}
{:index 293, :time 25065866667, :type :invoke, :process 149, :f :cas, :value [1 1]}
{:index 294, :time 25183761042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 295, :time 25183959125, :type :invoke, :process 0, :f :read, :value nil}
{:index 296, :time 25375319834, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 297, :time 25375563709, :type :invoke, :process 2, :f :read, :value nil}
{:index 298, :time 25531579834, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 299, :time 25531777875, :type :invoke, :process 1, :f :read, :value nil}
{:index 300, :time 25699505000, :type :info, :process 147, :f :cas, :value [2 1], :error :net-timeout}
{:index 301, :time 25699659875, :type :invoke, :process 153, :f :cas, :value [2 2]}
{:index 302, :time 25898659750, :type :info, :process 148, :f :cas, :value [0 4], :error :net-timeout}
{:index 303, :time 25902286625, :type :invoke, :process 154, :f :cas, :value [0 0]}
{:index 304, :time 26071735542, :type :info, :process 149, :f :cas, :value [1 1], :error :net-timeout}
{:index 306, :time 26190465042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 308, :time 26379000375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 310, :time 26537589042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 312, :time 26699936417, :type :info, :process 153, :f :cas, :value [2 2], :error :net-timeout}
{:index 314, :time 26908765209, :type :info, :process 154, :f :cas, :value [0 0], :error :net-timeout}
