{:index 305, :time 26155659875, :type :invoke, :process 155, :f :cas, :value [3 0]}
{:index 307, :time 26265381625, :type :invoke, :process 0, :f :read, :value nil}
{:index 309, :time 26447336917, :type :invoke, :process 159, :f :cas, :value [1 1]}
{:index 311, :time 26690649625, :type :invoke, :process 2, :f :read, :value nil}
{:index 313, :time 26819775792, :type :invoke, :process 1, :f :read, :value nil}
{:index 315, :time 26979705042, :type :invoke, :process 160, :f :cas, :value [3 1]}
{:index 316, :time 27157212917, :type :info, :process 155, :f :cas, :value [3 0], :error :net-timeout}
{:index 317, :time 27157351833, :type :invoke, :process 161, :f :write, :value 3}
{:index 318, :time 27267439250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 319, :time 27267670625, :type :invoke, :process 0, :f :read, :value nil}
{:index 320, :time 27450310375, :type :info, :process 159, :f :cas, :value [1 1], :error :net-timeout}
{:index 321, :time 27450408958, :type :invoke, :process 165, :f :write, :value 4}
{:index 322, :time 27697933208, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 323, :time 27699689792, :type :invoke, :process 2, :f :read, :value nil}
{:index 324, :time 27825522458, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 325, :time 27825640375, :type :invoke, :process 1, :f :read, :value nil}
{:index 326, :time 27988241500, :type :info, :process 160, :f :cas, :value [3 1], :error :net-timeout}
{:index 327, :time 27991163375, :type :invoke, :process 166, :f :cas, :value [2 2]}
{:index 328, :time 28158980792, :type :info, :process 161, :f :write, :value 3, :error :net-timeout}
{:index 329, :time 28159345750, :type :invoke, :process 167, :f :cas, :value [1 3]}
{:index 330, :time 28271085833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 331, :time 28357151750, :type :invoke, :process 0, :f :read, :value nil}
{:index 332, :time 28454420542, :type :info, :process 165, :f :write, :value 4, :error :net-timeout}
{:index 333, :time 28529421125, :type :invoke, :process 171, :f :write, :value 2}
{:index 334, :time 28702724083, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 335, :time 28702791542, :type :invoke, :process 2, :f :read, :value nil}
{:index 336, :time 28830625042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 337, :time 28897027375, :type :invoke, :process 1, :f :read, :value nil}
{:index 338, :time 28993965417, :type :info, :process 166, :f :cas, :value [2 2], :error :net-timeout}
{:index 339, :time 29066789042, :type :invoke, :process 172, :f :cas, :value [2 2]}
{:index 340, :time 29159990875, :type :info, :process 167, :f :cas, :value [1 3], :error :net-timeout}
{:index 341, :time 29187687792, :type :invoke, :process 173, :f :write, :value 3}
{:index 342, :time 29357165417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 343, :time 29357254000, :type :invoke, :process 0, :f :read, :value nil}
{:index 344, :time 29530415500, :type :info, :process 171, :f :write, :value 2, :error :net-timeout}
{:index 345, :time 29530739417, :type :invoke, :process 177, :f :cas, :value [4 4]}
{:index 346, :time 29708584292, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 347, :time 29708729667, :type :invoke, :process 2, :f :read, :value nil}
{:index 348, :time 29902431875, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 349, :time 29902728625, :type :invoke, :process 1, :f :read, :value nil}
{:index 350, :time 30067878542, :type :info, :process 172, :f :cas, :value [2 2], :error :net-timeout}
{:index 351, :time 30187664167, :type :info, :process 173, :f :write, :value 3, :error :net-timeout}
{:index 352, :time 30360308042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 353, :time 30536270542, :type :info, :process 177, :f :cas, :value [4 4], :error :net-timeout}
{:index 354, :time 30710310958, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 355, :time 30908122667, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
