{:index 729, :time 42712072958, :type :invoke, :process 65, :f :write, :value 2}
{:index 731, :time 42961231708, :type :invoke, :process 0, :f :read, :value nil}
{:index 733, :time 43141453500, :type :invoke, :process 1, :f :read, :value nil}
{:index 735, :time 43315537291, :type :invoke, :process 2, :f :read, :value nil}
{:index 737, :time 43425405333, :type :invoke, :process 69, :f :cas, :value [3 3]}
{:index 739, :time 43591077958, :type :invoke, :process 70, :f :cas, :value [2 3]}
{:index 740, :time 43715806750, :type :info, :process 65, :f :write, :value 2, :error :net-timeout}
{:index 741, :time 43754973708, :type :invoke, :process 71, :f :cas, :value [1 0]}
{:index 742, :time 43966231833, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 743, :time 43966338208, :type :invoke, :process 0, :f :read, :value nil}
{:index 744, :time 44146726750, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 745, :time 44146877833, :type :invoke, :process 1, :f :read, :value nil}
{:index 746, :time 44320541625, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 747, :time 44320650500, :type :invoke, :process 2, :f :read, :value nil}
{:index 748, :time 44431272041, :type :info, :process 69, :f :cas, :value [3 3], :error :net-timeout}
{:index 749, :time 44431553375, :type :invoke, :process 75, :f :write, :value 2}
{:index 750, :time 44597057583, :type :info, :process 70, :f :cas, :value [2 3], :error :net-timeout}
{:index 751, :time 44597166583, :type :invoke, :process 76, :f :cas, :value [3 1]}
{:index 752, :time 44761929916, :type :info, :process 71, :f :cas, :value [1 0], :error :net-timeout}
{:index 753, :time 44762062000, :type :invoke, :process 77, :f :cas, :value [2 4]}
{:index 754, :time 44970897375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 755, :time 44971065166, :type :invoke, :process 0, :f :read, :value nil}
{:index 756, :time 45149881791, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 757, :time 45150055125, :type :invoke, :process 1, :f :read, :value nil}
{:index 758, :time 45321640875, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 759, :time 45321813041, :type :invoke, :process 2, :f :read, :value nil}
{:index 760, :time 45433055333, :type :info, :process 75, :f :write, :value 2, :error :net-timeout}
{:index 761, :time 45510076958, :type :invoke, :process 81, :f :cas, :value [4 4]}
{:index 762, :time 45602015833, :type :info, :process 76, :f :cas, :value [3 1], :error :net-timeout}
{:index 763, :time 45607670708, :type :invoke, :process 82, :f :write, :value 0}
{:index 764, :time 45768031291, :type :info, :process 77, :f :cas, :value [2 4], :error :net-timeout}
{:index 765, :time 45768185583, :type :invoke, :process 83, :f :write, :value 1}
{:index 766, :time 45976050625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 767, :time 45976228416, :type :invoke, :process 0, :f :read, :value nil}
{:index 768, :time 46151358916, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 769, :time 46151926583, :type :invoke, :process 1, :f :read, :value nil}
{:index 770, :time 46324454625, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 771, :time 46324646708, :type :invoke, :process 2, :f :read, :value nil}
{:index 772, :time 46516364291, :type :info, :process 81, :f :cas, :value [4 4], :error :net-timeout}
{:index 773, :time 46519244375, :type :invoke, :process 87, :f :cas, :value [2 1]}
{:index 774, :time 46613624208, :type :info, :process 82, :f :write, :value 0, :error :net-timeout}
{:index 775, :time 46613839166, :type :invoke, :process 88, :f :write, :value 3}
{:index 776, :time 46773488125, :type :info, :process 83, :f :write, :value 1, :error :net-timeout}
{:index 777, :time 46774740791, :type :invoke, :process 89, :f :cas, :value [1 3]}
{:index 778, :time 46980947333, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 779, :time 46981135166, :type :invoke, :process 0, :f :read, :value nil}
{:index 780, :time 47157746000, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 781, :time 47170291041, :type :invoke, :process 1, :f :read, :value nil}
{:index 782, :time 47325500250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 783, :time 47325665083, :type :invoke, :process 2, :f :read, :value nil}
{:index 784, :time 47525086708, :type :info, :process 87, :f :cas, :value [2 1], :error :net-timeout}
{:index 785, :time 47525302791, :type :invoke, :process 93, :f :cas, :value [1 2]}
{:index 786, :time 47616277666, :type :info, :process 88, :f :write, :value 3, :error :net-timeout}
{:index 787, :time 47616407750, :type :invoke, :process 94, :f :cas, :value [3 0]}
{:index 788, :time 47776546000, :type :info, :process 89, :f :cas, :value [1 3], :error :net-timeout}
{:index 790, :time 47981787750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 792, :time 48174118708, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 794, :time 48326567583, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 796, :time 48527904958, :type :info, :process 93, :f :cas, :value [1 2], :error :net-timeout}
{:index 798, :time 48621278041, :type :info, :process 94, :f :cas, :value [3 0], :error :net-timeout}
