{:index 789, :time 47790406916, :type :invoke, :process 95, :f :write, :value 1}
{:index 791, :time 47982017875, :type :invoke, :process 0, :f :read, :value nil}
{:index 793, :time 48174295416, :type :invoke, :process 1, :f :read, :value nil}
{:index 795, :time 48326699416, :type :invoke, :process 2, :f :read, :value nil}
{:index 797, :time 48528128375, :type :invoke, :process 99, :f :cas, :value [1 1]}
{:index 799, :time 48650849500, :type :invoke, :process 100, :f :write, :value 0}
{:index 800, :time 48796635958, :type :info, :process 95, :f :write, :value 1, :error :net-timeout}
{:index 801, :time 48796855208, :type :invoke, :process 101, :f :cas, :value [4 3]}
{:index 802, :time 48983033750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 803, :time 48983400625, :type :invoke, :process 0, :f :read, :value nil}
{:index 804, :time 49177255333, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 805, :time 49177361625, :type :invoke, :process 1, :f :read, :value nil}
{:index 806, :time 49331751666, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 807, :time 49352260125, :type :invoke, :process 2, :f :read, :value nil}
{:index 808, :time 49529451916, :type :info, :process 99, :f :cas, :value [1 1], :error :net-timeout}
{:index 809, :time 49529650291, :type :invoke, :process 105, :f :write, :value 0}
{:index 810, :time 49651873541, :type :info, :process 100, :f :write, :value 0, :error :net-timeout}
{:index 811, :time 49651999250, :type :invoke, :process 106, :f :cas, :value [0 4]}
{:index 812, :time 49802109291, :type :info, :process 101, :f :cas, :value [4 3], :error :net-timeout}
{:index 813, :time 49802240541, :type :invoke, :process 107, :f :write, :value 0}
{:index 814, :time 49988804166, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 815, :time 49988948875, :type :invoke, :process 0, :f :read, :value nil}
{:index 816, :time 50181067166, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 817, :time 50181722458, :type :invoke, :process 1, :f :read, :value nil}
{:index 818, :time 50358735250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 819, :time 50358898625, :type :invoke, :process 2, :f :read, :value nil}
{:index 820, :time 50534798791, :type :info, :process 105, :f :write, :value 0, :error :net-timeout}
{:index 821, :time 50535018375, :type :invoke, :process 111, :f :write, :value 1}
{:index 822, :time 50653665250, :type :info, :process 106, :f :cas, :value [0 4], :error :net-timeout}
{:index 823, :time 50653851500, :type :invoke, :process 112, :f :cas, :value [1 1]}
{:index 824, :time 50807569125, :type :info, :process 107, :f :write, :value 0, :error :net-timeout}
{:index 825, :time 50807815791, :type :invoke, :process 113, :f :write, :value 2}
{:index 826, :time 50989624125, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 827, :time 50989825000, :type :invoke, :process 0, :f :read, :value nil}
{:index 828, :time 51183922583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 829, :time 51184057125, :type :invoke, :process 1, :f :read, :value nil}
{:index 830, :time 51364008166, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 831, :time 51364143916, :type :invoke, :process 2, :f :read, :value nil}
{:index 832, :time 51540375375, :type :info, :process 111, :f :write, :value 1, :error :net-timeout}
{:index 833, :time 51540537625, :type :invoke, :process 117, :f :cas, :value [4 1]}
{:index 834, :time 51659229625, :type :info, :process 112, :f :cas, :value [1 1], :error :net-timeout}
{:index 835, :time 51659343375, :type :invoke, :process 118, :f :write, :value 4}
{:index 836, :time 51813465666, :type :info, :process 113, :f :write, :value 2, :error :net-timeout}
{:index 837, :time 51813629791, :type :invoke, :process 119, :f :cas, :value [4 3]}
{:index 838, :time 51995302750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 839, :time 51995380750, :type :invoke, :process 0, :f :read, :value nil}
{:index 840, :time 52184319375, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 841, :time 52184424125, :type :invoke, :process 1, :f :read, :value nil}
{:index 842, :time 52366663500, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 843, :time 52366854833, :type :invoke, :process 2, :f :read, :value nil}
{:index 844, :time 52546303333, :type :info, :process 117, :f :cas, :value [4 1], :error :net-timeout}
{:index 845, :time 52546520458, :type :invoke, :process 123, :f :cas, :value [4 1]}
{:index 846, :time 52664044791, :type :info, :process 118, :f :write, :value 4, :error :net-timeout}
{:index 847, :time 52714901500, :type :invoke, :process 124, :f :cas, :value [3 0]}
{:index 848, :time 52819088041, :type :info, :process 119, :f :cas, :value [4 3], :error :net-timeout}
{:index 850, :time 52996445541, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 852, :time 53189725125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 854, :time 53371353250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 856, :time 53551115375, :type :info, :process 123, :f :cas, :value [4 1], :error :net-timeout}
{:index 858, :time 53720480125, :type :info, :process 124, :f :cas, :value [3 0], :error :net-timeout}
