{:index 301, :time 25698213708, :type :invoke, :process 155, :f :cas, :value [0 4]}
{:index 303, :time 25865252083, :type :invoke, :process 1, :f :read, :value nil}
{:index 305, :time 26029885875, :type :invoke, :process 2, :f :read, :value nil}
{:index 307, :time 26212361333, :type :invoke, :process 159, :f :cas, :value [1 3]}
{:index 309, :time 26406611041, :type :invoke, :process 160, :f :write, :value 1}
{:index 311, :time 26574660333, :type :invoke, :process 0, :f :read, :value nil}
{:index 312, :time 26699003875, :type :info, :process 155, :f :cas, :value [0 4], :error :net-timeout}
{:index 313, :time 26747200958, :type :invoke, :process 161, :f :write, :value 0}
{:index 314, :time 26870591291, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 315, :time 26920988291, :type :invoke, :process 1, :f :read, :value nil}
{:index 316, :time 27031660708, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 317, :time 27031795208, :type :invoke, :process 2, :f :read, :value nil}
{:index 318, :time 27217744416, :type :info, :process 159, :f :cas, :value [1 3], :error :net-timeout}
{:index 319, :time 27217908416, :type :invoke, :process 165, :f :write, :value 0}
{:index 320, :time 27408276583, :type :info, :process 160, :f :write, :value 1, :error :net-timeout}
{:index 321, :time 27408428833, :type :invoke, :process 166, :f :write, :value 1}
{:index 322, :time 27580361875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 323, :time 27599325916, :type :invoke, :process 0, :f :read, :value nil}
{:index 324, :time 27751327500, :type :info, :process 161, :f :write, :value 0, :error :net-timeout}
{:index 325, :time 27751475083, :type :invoke, :process 167, :f :cas, :value [0 4]}
{:index 326, :time 27925441083, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 327, :time 27925578833, :type :invoke, :process 1, :f :read, :value nil}
{:index 328, :time 28035470250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 329, :time 28035668291, :type :invoke, :process 2, :f :read, :value nil}
{:index 330, :time 28221908041, :type :info, :process 165, :f :write, :value 0, :error :net-timeout}
{:index 331, :time 28230848541, :type :invoke, :process 171, :f :write, :value 3}
{:index 332, :time 28413058250, :type :info, :process 166, :f :write, :value 1, :error :net-timeout}
{:index 333, :time 28413221416, :type :invoke, :process 172, :f :cas, :value [1 4]}
{:index 334, :time 28600286958, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 335, :time 28600376625, :type :invoke, :process 0, :f :read, :value nil}
{:index 336, :time 28753393958, :type :info, :process 167, :f :cas, :value [0 4], :error :net-timeout}
{:index 337, :time 28753549416, :type :invoke, :process 173, :f :cas, :value [4 3]}
{:index 338, :time 28930728791, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 339, :time 28930871666, :type :invoke, :process 1, :f :read, :value nil}
{:index 340, :time 29041173916, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 341, :time 29080485125, :type :invoke, :process 2, :f :read, :value nil}
{:index 342, :time 29231312791, :type :info, :process 171, :f :write, :value 3, :error :net-timeout}
{:index 343, :time 29231429375, :type :invoke, :process 177, :f :cas, :value [1 4]}
{:index 344, :time 29414513500, :type :info, :process 172, :f :cas, :value [1 4], :error :net-timeout}
{:index 345, :time 29414676333, :type :invoke, :process 178, :f :cas, :value [1 2]}
{:index 346, :time 29604721708, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 347, :time 29604854000, :type :invoke, :process 0, :f :read, :value nil}
{:index 348, :time 29754841500, :type :info, :process 173, :f :cas, :value [4 3], :error :net-timeout}
{:index 349, :time 29755003708, :type :invoke, :process 179, :f :write, :value 0}
{:index 350, :time 29933917541, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 351, :time 29934051166, :type :invoke, :process 1, :f :read, :value nil}
{:index 352, :time 30087988250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 353, :time 30235787208, :type :info, :process 177, :f :cas, :value [1 4], :error :net-timeout}
{:index 354, :time 30419841083, :type :info, :process 178, :f :cas, :value [1 2], :error :net-timeout}
{:index 355, :time 30607268625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 356, :time 30756042583, :type :info, :process 179, :f :write, :value 0, :error :net-timeout}
{:index 357, :time 30938145583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
