{:index 125, :time 10931132167, :type :invoke, :process 65, :f :cas, :value [4 2]}
{:index 127, :time 11070221709, :type :invoke, :process 0, :f :read, :value nil}
{:index 129, :time 11274147292, :type :invoke, :process 2, :f :read, :value nil}
{:index 131, :time 11407228209, :type :invoke, :process 1, :f :read, :value nil}
{:index 133, :time 11557317792, :type :invoke, :process 69, :f :cas, :value [2 1]}
{:index 135, :time 11745621584, :type :invoke, :process 70, :f :cas, :value [2 0]}
{:index 136, :time 11945103917, :type :info, :process 65, :f :cas, :value [4 2], :error :net-timeout}
{:index 137, :time 11945395125, :type :invoke, :process 71, :f :cas, :value [4 1]}
{:index 138, :time 12076089875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 139, :time 12109863834, :type :invoke, :process 0, :f :read, :value nil}
{:index 140, :time 12278721709, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 141, :time 12278865000, :type :invoke, :process 2, :f :read, :value nil}
{:index 142, :time 12420743250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 143, :time 12420883334, :type :invoke, :process 1, :f :read, :value nil}
{:index 144, :time 12562902542, :type :info, :process 69, :f :cas, :value [2 1], :error :net-timeout}
{:index 145, :time 12599739042, :type :invoke, :process 75, :f :cas, :value [1 3]}
{:index 146, :time 12746221667, :type :info, :process 70, :f :cas, :value [2 0], :error :net-timeout}
{:index 147, :time 12746436584, :type :invoke, :process 76, :f :write, :value 2}
{:index 148, :time 12948536334, :type :info, :process 71, :f :cas, :value [4 1], :error :net-timeout}
{:index 149, :time 12948807417, :type :invoke, :process 77, :f :cas, :value [1 2]}
{:index 150, :time 13110022084, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 151, :time 13110179875, :type :invoke, :process 0, :f :read, :value nil}
{:index 152, :time 13280262792, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 153, :time 13280349792, :type :invoke, :process 2, :f :read, :value nil}
{:index 154, :time 13424065209, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 155, :time 13424300209, :type :invoke, :process 1, :f :read, :value nil}
{:index 156, :time 13606428417, :type :info, :process 75, :f :cas, :value [1 3], :error :net-timeout}
{:index 157, :time 13606528042, :type :invoke, :process 81, :f :cas, :value [2 2]}
{:index 158, :time 13748657750, :type :info, :process 76, :f :write, :value 2, :error :net-timeout}
{:index 159, :time 13748839459, :type :invoke, :process 82, :f :write, :value 1}
{:index 160, :time 13954451792, :type :info, :process 77, :f :cas, :value [1 2], :error :net-timeout}
{:index 161, :time 13954747542, :type :invoke, :process 83, :f :write, :value 3}
{:index 162, :time 14115254209, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 163, :time 14115413625, :type :invoke, :process 0, :f :read, :value nil}
{:index 164, :time 14285335375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 165, :time 14285488917, :type :invoke, :process 2, :f :read, :value nil}
{:index 166, :time 14427868250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 167, :time 14428166542, :type :invoke, :process 1, :f :read, :value nil}
{:index 168, :time 14611544209, :type :info, :process 81, :f :cas, :value [2 2], :error :net-timeout}
{:index 169, :time 14611736459, :type :invoke, :process 87, :f :write, :value 2}
{:index 170, :time 14754433292, :type :info, :process 82, :f :write, :value 1, :error :net-timeout}
{:index 171, :time 14754601750, :type :invoke, :process 88, :f :write, :value 1}
{:index 172, :time 14962449459, :type :info, :process 83, :f :write, :value 3, :error :net-timeout}
{:index 173, :time 14962633084, :type :invoke, :process 89, :f :write, :value 4}
{:index 174, :time 15121599750, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 175, :time 15121875375, :type :invoke, :process 0, :f :read, :value nil}
{:index 176, :time 15291361084, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 177, :time 15291637417, :type :invoke, :process 2, :f :read, :value nil}
{:index 178, :time 15443051042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 179, :time 15443195625, :type :invoke, :process 1, :f :read, :value nil}
{:index 180, :time 15619481417, :type :info, :process 87, :f :write, :value 2, :error :net-timeout}
{:index 181, :time 15619650292, :type :invoke, :process 93, :f :cas, :value [0 0]}
{:index 182, :time 15758396834, :type :info, :process 88, :f :write, :value 1, :error :net-timeout}
{:index 183, :time 15758578500, :type :invoke, :process 94, :f :write, :value 1}
{:index 184, :time 15962816167, :type :info, :process 89, :f :write, :value 4, :error :net-timeout}
{:index 186, :time 16129482459, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 188, :time 16295240625, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 190, :time 16448256000, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 192, :time 16624868250, :type :info, :process 93, :f :cas, :value [0 0], :error :net-timeout}
{:index 194, :time 16763386959, :type :info, :process 94, :f :write, :value 1, :error :net-timeout}
