{:index 1, :time 69821292, :type :invoke, :process 1, :f :read, :value nil}
{:index 5, :time 146748792, :type :invoke, :process 0, :f :read, :value nil}
{:index 7, :time 226429708, :type :invoke, :process 3, :f :cas, :value [2 2]}
{:index 8, :time 282841125, :type :invoke, :process 2, :f :read, :value nil}
{:index 10, :time 367812292, :type :invoke, :process 4, :f :cas, :value [1 2]}
{:index 11, :time 423024958, :type :invoke, :process 5, :f :cas, :value [0 2]}
{:index 14, :time 1075946583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 15, :time 1076074667, :type :invoke, :process 1, :f :read, :value nil}
{:index 20, :time 1150879042, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 23, :time 1217523667, :type :invoke, :process 0, :f :read, :value nil}
{:index 25, :time 1232105708, :type :info, :process 3, :f :cas, :value [2 2], :error :net-timeout}
{:index 26, :time 1239789208, :type :invoke, :process 15, :f :cas, :value [1 2]}
{:index 28, :time 1284508417, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 29, :time 1312447542, :type :invoke, :process 2, :f :read, :value nil}
{:index 32, :time 1370062458, :type :info, :process 4, :f :cas, :value [1 2], :error :net-timeout}
{:index 33, :time 1370185333, :type :invoke, :process 16, :f :cas, :value [0 4]}
{:index 34, :time 1428487833, :type :info, :process 5, :f :cas, :value [0 2], :error :net-timeout}
{:index 35, :time 1436069083, :type :invoke, :process 17, :f :cas, :value [0 0]}
{:index 38, :time 2081705792, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 39, :time 2081907375, :type :invoke, :process 1, :f :read, :value nil}
{:index 44, :time 2223169375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 46, :time 2237750042, :type :invoke, :process 0, :f :read, :value nil}
{:index 47, :time 2240480542, :type :info, :process 15, :f :cas, :value [1 2], :error :net-timeout}
{:index 51, :time 2313523000, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 52, :time 2328202375, :type :invoke, :process 27, :f :cas, :value [4 2]}
{:index 55, :time 2373230917, :type :info, :process 16, :f :cas, :value [0 4], :error :net-timeout}
{:index 56, :time 2393210792, :type :invoke, :process 28, :f :cas, :value [1 0]}
{:index 57, :time 2414715250, :type :invoke, :process 2, :f :read, :value nil}
{:index 58, :time 2441325667, :type :info, :process 17, :f :cas, :value [0 0], :error :net-timeout}
{:index 59, :time 2481219458, :type :invoke, :process 29, :f :cas, :value [2 3]}
{:index 62, :time 3084052000, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 63, :time 3084250250, :type :invoke, :process 1, :f :read, :value nil}
{:index 68, :time 3239210625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 69, :time 3239272500, :type :invoke, :process 0, :f :read, :value nil}
{:index 73, :time 3328421750, :type :info, :process 27, :f :cas, :value [4 2], :error :net-timeout}
{:index 76, :time 3381823375, :type :invoke, :process 39, :f :cas, :value [3 2]}
{:index 77, :time 3396830875, :type :info, :process 28, :f :cas, :value [1 0], :error :net-timeout}
{:index 78, :time 3404830958, :type :invoke, :process 40, :f :write, :value 1}
{:index 79, :time 3419711875, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 80, :time 3423376292, :type :invoke, :process 2, :f :read, :value nil}
{:index 82, :time 3484654292, :type :info, :process 29, :f :cas, :value [2 3], :error :net-timeout}
{:index 83, :time 3498004500, :type :invoke, :process 41, :f :cas, :value [3 3]}
{:index 86, :time 4086052333, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 87, :time 4090782917, :type :invoke, :process 1, :f :read, :value nil}
{:index 92, :time 4242641083, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 93, :time 4242730958, :type :invoke, :process 0, :f :read, :value nil}
{:index 98, :time 4386518625, :type :info, :process 39, :f :cas, :value [3 2], :error :net-timeout}
{:index 99, :time 4389585083, :type :invoke, :process 51, :f :cas, :value [1 1]}
{:index 100, :time 4409936750, :type :info, :process 40, :f :write, :value 1, :error :net-timeout}
{:index 101, :time 4423865208, :type :invoke, :process 52, :f :cas, :value [1 0]}
{:index 102, :time 4425127208, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 103, :time 4439739292, :type :invoke, :process 2, :f :read, :value nil}
{:index 106, :time 4502815000, :type :info, :process 41, :f :cas, :value [3 3], :error :net-timeout}
{:index 107, :time 4537146500, :type :invoke, :process 53, :f :write, :value 3}
{:index 110, :time 5094135083, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 111, :time 5094258125, :type :invoke, :process 1, :f :read, :value nil}
{:index 116, :time 5247635250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 117, :time 5247765667, :type :invoke, :process 0, :f :read, :value nil}
{:index 122, :time 5394377500, :type :info, :process 51, :f :cas, :value [1 1], :error :net-timeout}
{:index 123, :time 5409377792, :type :invoke, :process 63, :f :write, :value 4}
{:index 124, :time 5429724417, :type :info, :process 52, :f :cas, :value [1 0], :error :net-timeout}
{:index 125, :time 5429824250, :type :invoke, :process 64, :f :write, :value 4}
{:index 126, :time 5442105750, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 127, :time 5468342208, :type :invoke, :process 2, :f :read, :value nil}
{:index 130, :time 5542097333, :type :info, :process 53, :f :write, :value 3, :error :net-timeout}
{:index 134, :time 6094746250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 140, :time 6252807625, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 146, :time 6414979500, :type :info, :process 63, :f :write, :value 4, :error :net-timeout}
{:index 148, :time 6434654708, :type :info, :process 64, :f :write, :value 4, :error :net-timeout}
{:index 149, :time 6473583458, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
