{:index 737, :time 23299029375, :type :invoke, :process 184, :f :cas, :value [4 2]}
{:index 739, :time 23312035167, :type :invoke, :process 185, :f :write, :value 3}
{:index 741, :time 23377969209, :type :invoke, :process 1, :f :read, :value nil}
{:index 743, :time 23422069459, :type :invoke, :process 2, :f :read, :value nil}
{:index 755, :time 24151297667, :type :invoke, :process 207, :f :cas, :value [2 4]}
{:index 759, :time 24248488584, :type :invoke, :process 0, :f :read, :value nil}
{:index 760, :time 24299389167, :type :info, :process 184, :f :cas, :value [4 2], :error :net-timeout}
{:index 761, :time 24299445959, :type :invoke, :process 196, :f :write, :value 2}
{:index 762, :time 24316603042, :type :info, :process 185, :f :write, :value 3, :error :net-timeout}
{:index 763, :time 24338427209, :type :invoke, :process 197, :f :write, :value 1}
{:index 764, :time 24383062042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 765, :time 24403430209, :type :invoke, :process 1, :f :read, :value nil}
{:index 766, :time 24426930709, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 767, :time 24470151209, :type :invoke, :process 2, :f :read, :value nil}
{:index 778, :time 25153202542, :type :info, :process 207, :f :cas, :value [2 4], :error :net-timeout}
{:index 779, :time 25153265250, :type :invoke, :process 219, :f :cas, :value [3 2]}
{:index 782, :time 25248171417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 783, :time 25248223625, :type :invoke, :process 0, :f :read, :value nil}
{:index 784, :time 25303864000, :type :info, :process 196, :f :write, :value 2, :error :net-timeout}
{:index 785, :time 25303980250, :type :invoke, :process 208, :f :cas, :value [1 0]}
{:index 786, :time 25338753250, :type :info, :process 197, :f :write, :value 1, :error :net-timeout}
{:index 787, :time 25344574542, :type :invoke, :process 209, :f :cas, :value [1 4]}
{:index 788, :time 25404545125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 789, :time 25412171792, :type :invoke, :process 1, :f :read, :value nil}
{:index 790, :time 25471206917, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 791, :time 25471265500, :type :invoke, :process 2, :f :read, :value nil}
{:index 802, :time 26155354042, :type :info, :process 219, :f :cas, :value [3 2], :error :net-timeout}
{:index 803, :time 26155552875, :type :invoke, :process 231, :f :cas, :value [1 3]}
{:index 806, :time 26247897584, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 807, :time 26269732375, :type :invoke, :process 0, :f :read, :value nil}
{:index 808, :time 26307030750, :type :info, :process 208, :f :cas, :value [1 0], :error :net-timeout}
{:index 809, :time 26307133167, :type :invoke, :process 220, :f :cas, :value [3 0]}
{:index 810, :time 26349236709, :type :info, :process 209, :f :cas, :value [1 4], :error :net-timeout}
{:index 811, :time 26371734917, :type :invoke, :process 221, :f :cas, :value [4 2]}
{:index 812, :time 26412442125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 813, :time 26412548917, :type :invoke, :process 1, :f :read, :value nil}
{:index 814, :time 26476089209, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 815, :time 26476199334, :type :invoke, :process 2, :f :read, :value nil}
{:index 826, :time 27160371417, :type :info, :process 231, :f :cas, :value [1 3], :error :net-timeout}
{:index 827, :time 27160471834, :type :invoke, :process 243, :f :cas, :value [2 4]}
{:index 830, :time 27273609500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 831, :time 27273657792, :type :invoke, :process 0, :f :read, :value nil}
{:index 832, :time 27306933459, :type :info, :process 220, :f :cas, :value [3 0], :error :net-timeout}
{:index 833, :time 27306980042, :type :invoke, :process 232, :f :write, :value 0}
{:index 834, :time 27376441375, :type :info, :process 221, :f :cas, :value [4 2], :error :net-timeout}
{:index 835, :time 27376521584, :type :invoke, :process 233, :f :cas, :value [4 2]}
{:index 836, :time 27415081375, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 837, :time 27415197667, :type :invoke, :process 1, :f :read, :value nil}
{:index 838, :time 27481223459, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 839, :time 27481358292, :type :invoke, :process 2, :f :read, :value nil}
{:index 850, :time 28165269667, :type :info, :process 243, :f :cas, :value [2 4], :error :net-timeout}
{:index 851, :time 28165406875, :type :invoke, :process 255, :f :cas, :value [0 3]}
{:index 854, :time 28278318000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 855, :time 28278433042, :type :invoke, :process 0, :f :read, :value nil}
{:index 856, :time 28311627500, :type :info, :process 232, :f :write, :value 0, :error :net-timeout}
{:index 858, :time 28378766375, :type :info, :process 233, :f :cas, :value [4 2], :error :net-timeout}
{:index 860, :time 28419346709, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 862, :time 28485901292, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 878, :time 29160546042, :type :ok, :process 255, :f :cas, :value [0 3]}
{:index 882, :time 29161883417, :type :ok, :process 0, :f :read, :value 3}
