{:index 665, :time 56412972834, :type :invoke, :process 335, :f :cas, :value [3 0]}
{:index 667, :time 56537884000, :type :invoke, :process 0, :f :read, :value nil}
{:index 669, :time 56733135334, :type :invoke, :process 2, :f :read, :value nil}
{:index 671, :time 56919839000, :type :invoke, :process 1, :f :read, :value nil}
{:index 673, :time 57114212959, :type :invoke, :process 339, :f :cas, :value [1 1]}
{:index 675, :time 57301749417, :type :invoke, :process 340, :f :cas, :value [3 4]}
{:index 676, :time 57418435542, :type :info, :process 335, :f :cas, :value [3 0], :error :net-timeout}
{:index 677, :time 57418540250, :type :invoke, :process 341, :f :cas, :value [3 4]}
{:index 678, :time 57543230250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 679, :time 57606930167, :type :invoke, :process 0, :f :read, :value nil}
{:index 680, :time 57734665542, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 681, :time 57734832959, :type :invoke, :process 2, :f :read, :value nil}
{:index 682, :time 57925401459, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 683, :time 57925589542, :type :invoke, :process 1, :f :read, :value nil}
{:index 684, :time 58118529584, :type :info, :process 339, :f :cas, :value [1 1], :error :net-timeout}
{:index 685, :time 58118645167, :type :invoke, :process 345, :f :write, :value 2}
{:index 686, :time 58306809917, :type :info, :process 340, :f :cas, :value [3 4], :error :net-timeout}
{:index 687, :time 58307034792, :type :invoke, :process 346, :f :write, :value 4}
{:index 688, :time 58420508584, :type :info, :process 341, :f :cas, :value [3 4], :error :net-timeout}
{:index 689, :time 58420804000, :type :invoke, :process 347, :f :write, :value 3}
{:index 690, :time 58612369000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 691, :time 58612589250, :type :invoke, :process 0, :f :read, :value nil}
{:index 692, :time 58738014792, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 693, :time 58738232042, :type :invoke, :process 2, :f :read, :value nil}
{:index 694, :time 58928760459, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 695, :time 58928984375, :type :invoke, :process 1, :f :read, :value nil}
{:index 696, :time 59124027959, :type :info, :process 345, :f :write, :value 2, :error :net-timeout}
{:index 697, :time 59124329542, :type :invoke, :process 351, :f :write, :value 4}
{:index 698, :time 59311530417, :type :info, :process 346, :f :write, :value 4, :error :net-timeout}
{:index 699, :time 59311638084, :type :invoke, :process 352, :f :cas, :value [1 0]}
{:index 700, :time 59422137334, :type :info, :process 347, :f :write, :value 3, :error :net-timeout}
{:index 701, :time 59517103542, :type :invoke, :process 353, :f :cas, :value [2 0]}
{:index 702, :time 59613873500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 703, :time 59661817959, :type :invoke, :process 0, :f :read, :value nil}
{:index 704, :time 59742007959, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 705, :time 59745632584, :type :invoke, :process 2, :f :read, :value nil}
{:index 706, :time 59931582042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 707, :time 59931726834, :type :invoke, :process 1, :f :read, :value nil}
{:index 708, :time 60135151584, :type :info, :process 351, :f :write, :value 4, :error :net-timeout}
{:index 709, :time 60317308917, :type :info, :process 352, :f :cas, :value [1 0], :error :net-timeout}
{:index 710, :time 60521131334, :type :info, :process 353, :f :cas, :value [2 0], :error :net-timeout}
{:index 711, :time 60668010834, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 712, :time 60745836250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 713, :time 60937090542, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
