{:index 1897, :time 59332506250, :type :invoke, :process 464, :f :cas, :value [3 1]}
{:index 1905, :time 59516347792, :type :invoke, :process 465, :f :cas, :value [3 3]}
{:index 1912, :time 59617423375, :type :invoke, :process 466, :f :write, :value 4}
{:index 1913, :time 59636015625, :type :invoke, :process 467, :f :write, :value 0}
{:index 1917, :time 60337136125, :type :info, :process 464, :f :cas, :value [3 1], :error :net-timeout}
{:index 1921, :time 60518935500, :type :info, :process 465, :f :cas, :value [3 3], :error :net-timeout}
{:index 1924, :time 60622115292, :type :info, :process 466, :f :write, :value 4, :error :net-timeout}
{:index 1925, :time 60640970209, :type :info, :process 467, :f :write, :value 0, :error :net-timeout}
