{:index 241, :time 20646419541, :type :invoke, :process 125, :f :cas, :value [1 3]}
{:index 243, :time 20812986750, :type :invoke, :process 1, :f :read, :value nil}
{:index 245, :time 21009362000, :type :invoke, :process 2, :f :read, :value nil}
{:index 247, :time 21198378458, :type :invoke, :process 129, :f :cas, :value [3 3]}
{:index 249, :time 21306613958, :type :invoke, :process 130, :f :cas, :value [0 1]}
{:index 251, :time 21493949791, :type :invoke, :process 0, :f :read, :value nil}
{:index 252, :time 21652368208, :type :info, :process 125, :f :cas, :value [1 3], :error :net-timeout}
{:index 253, :time 21652522000, :type :invoke, :process 131, :f :cas, :value [2 4]}
{:index 254, :time 21818187375, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 255, :time 21818330958, :type :invoke, :process 1, :f :read, :value nil}
{:index 256, :time 22010342916, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 257, :time 22010626833, :type :invoke, :process 2, :f :read, :value nil}
{:index 258, :time 22201970750, :type :info, :process 129, :f :cas, :value [3 3], :error :net-timeout}
{:index 259, :time 22202134916, :type :invoke, :process 135, :f :cas, :value [3 3]}
{:index 260, :time 22311773958, :type :info, :process 130, :f :cas, :value [0 1], :error :net-timeout}
{:index 261, :time 22387472500, :type :invoke, :process 136, :f :write, :value 0}
{:index 262, :time 22496194708, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 263, :time 22496329083, :type :invoke, :process 0, :f :read, :value nil}
{:index 264, :time 22657723500, :type :info, :process 131, :f :cas, :value [2 4], :error :net-timeout}
{:index 265, :time 22657857541, :type :invoke, :process 137, :f :cas, :value [3 4]}
{:index 266, :time 22822746625, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 267, :time 22850324375, :type :invoke, :process 1, :f :read, :value nil}
{:index 268, :time 23011361500, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 269, :time 23011495625, :type :invoke, :process 2, :f :read, :value nil}
{:index 270, :time 23204450708, :type :info, :process 135, :f :cas, :value [3 3], :error :net-timeout}
{:index 271, :time 23204702458, :type :invoke, :process 141, :f :cas, :value [2 3]}
{:index 272, :time 23393163958, :type :info, :process 136, :f :write, :value 0, :error :net-timeout}
{:index 273, :time 23393365166, :type :invoke, :process 142, :f :write, :value 4}
{:index 274, :time 23498025541, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 275, :time 23498161458, :type :invoke, :process 0, :f :read, :value nil}
{:index 276, :time 23658030041, :type :info, :process 137, :f :cas, :value [3 4], :error :net-timeout}
{:index 277, :time 23687596208, :type :invoke, :process 143, :f :cas, :value [4 4]}
{:index 278, :time 23854596083, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 279, :time 23854717541, :type :invoke, :process 1, :f :read, :value nil}
{:index 280, :time 24017009791, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 281, :time 24017160375, :type :invoke, :process 2, :f :read, :value nil}
{:index 282, :time 24207379250, :type :info, :process 141, :f :cas, :value [2 3], :error :net-timeout}
{:index 283, :time 24207534166, :type :invoke, :process 147, :f :cas, :value [2 0]}
{:index 284, :time 24395415375, :type :info, :process 142, :f :write, :value 4, :error :net-timeout}
{:index 285, :time 24395649708, :type :invoke, :process 148, :f :write, :value 2}
{:index 286, :time 24501758791, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 287, :time 24501893083, :type :invoke, :process 0, :f :read, :value nil}
{:index 288, :time 24692699291, :type :info, :process 143, :f :cas, :value [4 4], :error :net-timeout}
{:index 289, :time 24692874208, :type :invoke, :process 149, :f :cas, :value [0 4]}
{:index 290, :time 24859627416, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 291, :time 24859761958, :type :invoke, :process 1, :f :read, :value nil}
{:index 292, :time 25018152083, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 293, :time 25018289083, :type :invoke, :process 2, :f :read, :value nil}
{:index 294, :time 25210493208, :type :info, :process 147, :f :cas, :value [2 0], :error :net-timeout}
{:index 295, :time 25210648416, :type :invoke, :process 153, :f :cas, :value [2 4]}
{:index 296, :time 25401102625, :type :info, :process 148, :f :write, :value 2, :error :net-timeout}
{:index 297, :time 25401259916, :type :invoke, :process 154, :f :write, :value 2}
{:index 298, :time 25503677250, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 299, :time 25513163500, :type :invoke, :process 0, :f :read, :value nil}
{:index 300, :time 25698064250, :type :info, :process 149, :f :cas, :value [0 4], :error :net-timeout}
{:index 302, :time 25865078791, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 304, :time 26021367250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 306, :time 26212211916, :type :info, :process 153, :f :cas, :value [2 4], :error :net-timeout}
{:index 308, :time 26406462166, :type :info, :process 154, :f :write, :value 2, :error :net-timeout}
{:index 310, :time 26517307583, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
