{:index 425, :time 36140899084, :type :invoke, :process 215, :f :cas, :value [2 3]}
{:index 427, :time 36343672375, :type :invoke, :process 0, :f :read, :value nil}
{:index 429, :time 36425744792, :type :invoke, :process 2, :f :read, :value nil}
{:index 431, :time 36623203875, :type :invoke, :process 1, :f :read, :value nil}
{:index 433, :time 36792643709, :type :invoke, :process 219, :f :cas, :value [4 2]}
{:index 435, :time 36963279834, :type :invoke, :process 220, :f :cas, :value [2 1]}
{:index 436, :time 37144772084, :type :info, :process 215, :f :cas, :value [2 3], :error :net-timeout}
{:index 437, :time 37144849959, :type :invoke, :process 221, :f :cas, :value [3 2]}
{:index 438, :time 37349369542, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 439, :time 37349479250, :type :invoke, :process 0, :f :read, :value nil}
{:index 440, :time 37429149750, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 441, :time 37548482084, :type :invoke, :process 2, :f :read, :value nil}
{:index 442, :time 37624918250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 443, :time 37625004292, :type :invoke, :process 1, :f :read, :value nil}
{:index 444, :time 37796245417, :type :info, :process 219, :f :cas, :value [4 2], :error :net-timeout}
{:index 445, :time 37796454417, :type :invoke, :process 225, :f :write, :value 1}
{:index 446, :time 37964904250, :type :info, :process 220, :f :cas, :value [2 1], :error :net-timeout}
{:index 447, :time 37965126084, :type :invoke, :process 226, :f :write, :value 3}
{:index 448, :time 38149525667, :type :info, :process 221, :f :cas, :value [3 2], :error :net-timeout}
{:index 449, :time 38149663334, :type :invoke, :process 227, :f :cas, :value [0 1]}
{:index 450, :time 38355111000, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 451, :time 38355339000, :type :invoke, :process 0, :f :read, :value nil}
{:index 452, :time 38556975250, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 453, :time 38557135167, :type :invoke, :process 2, :f :read, :value nil}
{:index 454, :time 38630241417, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 455, :time 38745286917, :type :invoke, :process 1, :f :read, :value nil}
{:index 456, :time 38801105167, :type :info, :process 225, :f :write, :value 1, :error :net-timeout}
{:index 457, :time 38944568375, :type :invoke, :process 231, :f :cas, :value [2 2]}
{:index 458, :time 38966942125, :type :info, :process 226, :f :write, :value 3, :error :net-timeout}
{:index 459, :time 38967166417, :type :invoke, :process 232, :f :cas, :value [3 4]}
{:index 460, :time 39154908417, :type :info, :process 227, :f :cas, :value [0 1], :error :net-timeout}
{:index 461, :time 39155219542, :type :invoke, :process 233, :f :cas, :value [0 3]}
{:index 462, :time 39361059917, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 463, :time 39361261042, :type :invoke, :process 0, :f :read, :value nil}
{:index 464, :time 39564142042, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 465, :time 39564223625, :type :invoke, :process 2, :f :read, :value nil}
{:index 466, :time 39747418542, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 467, :time 39747595542, :type :invoke, :process 1, :f :read, :value nil}
{:index 468, :time 39951327459, :type :info, :process 231, :f :cas, :value [2 2], :error :net-timeout}
{:index 469, :time 39951566750, :type :invoke, :process 237, :f :cas, :value [2 1]}
{:index 470, :time 39972874542, :type :info, :process 232, :f :cas, :value [3 4], :error :net-timeout}
{:index 471, :time 40029009959, :type :invoke, :process 238, :f :write, :value 3}
{:index 472, :time 40161052125, :type :info, :process 233, :f :cas, :value [0 3], :error :net-timeout}
{:index 473, :time 40161210625, :type :invoke, :process 239, :f :write, :value 3}
{:index 474, :time 40362801792, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 475, :time 40362923959, :type :invoke, :process 0, :f :read, :value nil}
{:index 476, :time 40569044375, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 477, :time 40569302167, :type :invoke, :process 2, :f :read, :value nil}
{:index 478, :time 40752877084, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 479, :time 40752981875, :type :invoke, :process 1, :f :read, :value nil}
{:index 480, :time 40952795084, :type :info, :process 237, :f :cas, :value [2 1], :error :net-timeout}
{:index 481, :time 40952971459, :type :invoke, :process 243, :f :cas, :value [1 2]}
{:index 482, :time 41034554125, :type :info, :process 238, :f :write, :value 3, :error :net-timeout}
{:index 483, :time 41079370667, :type :invoke, :process 244, :f :write, :value 4}
{:index 484, :time 41162250750, :type :info, :process 239, :f :write, :value 3, :error :net-timeout}
{:index 486, :time 41368255875, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 488, :time 41572317625, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 490, :time 41758403042, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 492, :time 41958422125, :type :info, :process 243, :f :cas, :value [1 2], :error :net-timeout}
{:index 494, :time 42083917959, :type :info, :process 244, :f :write, :value 4, :error :net-timeout}
