{:index 1473, :time 50421853375, :type :invoke, :process 453, :f :cas, :value [4 0]}
{:index 1479, :time 50555397083, :type :invoke, :process 455, :f :cas, :value [1 0]}
{:index 1481, :time 51060200000, :type :invoke, :process 478, :f :write, :value 2}
{:index 1487, :time 51230126375, :type :invoke, :process 486, :f :cas, :value [1 0]}
{:index 1491, :time 51319517000, :type :invoke, :process 463, :f :cas, :value [2 1]}
{:index 1493, :time 51353382042, :type :invoke, :process 476, :f :cas, :value [4 1]}
{:index 1496, :time 51426571625, :type :info, :process 453, :f :cas, :value [4 0], :error :net-timeout}
{:index 1497, :time 51452998542, :type :invoke, :process 465, :f :cas, :value [0 2]}
{:index 1502, :time 51560067458, :type :info, :process 455, :f :cas, :value [1 0], :error :net-timeout}
{:index 1503, :time 51560171333, :type :invoke, :process 467, :f :cas, :value [4 2]}
{:index 1504, :time 52065262667, :type :info, :process 478, :f :write, :value 2, :error :net-timeout}
{:index 1505, :time 52065419042, :type :invoke, :process 490, :f :cas, :value [0 4]}
{:index 1510, :time 52235192000, :type :info, :process 486, :f :cas, :value [1 0], :error :net-timeout}
{:index 1511, :time 52235317458, :type :invoke, :process 498, :f :cas, :value [4 3]}
{:index 1514, :time 52319619833, :type :info, :process 463, :f :cas, :value [2 1], :error :net-timeout}
{:index 1515, :time 52354921250, :type :invoke, :process 475, :f :cas, :value [4 4]}
{:index 1516, :time 52355482083, :type :info, :process 476, :f :cas, :value [4 1], :error :net-timeout}
{:index 1517, :time 52382607333, :type :invoke, :process 488, :f :cas, :value [3 0]}
{:index 1520, :time 52458087917, :type :info, :process 465, :f :cas, :value [0 2], :error :net-timeout}
{:index 1521, :time 52466650375, :type :invoke, :process 477, :f :cas, :value [2 0]}
{:index 1525, :time 52564808333, :type :info, :process 467, :f :cas, :value [4 2], :error :net-timeout}
{:index 1527, :time 52617837292, :type :invoke, :process 479, :f :write, :value 2}
{:index 1528, :time 53070517250, :type :info, :process 490, :f :cas, :value [0 4], :error :net-timeout}
{:index 1529, :time 53070642375, :type :invoke, :process 502, :f :cas, :value [4 4]}
{:index 1534, :time 53240399500, :type :info, :process 498, :f :cas, :value [4 3], :error :net-timeout}
{:index 1538, :time 53355173833, :type :info, :process 475, :f :cas, :value [4 4], :error :net-timeout}
{:index 1540, :time 53387363875, :type :info, :process 488, :f :cas, :value [3 0], :error :net-timeout}
{:index 1544, :time 53471256583, :type :info, :process 477, :f :cas, :value [2 0], :error :net-timeout}
{:index 1550, :time 53622526833, :type :info, :process 479, :f :write, :value 2, :error :net-timeout}
{:index 1552, :time 54075722542, :type :info, :process 502, :f :cas, :value [4 4], :error :net-timeout}
