{:index 185, :time 15963028459, :type :invoke, :process 95, :f :cas, :value [1 2]}
{:index 187, :time 16129706084, :type :invoke, :process 0, :f :read, :value nil}
{:index 189, :time 16295366834, :type :invoke, :process 2, :f :read, :value nil}
{:index 191, :time 16448397959, :type :invoke, :process 1, :f :read, :value nil}
{:index 193, :time 16625322375, :type :invoke, :process 99, :f :cas, :value [4 2]}
{:index 195, :time 16822034542, :type :invoke, :process 100, :f :write, :value 1}
{:index 196, :time 16969665334, :type :info, :process 95, :f :cas, :value [1 2], :error :net-timeout}
{:index 197, :time 16969791334, :type :invoke, :process 101, :f :write, :value 1}
{:index 198, :time 17132527209, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 199, :time 17140726125, :type :invoke, :process 0, :f :read, :value nil}
{:index 200, :time 17300474417, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 201, :time 17300632667, :type :invoke, :process 2, :f :read, :value nil}
{:index 202, :time 17453811667, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 203, :time 17453920917, :type :invoke, :process 1, :f :read, :value nil}
{:index 204, :time 17631210709, :type :info, :process 99, :f :cas, :value [4 2], :error :net-timeout}
{:index 205, :time 17632613500, :type :invoke, :process 105, :f :cas, :value [3 1]}
{:index 206, :time 17833077042, :type :info, :process 100, :f :write, :value 1, :error :net-timeout}
{:index 207, :time 17833304709, :type :invoke, :process 106, :f :cas, :value [4 0]}
{:index 208, :time 17975299667, :type :info, :process 101, :f :write, :value 1, :error :net-timeout}
{:index 209, :time 17975497750, :type :invoke, :process 107, :f :cas, :value [3 1]}
{:index 210, :time 18145673834, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 211, :time 18145788917, :type :invoke, :process 0, :f :read, :value nil}
{:index 212, :time 18302656542, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 213, :time 18302872709, :type :invoke, :process 2, :f :read, :value nil}
{:index 214, :time 18459176125, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 215, :time 18459381625, :type :invoke, :process 1, :f :read, :value nil}
{:index 216, :time 18640588709, :type :info, :process 105, :f :cas, :value [3 1], :error :net-timeout}
{:index 217, :time 18640821375, :type :invoke, :process 111, :f :write, :value 0}
{:index 218, :time 18835602167, :type :info, :process 106, :f :cas, :value [4 0], :error :net-timeout}
{:index 219, :time 18835818584, :type :invoke, :process 112, :f :cas, :value [1 4]}
{:index 220, :time 18979867000, :type :info, :process 107, :f :cas, :value [3 1], :error :net-timeout}
{:index 221, :time 18980151709, :type :invoke, :process 113, :f :cas, :value [4 4]}
{:index 222, :time 19151086375, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 223, :time 19160476459, :type :invoke, :process 0, :f :read, :value nil}
{:index 224, :time 19311380500, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 225, :time 19311545375, :type :invoke, :process 2, :f :read, :value nil}
{:index 226, :time 19465110250, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 227, :time 19465249084, :type :invoke, :process 1, :f :read, :value nil}
{:index 228, :time 19647199834, :type :info, :process 111, :f :write, :value 0, :error :net-timeout}
{:index 229, :time 19647395959, :type :invoke, :process 117, :f :cas, :value [2 1]}
{:index 230, :time 19837523959, :type :info, :process 112, :f :cas, :value [1 4], :error :net-timeout}
{:index 231, :time 19837807250, :type :invoke, :process 118, :f :write, :value 3}
{:index 232, :time 19982926542, :type :info, :process 113, :f :cas, :value [4 4], :error :net-timeout}
{:index 233, :time 19983362084, :type :invoke, :process 119, :f :write, :value 0}
{:index 234, :time 20165096500, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 235, :time 20165286000, :type :invoke, :process 0, :f :read, :value nil}
{:index 236, :time 20312500209, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 237, :time 20313322917, :type :invoke, :process 2, :f :read, :value nil}
{:index 238, :time 20468543084, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 239, :time 20468730625, :type :invoke, :process 1, :f :read, :value nil}
{:index 240, :time 20652133500, :type :info, :process 117, :f :cas, :value [2 1], :error :net-timeout}
{:index 241, :time 20652397250, :type :invoke, :process 123, :f :write, :value 2}
{:index 242, :time 20839122959, :type :info, :process 118, :f :write, :value 3, :error :net-timeout}
{:index 243, :time 20839339709, :type :invoke, :process 124, :f :cas, :value [3 0]}
{:index 244, :time 20988871000, :type :info, :process 119, :f :write, :value 0, :error :net-timeout}
{:index 246, :time 21167042417, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 248, :time 21315605167, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 250, :time 21472726084, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 252, :time 21658957417, :type :info, :process 123, :f :write, :value 2, :error :net-timeout}
{:index 254, :time 21841606792, :type :info, :process 124, :f :cas, :value [3 0], :error :net-timeout}
